.sg-component {
  margin: 2em 0;
  border: 1px solid #ececec;
}

.sg-component-header {
  padding: 1.5em;
  background: #f7f7f7;
  border-bottom: 1px solid #ececec;
}

.sg-component-description {
  font-size: 15px;
  line-height: 18px;

  margin: 5px 0;
}

.sg-component-stylesheet {
  margin-top: 1em;
  font-size: 12px;
}

.sg-component-body {
  padding: 1.5em;
}
