.navigation, .page-content {
  max-height: 100vh;
}

.sg-component {
  margin: 2em 0;
  border: 1px solid #e7e7e7;
  border-radius: 4px;
  box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.1);
  font-size: 15px;
  line-height: 1.5;
}

.sg-component ul {
  list-style-type: disc;
}

.sg-component-header {
  padding: 1.5em;
  background: #f7f7f7;
  border-left: 4px solid #004990;
  border-top-left-radius: 4px;
}

.sg-component-description {
  font-size: 15px;
  line-height: 18px;

  margin: 5px 0;
}

.sg-component-stylesheet {
  margin-top: 1em;
  font-size: 12px;
}

.sg-component-body {
  padding: 2em;
  position: relative;
}

.sg-component h2 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.sg-component code {
  font-family: monospace;
}

// Icons
.sg-icons-html {
  code {
    white-space: pre-line;
  }
}

.sg-icons-list {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    display: inline-block;
    width: 100px;
    height: 120px;
    margin: 2px;

    &:hover {
      background-color: $grey-color-light;
    }

    div {
      margin-top: 20px;
      text-align: center;
      svg {
        width: 45px;
        height: 45px;
      }
    }

    label {
      margin-top: 10px;
      display: block;
      font-size: 12px;
      text-align: center;
      word-wrap: break-word;
    }
  }
}

.progress-bar-example-container {
  display: flex;
  padding: 30px 0;

  .progress-bar {
    margin: auto;
  }
}

.codepen-form {
  position: absolute;
  bottom: 2.4rem;
  right: 1.5rem;
}
