.root {
    &[data-variant='primary'] {
        padding: var(--mantine-spacing-xl);
        padding-bottom: var(--mantine-spacing-lg);
    }

    & .description {
        color: var(--mantine-color-gray-6);
        font-weight: 300;
    }
}

.title {
    word-break: break-word;

    &[data-variant='primary'] {
        color: var(--mantine-color-gray-5);
    }

    line-height: var(--mantine-line-height-md);
}

.docAnchor {
    margin-left: var(--mantine-spacing-xs);
    vertical-align: middle;
}

.breadcrumbs {
    font-size: var(--mantine-font-size-sm);
    font-weight: 300;
}

.breadcrumbsSeparator {
    color: var(--mantine-color-gray-5);
}
