.root {
    &[data-variant='page'] {
        padding: var(--mantine-spacing-xl);
        padding-bottom: var(--mantine-spacing-lg);
    }
    &[data-variant='modal'] {
        padding: undefined;
        padding-bottom: undefined;
    }
}
.title {
    word-break: break-word;
    &[data-variant='page'] {
        color: var(--mantine-color-gray-5);
    }
    &[data-variant='modal'] {
        color: undefined;
    }
    line-height: var(--mantine-line-height-md);
}
.description {
    color: var(--mantine-color-gray-6);
}
.divider {
}
