/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body > div {
    background-color: $background-color;
    flex-flow: column nowrap;
    display: flex;
    overflow: hidden;
    height: 100%;
}

.application-wrapper {
    height: 0;
}

.page-content {
    background-color: $background-color;
}

/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend .clearfix;

    @include media-query($on-laptop) {
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

.navigation {
    min-height: 100%;
}

.coveo-styleguide .navigation .navigation-menu {
    height: 0 !important;
}

.vapor-header-logo {
    width: 245px;
    height: 65px;
}

.vapor-header-logo svg {
    height: 30px;
    width: 80px;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Clearfix
 */
.clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
