.root {
    &[data-variant='destructive'] {
        &:where(:disabled:not([data-loading]), [data-disabled]:not([data-loading])) {
            color: red;
            & .inner {
                /*would control both icon and label*/
                color: yellow;
            }
            & .label {
                /*controls only the label*/
                color: blue;
            }
        }
        &:focus:focus-visible {
            background: purple;
            color: green;
        }
    }
}

.label {
    font-weight: 400;
}
