.root {
    --chip-color: var(--coveo-color-text-primary);
    --chip-bg: var(--mantine-primary-color-light);
    --chip-hover: var(--mantine-primary-color-filled-hover);
    --chip-radius: var(--mantine-radius-lg);
    --chip-size-xs: 24px;
    --chip-icon-size-xs: 12px;
    --chip-spacing-xs: var(--mantine-spacing-xs);
    --chip-padding-xs: 12px;
    --chip-checked-padding-xs: 6px 12px;
    --chip-icon-size-sm: var(--mantine-spacing-sm);
    --chip-spacing-sm: var(--mantine-spacing-xs);
    --chip-padding-sm: var(--mantine-spacing-sm);
    --chip-checked-padding-sm: var(--mantine-spacing-xs) var(--mantine-spacing-sm);

    > .label {
        &:not([data-checked]) {
            border: 1px solid var(--mantine-color-default-border);
            border-radius: var(--mantine-radius-lg);
            background-color: var(--mantine-color-white);

            @mixin hover {
                &[data-disabled] {
                    border: none;
                    color: var(--mantine-color-disabled-color);
                    background-color: var(--mantine-color-disabled);
                }

                background-color: var(--mantine-color-gray-light);
                border-color: var(--coveo-color-input-border);
            }
        }

        &:not([data-disabled]) {
            @mixin hover {
                &[data-checked] {
                    color: var(--mantine-color-white);
                }
            }
        }

        &[data-disabled] {
            border: none;
            color: var(--mantine-color-disabled-color);
            background-color: var(--mantine-color-disabled);
        }
    }
}
