.search {
    margin: 0 0 var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-md);
    border: 1px solid;
    width: 100%;
    border-color: var(--mantine-color-gray-4);
    &:focus {
        border-color: var(--mantine-primary-color-filled);
    }
}
