/* TODO: Plasma Reset, validate if we need the custom style for the search */
.search {
    margin: 0 0 var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-default);
    border: 1px solid;
    width: 100%;
    border-color: var(--mantine-color-default-border);

    &:focus {
        border-color: var(--mantine-primary-color-filled);
    }
}
