.wrapper {
    --input-section-color: var(--mantine-color-placeholder);

    @mixin light {
        --input-disabled-color: var(--mantine-color-disabled-color);

        &[data-variant='default'] {
            --input-bd: var(--coveo-color-input-border);
        }
    }

    &[data-disabled] {
        > .section {
            > svg {
                color: var(--input-disabled-color);
            }
        }
    }
}

.section {
    > svg {
        color: var(--mantine-color-gray-3);
    }
}
