.root {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xs);
}

.label {
    color: var(--coveo-color-title);
}

.description {
    font-weight: var(--coveo-fw-normal);
    font-size: var(--mantine-font-size-sm);
}

.error {
    font-weight: var(--coveo-fw-normal);
}
