.content {
    &[data-full-screen] {
        flex: 0 0 100%;
    }
    &[data-size='xs'] {
        flex: 0 0 rem(432);
    }
    &[data-size='sm'] {
        flex: 0 0 rem(664);
    }
    &[data-size='md'] {
        flex: 0 0 rem(896);
    }
    &[data-size='lg'] {
        flex: 0 0 rem(1120);
    }
    &[data-size='xl'] {
        flex: 0 0 rem('88%');
    }
    overflow: auto;
}

.title {
    width: 100%;
    font-size: var(--mantine-h3-font-size);
    line-height: var(--mantine-h3-line-height);
    font-weight: 500;
}

.header {
    &[data-variant='prompt'] {
        border-bottom: 1px solid var(--mantine-color-gray-3);
    }
}

.body {
    &:not(:only-child) {
        &[data-variant='prompt'] {
            padding-top: 0;
        }
    }
}
