.label {
    font-weight: var(--coveo-fw-bold);
}

.root:not([data-active]):hover {
    background-color: var(--mantine-color-default-hover);
}

.root:not([data-active]) {
    color: var(--coveo-color-title);
}

.children {
    & .label {
        font-weight: var(--coveo-fw-normal);
    }
}
