.root {
    &:where(:not([data-active]), [data-disabled]) {
        color: var(--coveo-color-title);

        &:hover {
            background-color: var(--mantine-color-default-hover);
        }
    }

    &:where([data-disabled]) {
        color: var(--coveo-color-text-disabled);
    }
}

.label {
    font-weight: var(--coveo-fw-bold);
}

.children {
    & .label {
        font-weight: var(--coveo-fw-normal);
    }
}
