.root {
    border-color: var(--mantine-color-gray-3);
    background-color: var(--mantine-color-gray-0);
    box-shadow: var(--mantine-shadow-lg);
    padding: var(--mantine-spacing-sm);
    &[data-with-icon] {
        padding-left: var(--mantine-spacing-sm);
    }
}

.icon {
    background-color: transparent;
    margin-right: var(--mantine-spacing-sm);
}

.closeButton {
    margin: var(--mantine-spacing-xs);
    color: var(--mantine-color-gray-5);
}
