.input {
    cursor: text;

    --input-bd: var(--mantine-color-default-border);
    --input-bg: var(--coveo-color-bg-readonly);
    --input-color: var(--mantine-color-text);
    --input-placeholder-color: var(--mantine-color-text);
}

.section {
    --input-section-color: var(--mantine-color-text);

    > svg {
        color: var(--input-section-color);
    }
}
