.input {
    cursor: text;

    --input-bd: var(--mantine-color-default-border);
    --input-bg: var(--mantine-color-gray-1);
    --input-color: var(--mantine-color-text);
    --input-placeholder-color: var(--mantine-color-placeholder);
}

.section {
    --input-section-color: var(--mantine-color-text);

    > svg {
        color: var(--mantine-color-gray-3);
    }
}
