:root {
    --sc-radius: var(--mantine-radius-sm);
}

.label {
    @mixin light {
        font-weight: 400;
        color: var(--mantine-color-dimmed);

        @mixin hover {
            color: var(--mantine-color-text);
        }

        &[data-active] {
            color: var(--mantine-color-text);
        }

        &[data-disabled] {
            color: var(--coveo-color-text-disabled);
        }
    }
}

.root {
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-default-border);

    @mixin light {
        background-color: var(--mantine-color-gray-light);
    }
}
