.option {
    @mixin light {
        color: var(--coveo-color-title);
        border-radius: var(--mantine-radius-sm);

        @mixin hover {
            &:not([data-combobox-disabled], [data-checked]) {
                background-color: var(--mantine-color-default-hover);
            }
        }

        &[data-combobox-disabled] {
            opacity: 1;
            color: var(--coveo-color-text-disabled);
        }

        &[data-combobox-active='true'] {
            background-color: var(--mantine-primary-color-light);
            color: var(--mantine-primary-color-5);

            + svg {
                opacity: 1;
            }
        }
    }
}

.groupLabel {
    @mixin light {
        color: var(--mantine-color-placeholder);
    }
}
