.root {
    &[data-variant='default'] {
        @mixin light {
            --tab-hover-color: var(--mantine-color-gray-1);
        }

        --tabs-list-border-width: 1px;
    }
}

.tab {
    line-height: 1.5;
}
