.root {
    &[data-variant='default'] {
        &[data-orientation='horizontal'] {
            .list {
                margin-bottom: calc(-1 * var(--tabs-list-border-width));
            }
        }
    }

    @mixin light {
        --tab-border-color: var(--mantine-color-default-border);
    }
}

.tab {
    font-weight: 500;
    line-height: 1.5;
}
