.root {
    &[data-variant='default'] {
        --tabs-list-border-width: 1px;

        &[data-orientation='horizontal'] {
            .list {
                margin-bottom: calc(-1 * var(--tabs-list-border-width));
            }
        }
    }
}

.tab {
    line-height: 1.5;
}
