// DEPRECATED, won't be used once Salesforce panel will have been refactored and once coveo-form will be completed.
form {
  .coveo-block-form {
    .form-group + .form-group {
      margin-top: 10px;
    }

    .form-group.sub {
      margin-left: 10px;
    }
  }
}

// New simple form, scoped under coveo-form to prevent breaking the table-form
.coveo-form {
  .form-control-label {
    display: inline-block;
    margin-bottom: $form-control-label-margin;

    color: $medium-blue;
    font-size: 13px;
    font-weight: bold;
  }

  .form-group {
    display: block;

    & + .form-group {
      margin-top: $form-group-margin;

      &.textbox {
        margin-top: $form-group-margin + $textbox-margin-top;
      }
    }

    &.coveo-checkbox-label, &.coveo-slide-toggle-label {
      display: flex;
    }
  }
}
