// DEPRECATED, won't be used once Salesforce panel will have been refactored and once coveo-form will be completed.
form {
    .coveo-block-form {
        .form-group + .form-group {
            margin-top: 10px;
        }

        .form-group.sub {
            margin-left: 10px;
        }
    }
}

// New simple form, scoped under coveo-form to prevent breaking the table-form
.coveo-form {
    &.mod-padding-children {
        > .input-field {
            margin-top: $form-group-margin + $input-margin-top;
        }

        > *:not(:first-child) {
            margin-top: $spacing * 2;

            &.input-field {
                margin-top: $form-group-margin + $input-margin-top;
            }
        }
    }

    .form-control-label {
        display: inline-flex; // Used for inline-help-tooltip placement
        align-items: center;
        margin-bottom: $form-control-label-margin;
        color: $medium-blue;
        font-size: $form-control-label-font-size;

        &.flex {
            display: flex;
        }
    }

    .form-group {
        display: block;

        & + .form-group {
            margin-top: $form-group-margin;

            &.input-field {
                margin-top: $form-group-margin + $input-margin-top;
            }
        }

        &.coveo-checkbox-label,
        &.coveo-slide-toggle-label {
            display: flex;
        }

        &.collapsable-panel-group {
            .panel-heading a {
                padding-left: 18px;
            }
            .toggle-icon {
                left: 0;
            }
        }

        @mixin section-mixin($level) {
            > :not(:first-child) {
                margin-top: ($spacing * $level) /2;
            }
            > .labeled-input {
                > .input-field {
                    margin-top: (($spacing * $level) /2) + 0.75rem;
                }

                > .help-text {
                    margin-top: 0.4rem;
                }

                > * {
                    margin-top: ($spacing * $level) /2;
                }
            }
            > .input-field {
                margin-top: (($spacing * $level) /2) + 0.75rem;
            }
            > .description {
                margin-top: 0;
            }
            > .btn {
                margin-top: 0;
            }
        }

        &.mod-padding-children {
            &.level-1 {
                @include section-mixin(6);
            }
            &.level-2 {
                @include section-mixin(4);
            }
            &.level-3 {
                @include section-mixin(2.5);
            }
        }
    }

    .inline-help-tooltip {
        margin-left: 10px;
        pointer-events: visible; // Very useful inside an input-field

        &,
        .inline-help-icon,
        .inline-help-icon > svg,
        .inline-link-icon,
        .inline-link-icon > svg {
            display: inline-block;
            width: 1.2em;
            height: 1.2em;
        }

        .inline-help-icon,
        .inline-help-icon > svg {
            fill: $medium-grey;
        }

        .inline-link-icon,
        .inline-link-icon > svg {
            fill: $orange;
        }
    }
}
