.coveo-flex-form {
  flex-flow: row wrap;

  display: flex;

  .coveo-slide-toggle-label.boxed {
    flex-basis: 0;
    flex-grow: 1;

    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }
}
