form .coveo-flex-form {
  flex-flow: row wrap;

  display: flex;
  margin: -10px 0 0 -10px;

  .coveo-slide-toggle-label.boxed {
    flex: auto;

    width: 0; // Fix to make all boxes the same size
    margin: 10px 0 0 10px;
  }
}
