.form-group {
  .input-validation-error-details {
    display: none;
  }

  &.input-validation-error, &.multiline-input-validation-error {
    .input-validation-error-details {
      align-items: center;

      display: flex;
      padding: 0 10px;

      color: $pure-white;
      font-size: 12px;
      line-height: 16px;

      background-color: $red;

      .input-validation-error-icon {
        &, svg.icon {
          width: 12px;
          height: 12px;
        }

        svg {
          fill: $red;
        }
      }

      .input-validation-error-message {
        margin-left: 5px;
      }
    }

    label {
      color: $red;
    }
  }

  &.multiline-input-validation-error .erroneous-input {
    background-color: $pure-white;
  }
}

// TODO remove when removing the table-form
.coveo-table-form .form-group {
  &.input-validation-error, &.multiline-input-validation-error {
    label, .value {
      border-bottom: solid 1px $red;
    }

    & > label:first-child {
      color: $red;
    }
  }
}
