$child-padding-y: 20px;
$child-padding-x: 20px;
$child-parent-spacing: 5px;
$child-arrow-width: 16px;
$child-arrow-height: 10px;

.coveo-child {
  position: relative;

  padding: $child-padding-y $child-padding-x;
  margin-top: $child-arrow-height + $child-parent-spacing;

  background-color: $white;
  border-radius: $border-radius;
  border-top-left-radius: 0;

  &:before {
    position: absolute;
    top: -$child-arrow-height;
    left: 0;

    display: block;
    width: 0;
    height: 0;

    content: '';

    border-right: $child-arrow-width / 2 solid transparent;
    border-bottom: $child-arrow-height solid $white;
    border-left: $child-arrow-width / 2 solid transparent;
  }

  &.mod-fixed-width {
    width: $input-max-width;
  }
}
