.form-group {
  .input-validation-error-details {
    display: none;
  }

  &.input-validation-error {
    .value {
      background-color: $invalid-background-color;
    }
  }

  &.input-validation-error, &.multiline-input-validation-error {
    .input-validation-error-details {
      display: block;
      padding: 0 10px;

      color: white;
      font-size: 11px;
      line-height: 15px;

      background-color: $invalid-message-background-color;

      i {
        vertical-align: -2px;
      }
    }

    label {
      color: $error-color;
    }

    label, .value {
      border-bottom: solid 1px $invalid-message-background-color;
    }
  }

  &.multiline-input-validation-error .erroneous-input {
    background-color: $invalid-background-color;
  }
}
