.headerColumnsEnabled {
    & input[type='checkbox'] {
        background-color: undefined;
        border-color: var(--mantine-color-gray-4);
        pointer-events: auto;
        cursor: default;
        & + svg {
            color: inerhit;
        }
    }
}

.headerColumnsDisabled {
    & input[type='checkbox'] {
        background-color: var(--mantine-color-gray-2);
        border-color: var(--mantine-color-gray-3);
        pointer-events: none;
        cursor: not-allowed;
        & + svg {
            color: var(--mantine-color-gray-5);
        }
    }
}
.rowSelectedMultiSelectEnabled {
    background-color: transparent;
}
.rowSelectedMultiSelectDisabled {
    @mixin light {
        background-color: var(--mantine-color-gray-1);
    }
    @mixin dark {
        background-color: rgba(var(--mantine-color-primary-7), 0.2);
    }
}
.rowUnselectable {
    & input[type='checkbox'] {
        background-color: var(--mantine-color-gray-2);
        border-color: var(--mantine-color-gray-3);
        pointer-events: none;
        cursor: not-allowed;
        &:checked + svg {
            color: var(--mantine-color-gray-5);
        }
    }
}
.rowCollapsibleButtonCell {
    text-align: right;
    padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-sm) !important;
}
.row {
    & td:first-of-type {
        padding-left: 40px;
    }
    @mixin hover {
        @mixin light {
            background-color: var(--mantine-color-gray-1);
        }
        @mixin dark {
            background-color: rgba(var(--mantine-color-primary-7), 0.2);
        }
    }
    overflow-wrap: anywhere;
}
.cell {
    vertical-align: middle;
    /* We must use height instead of minHeight here, otherwise it doesn’t apply*/
    height: 56px;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-bottom: rem(1) solid var(--mantine-color-gray-3);
}
.collapsible {
    @mixin light {
        border-bottom: rem(1) solid var(--mantine-color-gray-3);
        background-color: var(--mantine-color-gray-1);
    }
    @mixin dark {
        border-bottom: rem(1) solid var(--mantine-color-dark-4);
        background-color: rgba(var(--mantine-color-primary-7), 0.2);
    }
}
