.root {
    position: sticky;
    bottom: 0;
    z-index: 10;
    background-color: white;
    padding: var(--mantine-spacing-md) var(--mantine-spacing-lg);

    &[data-variant='modal-footer'] {
        border-top: 1px solid var(--mantine-color-gray-3);
        padding-bottom: 0;
        margin-top: var(--mb-padding);
        margin-bottom: calc(var(--mantine-spacing-md) - var(--mb-padding));
        margin-left: calc(-1 * var(--mb-padding));
        margin-right: calc(-1 * var(--mb-padding));
    }
}

.border {
    border-top: 1px solid var(--mantine-color-gray-3);
}
