.table {
    width: 100%;
}

.header {
    position: sticky;
    top: 0;
    transition: box-shadow 150ms ease;
    z-index: 1;
    @mixin light {
        background-color: var(--mantine-color-white);
    }
    @mixin dark {
        background-color: var(--mantine-color-black);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid var(--mantine-color-gray-3);
    }
}

/* Table.Actions */
.actionsGroup {
    display: inline-flex;
}

/* Table.DateRange */
.dateRangeLabel {
    font-size: var(--mantine-font-size-sm);
    font-weight: 300;
}

/* Table.Filter */
.filterWrapper {
    margin-bottom: 0 !important;
    width: 20rem;
}
.filterEmpty {
    color: var(--mantine-color-gray-4);
}

/* Table.Header */
.headerRoot {
    border-bottom: 1px solid var(--mantine-color-gray-3);
    background: repeating-linear-gradient(
        var(--mantine-color-gray-1),
        var(--mantine-color-gray-1) 68px,
        var(--mantine-color-gray-3) 68px,
        var(--mantine-color-gray-3) 69px
    );
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-lg);
    position: relative;
}
.headerGridInner {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.headerCol {
    padding: 0 var(--mantine-spacing-xs);
    display: flex;
}

.th {
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    vertical-align: middle;
    white-space: nowrap;
    text-align: left;
    color: var(--mantine-color-gray-6);
    height: var(--mantine-spacing-xl);
    font-weight: 500;
    font-size: var(--mantine-font-size-xs);

    &:first-of-type {
        padding-left: var(--mantine-spacing-xl);
    }

    &:last-of-type {
        padding-right: var(--mantine-spacing-xl);
    }
    @mixin light {
        background-color: var(--mantine-color-gray-0);
    }
    @mixin dark {
        background-color: var(--mantine-color-gray-8);
    }

    &[data-control='true'] {
        @mixin hover {
            @mixin light {
                background-color: var(--mantine-color-gray-1);
            }
            @mixin dark {
                background-color: var(--mantine-color-gray-7);
            }
        }
    }
}

.lastUpdatedRoot {
    min-height: 98px;
}
.lastUpdatedLabel {
    color: var(--mantine-color-gray-6);
}

/* Table.Predicate */
.predicateLabel {
    font-size: var(--mantine-font-size-sm);
}

/* Table.ColumnsSelector */
.columnSelector {
    max-width: 100%;
}
