.table {
    width: 100%;
}

.header {
    position: sticky;
    top: 0;
    transition: box-shadow 150ms ease;
    z-index: 1;
    @mixin light {
        background-color: var(--mantine-color-white);
    }
    @mixin light {
        background-color: var(--mantine-color-black);
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        border-bottom: 1px solid var(--mantine-color-gray-3);
    }
}

.body {
}
