@import '~coveo-styleguide/scss/common/palette.scss';
@import '~coveo-styleguide/scss/variables.scss';

.stickyFooter {
    position: sticky;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: flex-end;
  
    display: flex;
    overflow: hidden;
  
    background-color: $white;
    border-radius: 0 0 $border-radius $border-radius;
    padding: $modal-footer-small-padding;

    transform: translate3d(0, 100%, 0);
    transition: transform $navigation-toggle-duration ease-in-out, width $navigation-toggle-duration ease-in-out;
    will-change: transform;
}

.stickyFooterOpened {
  transform: translate3d(0, 0, 0);
}

:global(.sticky-footer-mod-header) {
    margin-left: -$header-padding;
    margin-right: -$header-padding;
}
