.diff-viewer {
    @import '~react-diff-view/style';

    // configure the style of the library
    --diff-background-color: var(--grey-10);
    --diff-text-color: var(--grey-80);
    --diff-font-family: var(--code-font);
    --diff-gutter-insert-background-color: var(--rain-forest-green-20);
    --diff-gutter-delete-background-color: var(--pomegranate-red-20);
    --diff-code-insert-background-color: var(--rain-forest-green-10);
    --diff-code-delete-background-color: var(--pomegranate-red-10);

    // new variable
    --diff-gutter-decoration-background-color: var(--cerulean-blue-20);
    --diff-decoration-background-color: var(--cerulean-blue-10);

    .diff-decoration {
        background-color: var(--diff-decoration-background-color);
    }

    .diff-decoration-gutter {
        background-color: var(--diff-gutter-decoration-background-color);
    }

    .diff .diff-decoration-content {
        padding: 8px 16px;
    }
}
