.info-token {
    &.mod-info {
        color: var(--info-60);
    }

    &.mod-success {
        color: var(--success-60);
    }

    &.mod-warning {
        color: var(--warning-70);
    }

    &.mod-error {
        color: var(--critical-70);
    }

    &.filled {
        &,
        [fill] {
            fill: currentcolor;
        }

        &,
        [stroke] {
            stroke: var(--white);
        }

        &.mod-warning {
            stroke: var(--black);

            [stroke] {
                stroke: var(--black);
            }
        }
    }
}
