.list-box {
    z-index: 1000;
    min-width: 100%;
    min-height: 88px;

    max-height: $list-box-max-height;
    margin: 0;
    padding: 8px 0px 16px;
    overflow-y: auto;
    background-color: var(--white);
    border: $default-border;
    border-radius: 8px;

    box-shadow: $list-box-box-shadow;

    @include slim-scroll(var(--grey-20), var(--grey-50));
}

.item-box {
    --background-color: var(--white);
    --color: var(--default-text-color);

    padding: $item-box-vertical-spacing $item-box-horizontal-spacing;
    overflow: hidden;
    color: var(--color);
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;
    background-color: var(--background-color);

    cursor: pointer;

    &:hover {
        --background-color: var(--grey-20);
    }

    &:focus,
    &.selected,
    &.active {
        --background-color: #e3f1ff;
        --color: var(--digital-blue-80);
        border: 1px solid var(--digital-blue-20);
    }

    &:focus {
        border-color: var(--deprecated-turquoise);
    }

    &.disabled {
        --color: var(--grey-60);
        cursor: default;
    }

    &.multi-line {
        white-space: normal;
        word-break: break-word;
    }

    &.divider {
        height: $item-box-divider-height;
        margin: $item-box-vertical-spacing 0;
        padding: 0;
        --background-color: var(--deprecated-medium-grey);

        cursor: default;
    }

    .prepend,
    .append {
        color: var(--deprecated-medium-grey);

        &-red {
            color: var(--critical-70);
        }
    }
}

.item-box-loading {
    height: 14px;
    background-color: var(--grey-40);
    border-radius: 8px;
}

.select-footer {
    padding: $item-box-vertical-spacing $item-box-horizontal-spacing;
    overflow: hidden;
    color: var(--deprecated-dark-grey);
    font-size: var(--small-font-size);
    line-height: $default-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;
    border-top: $default-border;
}
