.dropdown.mod-menu {
    &.header-section:hover,
    &.header-section.open {
        background-color: var(--navy-blue-100);
    }

    .dropdown-toggle {
        height: auto;
        min-height: $button-height;
        text-transform: none;
        background-color: transparent;
        border: none;
        cursor: pointer;

        .dropdown-toggle-arrow {
            @include arrow-down-icon(var(--white));
        }

        .dropdown-toggle-arrow-style {
            fill: var(--white);
        }
    }

    &.open .dropdown-toggle .dropdown-toggle-arrow {
        @include arrow-up-icon(var(--white));
    }

    .dropdown-menu {
        li {
            > a,
            > span {
                padding: 8px 38px;
            }

            &.divider {
                margin: 8px 0;
            }
        }
    }
}
