.search-bar {
    display: flex;
    min-width: $search-bar-min-width;
    height: $input-height;
    border: $default-border;
    border-radius: $border-radius;
}

.search-bar-input {
    float: left;
    width: calc(100% - #{$search-bar-width-without-input});
    height: $input-height;
    margin-top: -$default-border-size;
    margin-left: $search-bar-input-margin-left;
    background-color: transparent;
    border: none;

    &:focus {
        outline: 0;
    }
}

.search-bar-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $search-bar-icon-margin;

    svg {
        width: $search-bar-icon-size;
        height: $search-bar-icon-size;
        cursor: pointer;
        fill: var(--navy-blue-80);
    }
}

.search-bar-disabled svg {
    cursor: default;
    fill: var(--deprecated-light-grey);
}

.search-icon-disabled {
    fill: var(--grey-40);
}

.search-bar-loading .search-bar-icon-container {
    position: relative;
}
