.search-bar {
    min-width: $search-bar-min-width;
    height: $input-height;
    border: $default-border;
    border-radius: $border-radius;
}

.search-bar-input {
    float: left;
    width: calc(100% - #{$search-bar-width-without-input});
    height: $input-height;
    margin-top: -$default-border-size;
    margin-left: $search-bar-input-margin-left;
    background-color: transparent;
    border: none;

    &:focus {
        outline: 0;
    }
}

.search-bar-icon-container {
    margin: 8px;
    color: var(--navy-blue-80);
    cursor: pointer;
}

.search-icon-disabled {
    color: var(--grey-40);
    cursor: default;
}

.search-bar-loading .search-bar-icon-container {
    position: relative;
}

.search-bar-spinner {
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    background: var(--gradient);
    border-radius: 10rem;
    animation: loading-spinner 1s linear infinite;

    &:before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        height: 80%;
        background: var(--white);
        border: 1px solid white;
        border-radius: 10rem;
        transform: translate(-50%, -50%);
        content: '';
    }
}
