.selected-option {
    position: relative;
    display: inline-flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 100%;
    min-height: $dropdown-multiselect-option-height;
    margin: $dropdown-multiselect-margin;
    color: var(--title-text-color);
    font-size: $button-small-font-size;
    line-height: $dropdown-multiselect-option-height;
    background-color: var(--white);
    border: $default-border;
    border-radius: $border-radius;

    cursor: default;
}

.selected-option-item {
    flex: 0 1 auto;
    align-self: center;
}

.selected-option-value {
    margin-left: $dropdown-multiselect-items-margin;
    overflow: hidden;
    text-overflow: ellipsis;

    @extend .selected-option-item;
    &.readOnly {
        margin-right: $dropdown-multiselect-items-margin;
    }
}

.move-option {
    justify-content: center;
    height: 100%;
    margin-left: $dropdown-multiselect-items-margin;
}

.remove-option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-width: $dropdown-multiselect-option-height;
    height: 100%;
    margin-left: $dropdown-multiselect-items-margin;
    border-left: $default-border;
    transition: $button-color-transition;

    @extend .selected-option-item;
}

.remove-option:hover {
    background-color: var(--deprecated-medium-grey);

    cursor: pointer;
}

.remove-option:active {
    background-color: var(--deprecated-medium-grey);
}

// Single select
.single-select-fixed-width {
    width: $dropdown-button-min-width;
}
