.sub-navigation {
    min-width: $sub-navigation-min-width;
    overflow: auto;
    background-color: var(--white);
    border-right: $sub-navigation-min-width;

    @include slim-scroll(var(--deprecated-medium-grey), var(--deprecated-dark-grey));

    .sub-navigation-items {
        padding-top: $sub-navigation-padding-top;

        .sub-navigation-item {
            position: relative;

            .sub-navigation-item-link {
                display: block;
                padding: $sub-navigation-item-padding;
                color: var(--title-text-color);
                line-height: $sub-navigation-line-height;

                &-with-description {
                    display: block;
                    padding: 0 40px;

                    &-label {
                        @extend .body-l;

                        padding: 16px 0;
                    }
                }

                &.disabled {
                    color: var(--deprecated-medium-grey);
                    cursor: default;
                }
            }

            &-description {
                display: block;
                padding: 0 40px 24px;
            }

            &.mod-selected {
                background-color: var(--grey-20);

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: $sub-navigation-selected-border-width;
                    height: 100%;
                    background-color: var(--primary-color-60);
                    content: '';
                }
            }
        }
    }
}
