$toast-container-margin: 20px;
$toast-margin-top: $header-height;
$toast-download-padding: 20px;
$toast-close-padding-left: 20px;

.toast-container {
    position: fixed;
    top: $toast-margin-top;
    right: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;

    box-sizing: border-box;
    pointer-events: none;

    &.mod-bottom {
        top: inherit;
        bottom: $toast-container-margin;
        flex-flow: column;

        .toast.mod-animated {
            animation-name: toastFadeInBottom;
        }
    }

    &.mod-left {
        right: inherit;
        left: $toast-container-margin;
        align-items: flex-start;
    }

    &.mod-right {
        right: $toast-container-margin;
        left: inherit;
        align-items: flex-end;
    }
}

.toast {
    // Default Style
    @extend .body-l-book;
    z-index: 9999;
    display: flex;
    min-width: var(--min-width);
    max-width: var(--max-width);
    min-height: 64px;
    margin-bottom: 10px;
    padding: 16px;
    color: var(--text-color);

    // override
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: var(--high-elevation-on-neutral);
    pointer-events: all;

    // variables
    --background-color: var(--success-60);
    --min-width: 280px;
    --max-width: 456px;
    --text-color: var(--white);

    &.mod-success {
        --background-color: var(--success-60);
    }

    &.mod-warning {
        --background-color: var(--warning-70);
        --text-color: var(--black);
    }

    &.mod-error {
        --background-color: var(--critical-70);
    }

    &.mod-info {
        --background-color: var(--info-60);
    }

    &.mod-hidden {
        display: none;
    }

    &.mod-animated {
        opacity: 0;
        animation-name: toastFadeInTop;
        animation-duration: 0.3s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    a {
        @extend .body-l;
        color: inherit;
        text-decoration: underline;
    }

    &:not(.mod-download) .toast-content-container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: center;
    }

    &.mod-download {
        @extend .body-l;
        min-width: 300px;
        padding: 0;
        color: var(--white);
        background: var(--info-60);
        // border-bottom-right-radius: 8px;
        // border-bottom-left-radius: 8px;
        border-radius: 8px;
        box-shadow: var(--high-elevation-on-neutral);
        // border: 1px solid var(--white);

        .toast-download-container {
            width: 100%;
        }

        .toast-title,
        .toast-close {
            padding: $toast-download-padding;
        }

        .toast-description {
            @extend .body-s-book;
            margin-top: 0;
            padding: $toast-download-padding;
            color: var(--grey-80);
            background: var(--white);
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            filter: drop-shadow(0px 8px 17px rgba(142, 142, 142, 0.22));

            > div {
                width: 100%;
            }

            .spinner-container {
                width: 16px;

                .search-bar-spinner {
                    left: 7px; // for pixel perfect alignment
                }
            }
        }
    }
}

.toast-title {
    overflow-wrap: anywhere;
}

.toast-description {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 10px;
}

.toast-close {
    display: flex;
    align-items: center;
    margin-right: 3px;
    cursor: pointer;
    fill: var(--text-color);

    svg {
        width: 24px;
        height: 24px;
    }
}

@keyframes toastFadeInTop {
    from {
        transform: translate(0, -100%);

        opacity: 0;
    }
    to {
        transform: translate(0, 0);

        opacity: 1;
    }
}

@keyframes toastFadeInBottom {
    from {
        transform: translate(0, 100%);

        opacity: 0;
    }
    to {
        transform: translate(0, 0);

        opacity: 1;
    }
}
