.tooltip {
    position: absolute;
    z-index: $tooltip-z-index;
    display: block;
    visibility: visible;
    opacity: 0;

    &.show,
    &.in {
        opacity: 1;
    }

    &.top,
    &.bottom,
    &[data-popper-placement='top'],
    &[data-popper-placement='bottom'] {
        margin: 20px 0;
    }

    &.right,
    &.left,
    &[data-popper-placement='right'],
    &[data-popper-placement='left'] {
        margin: 0 6px;
    }

    .tooltip-inner {
        @extend .body-s-book;
        max-width: 300px;
        padding: 8px 16px;
        color: var(--white);
        white-space: normal;
        text-decoration: none;
        word-wrap: break-word;
        background-color: hsla(240, 29%, 45%, 0.8);
        border: 1px solid var(--navy-blue-60);
        border-radius: 8px;
        box-shadow: 0px 8px 24px rgba(63, 63, 113, 0.53);
    }
}

.tooltip-footer {
    margin-top: $tooltip-spacing;
}

// ChartTooltipContent

$chart-tooltip-content-size: 3px;

.chart-tooltip-content {
    font-size: $small-font-size;
    background-color: var(--white);
    border: $default-border;
    box-shadow: 0 0 $chart-tooltip-content-size 0 rgba(var(--black-rgb), $transparency-4);
}

.chart-tooltip-color {
    width: $chart-tooltip-content-size;
    height: 18px;
}

.chart-tooltip-label {
    padding-top: $chart-tooltip-content-size;
    padding-bottom: $chart-tooltip-content-size;
}
