// Must be the first import
@import 'dependencies';
@import 'colors';
@import 'variables';
@import 'redesign/variables';
@import 'common/common';
@import 'custom-reset';
@import 'animations';
@import 'slide-animation';
@import 'helpers';
@import 'tools/loading';
@import 'placeholders';
@import 'typekit';

// Utility
@import 'utility/shadow';
@import 'utility/transitions';

// Progress bar
@import 'elements/progress-bar';

// Buttons
@import 'elements/btn';
@import 'elements/btn-append-prepend';

// Typography
@import 'typography/elements';
@import 'elements/links';
@import 'elements/color-dot';

// Icons
@import 'icons/icons';
@import 'icons/svgs';

// Controls
@import 'controls/checkboxes';
@import 'controls/collapsable';
@import 'controls/datepicker';
@import 'controls/dropdown';
@import 'controls/filter-box';
@import 'controls/flat-select';
@import 'controls/inputs';
@import 'controls/numeric-spinner';
@import 'controls/radios';
@import 'controls/slide-toggle';
@import 'controls/slide-toggle-double';
@import 'controls/splash';
@import 'controls/input-field';
@import 'controls/numeric-input';
@import 'controls/multiline-field';
@import 'controls/file-input';
@import 'controls/slider';

// filters
@import 'controls/filtering/filter-picker';
@import 'controls/filtering/filters-list';
@import 'controls/filtering/filters-values';
@import 'controls/filtering/multi-filter-picker';

// Components
@import 'components/list-box';
@import 'components/breadcrumbs';
@import 'components/drop';
@import 'components/filepicker';
@import 'components/info-token';

.coveo-styleguide {
    // Tables
    @import 'tables/table';
    @import 'tables/big-table';
    @import 'tables/fixed-header-table';
    @import 'tables/table-actions';
    @import 'tables/table-align-header';
    @import 'tables/table-collapsible-rows';
    @import 'tables/pagination';
    @import 'tables/table-slim-rows';
    @import 'tables/table-alternating-rows';
    @import 'tables/table-drag-and-drop';
    @import 'tables/table-loading';

    // Components
    @import 'components/prompt';
    @import 'components/header';
    @import 'components/navigation';
    @import 'components/sticky-footer';
    @import 'components/sub-navigation';
    @import 'components/navigation-loading';
    @import 'components/application-container';
    @import 'components/member';
    @import 'components/menu';
    @import 'components/tooltip';
    @import 'components/markdown-documentation';
    @import 'components/popover';
    @import 'components/modal';
    @import 'components/lightbox-search';
    @import 'components/blankslate';
    @import 'components/banner';
    @import 'components/collapsible';
    @import 'components/panel-header';
    @import 'components/facet';
    @import 'components/loading';
    @import 'components/wizard-card';
    @import 'components/calendar';
    @import 'components/tab';
    @import 'components/sync-feedback';
    @import 'components/multiselect-input';
    @import 'components/home-card';
    @import 'components/toast';
    @import 'components/limit-box';
    @import 'components/labeled-value';
    @import 'components/step-progress-bar';
    @import 'components/badge';
    @import 'components/corner-ribbon';
    @import 'components/code-editor';
    @import 'components/icon-badge';
    @import 'components/icon-card';
    @import 'components/flippable';
    @import 'components/material-card';
    @import 'components/content-placeholder';
    @import 'components/search-bar';
    @import 'components/multi-step-bar';
    @import 'components/card';
    @import 'components/browser-preview';
    @import 'components/info-box';
    @import 'components/actionable-item';
    @import 'components/bordered-line';
    @import 'components/split-multiline-input';
    @import 'components/separator';
    @import 'components/table-hoc';
    @import 'components/modal-wizard';
    @import 'components/diff-viewer';

    // Forms
    @import 'forms/form-sections';
    @import 'forms/form-child';
    @import 'forms/block-form';
    @import 'forms/flex-form';
    @import 'forms/table-form';
    @import 'forms/form-validation';
    @import 'controls/half-input';

    // Utility
    @import 'typography/utility';
    @import 'typography/lists';
    @import 'typography/font-size';
    @import 'utility/align';
    @import 'utility/border';
    @import 'utility/flex';
    @import 'utility/layout';
    @import 'utility/position';
    @import 'utility/white-space';
    @import 'utility/default-white-space';
    @import 'utility/spaced-boxes';
    @import 'utility/cursor';
    @import 'utility/pointers';
    @import 'utility/transparency';
    @import 'controls/text-input';
}
