.slide-y {
    height: 0;
    transition-timing-function: ease-in-out;

    transition-duration: $slide-y-transition-duration;
    transition-property: none;
}

.slide-y-transition {
    overflow-y: hidden;
}

.slide-y-closed {
    display: none;
}
