:root {
    --font-weight-light: 300;
    --font-weight-book: 400;
    --font-weight-medium: 500;
}

%medium {
    font-weight: var(--font-weight-medium);
}

%book {
    font-weight: var(--font-weight-book);
}

%light {
    font-weight: var(--font-weight-light);
}

%regular {
    --color: var(--grey-100);
    color: var(--color);
}

%subdued {
    --color: var(--grey-80);
    color: var(--color);
}

%italic {
    font-style: italic;
}

%hero {
    font-size: 64px;
    line-height: 72px;
    letter-spacing: 0.011em;
}

%h1 {
    font-size: 3rem;
    line-height: 4.5rem;
    letter-spacing: 0.011em;
}

%h2 {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.011em;
}

%h3 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: 0.011em;
}

%h4 {
    font-size: 1.125rem;
    line-height: 1.688rem;
    letter-spacing: 0.011em;
}

%h5 {
    font-size: 0.875rem;
    line-height: 1.313rem;
    letter-spacing: 0.011em;
}

%h6 {
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.011em;
}

%body-l {
    font-size: 1.125rem;
    line-height: 1.688rem;
    letter-spacing: 0.003em;
}

%body-m {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.003em;
}

%body-s {
    font-size: 0.875rem;
    line-height: 1.313rem;
    letter-spacing: 0.003em;
}

%caption {
    font-size: 0.625rem;
    line-height: 0.938rem;
    letter-spacing: 0.003em;
}

%code {
    padding: 0 0.25em;
    color: var(--grey-80);
    font-family: $code-font-family;
    overflow-wrap: break-word;
    background-color: var(--grey-20);
    border: 1px solid var(--grey-40);
    border-radius: 3px;
}

.hero {
    @extend %hero;
    @extend %medium;
    @extend %regular;
}

.hero-light {
    @extend %hero;
    @extend %light;
    @extend %regular;
}

.hero-subdued {
    @extend %hero;
    @extend %medium;
    @extend %subdued;
}

.hero-light-subdued {
    @extend %hero;
    @extend %light;
    @extend %subdued;
}

.h1,
h1 {
    @extend %h1;
    @extend %medium;
    @extend %regular;
}

.h1-subdued {
    @extend %h1;
    @extend %medium;
    @extend %subdued;
}

.h1-light {
    @extend %h1;
    @extend %light;
    @extend %regular;
}

.h1-light-subdued {
    @extend %h1;
    @extend %light;
    @extend %subdued;
}

.h2,
h2 {
    @extend %h2;
    @extend %medium;
    @extend %regular;
}

.h2-subdued {
    @extend %h2;
    @extend %medium;
    @extend %subdued;
}

.h2-book {
    @extend %h2;
    @extend %book;
    @extend %regular;
}

.h2-book-subdued {
    @extend %h2;
    @extend %book;
    @extend %subdued;
}

.h3,
h3 {
    @extend %h3;
    @extend %medium;
    @extend %regular;
}

.h3-subdued {
    @extend %h3;
    @extend %medium;
    @extend %subdued;
}

.h3-book {
    @extend %h3;
    @extend %book;
    @extend %regular;
}

.h3-book-subdued {
    @extend %h3;
    @extend %book;
    @extend %subdued;
}

.h4,
h4 {
    @extend %h4;
    @extend %medium;
    @extend %regular;
}

.h4-subdued {
    @extend %h4;
    @extend %medium;
    @extend %subdued;
}

.h4-book {
    @extend %h4;
    @extend %book;
    @extend %regular;
}

.h4-book-subdued {
    @extend %h4;
    @extend %book;
    @extend %subdued;
}

.h5,
h5 {
    @extend %h5;
    @extend %medium;
    @extend %regular;
}

.h5-subdued {
    @extend %h5;
    @extend %medium;
    @extend %subdued;
}

.h6,
h6 {
    @extend %h6;
    @extend %medium;
    @extend %regular;
}

.h6-subdued {
    @extend %h6;
    @extend %medium;
    @extend %subdued;
}

.body-l {
    @extend %body-l;
    @extend %medium;
    @extend %regular;
}

.body-l-book {
    @extend %body-l;
    @extend %book;
    @extend %regular;
}

.body-l-book-italic {
    @extend %body-l;
    @extend %italic;
    @extend %book;
    @extend %regular;
}

.body-l-subdued {
    @extend %body-l;
    @extend %medium;
    @extend %subdued;
}

.body-l-book-subdued {
    @extend %body-l;
    @extend %book;
    @extend %subdued;
}

.body-l-book-italic-subdued {
    @extend %body-l;
    @extend %italic;
    @extend %book;
    @extend %subdued;
}

.body-m {
    @extend %body-m;
    @extend %medium;
    @extend %regular;
}

.body-m-book,
p,
.p {
    @extend %body-m;
    @extend %book;
    @extend %regular;
}

.body-m-book-italic {
    @extend %body-m;
    @extend %italic;
    @extend %book;
    @extend %regular;
}

.body-m-subdued {
    @extend %body-m;
    @extend %medium;
    @extend %subdued;
}

.body-m-book-subdued {
    @extend %body-m;
    @extend %book;
    @extend %subdued;
}

.body-m-book-italic-subdued {
    @extend %body-m;
    @extend %italic;
    @extend %book;
    @extend %subdued;
}

.body-s {
    @extend %body-s;
    @extend %medium;
    @extend %regular;
}

.body-s-book {
    @extend %body-s;
    @extend %book;
    @extend %regular;
}

.body-s-book-italic {
    @extend %body-s;
    @extend %italic;
    @extend %book;
    @extend %regular;
}

.body-s-subdued {
    @extend %body-s;
    @extend %medium;
    @extend %subdued;
}

.body-s-book-subdued {
    @extend %body-s;
    @extend %book;
    @extend %subdued;
}

.body-s-book-italic-subdued {
    @extend %body-s;
    @extend %italic;
    @extend %book;
    @extend %subdued;
}

.caption {
    @extend %caption;
    @extend %medium;
    @extend %regular;
}

.caption-book {
    @extend %caption;
    @extend %book;
    @extend %regular;
}

.caption-subdued {
    @extend %caption;
    @extend %medium;
    @extend %subdued;
}

.caption-book-subdued {
    @extend %caption;
    @extend %book;
    @extend %subdued;
}

.code {
    @extend %body-s;
    @extend %book;
    @extend %code;
}
