# Node files
**/node_modules
npm-debug.log.*

# OS/editor
._*
.DS_Store
.idea
.vscode

# Other various
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi

# package-lock.json
package-lock.json

# travis
travis-deploy-key

# distribution
**/dist

# temporary files
**/coverage
**/tmp