# Node files
**/node_modules
npm-debug.log.*

# OS/editor
._*
.DS_Store
.idea
.vscode

# Other various
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi

# travis
travis-deploy-key

# distribution
**/dist
**/built

# temporary files
**/coverage
**/tmp
**/.rollup.cache
**/*.tsbuildinfo

# cache
.ultra.cache.json
.turbo

# environment variables
.env