@keyframes vp-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes vp-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);

    opacity: 0;
  }
}

@keyframes scaleoutCentered {
  0% {
    transform: scale(0.0) translateY(-50%);
  }
  100% {
    transform: scale(1.0) translateY(-50%);

    opacity: 0;
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-2000px);

    opacity: 0;
  }

  100% {
    transform: translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@keyframes move-background-horizontal {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
