@keyframes vp-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes vp-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);

    opacity: 0;
  }
}

@keyframes scaleoutCentered {
  0% {
    transform: scale(0.0) translateY(-50%);
  }
  100% {
    transform: scale(1.0) translateY(-50%);

    opacity: 0;
  }
}
