$primary: (
    'white': hsla(0, 0%, 100%, 1),
    'grey-20': hsla(220, 20%, 97%, 1),
    'grey-40': hsla(180, 6%, 90%, 1),
    'grey-50': hsla(210, 10%, 79%, 1),
    'grey-60': hsla(212, 7%, 59%, 1),
    'grey-80': hsla(212, 7%, 41%, 1),
    'grey-100': hsla(240, 1%, 16%, 1),
    'black': hsla(0, 0%, 0%, 1),
    'navy-blue-10': hsla(238, 100%, 97%, 1),
    'navy-blue-20': hsla(238, 91%, 92%, 1),
    'navy-blue-30': hsla(238, 71%, 81%, 1),
    'navy-blue-40': hsla(240, 54%, 69%, 1),
    'navy-blue-50': hsla(240, 38%, 58%, 1),
    'navy-blue-60': hsla(240, 29%, 45%, 1),
    'navy-blue-70': hsla(240, 28%, 34%, 1),
    'navy-blue-80': hsla(240, 26%, 27%, 1),
    'navy-blue-90': hsla(240, 29%, 21%, 1),
    'navy-blue-100': hsla(231, 41%, 16%, 1),
    'digital-blue-20': hsla(209, 100%, 89%, 1),
    'digital-blue-40': hsla(209, 99%, 61%, 1),
    'digital-blue-60': hsla(214, 85%, 50%, 1),
    'digital-blue-80': hsla(218, 74%, 39%, 1),
    'digital-blue-100': hsla(218, 90%, 23%, 1),
    'pomegranate-red-10': hsla(4, 100%, 97%, 1),
    'pomegranate-red-20': hsla(5, 100%, 91%, 1),
    'pomegranate-red-30': hsla(5, 75%, 82%, 1),
    'pomegranate-red-40': hsla(5, 77%, 70%, 1),
    'pomegranate-red-50': hsla(5, 85%, 61%, 1),
    'pomegranate-red-60': hsla(5, 75%, 52%, 1),
    'pomegranate-red-70': hsla(5, 83%, 44%, 1),
    'pomegranate-red-80': hsla(5, 90%, 33%, 1),
    'pomegranate-red-90': hsla(5, 85%, 27%, 1),
    'pomegranate-red-100': hsla(5, 94%, 19%, 1),
    'cerulean-blue-10': hsla(199, 100%, 95%, 1),
    'cerulean-blue-20': hsla(199, 100%, 88%, 1),
    'cerulean-blue-30': hsla(199, 100%, 76%, 1),
    'cerulean-blue-40': hsla(199, 100%, 64%, 1),
    'cerulean-blue-50': hsla(199, 100%, 50%, 1),
    'cerulean-blue-60': hsla(199, 98%, 46%, 1),
    'cerulean-blue-70': hsla(199, 97%, 39%, 1),
    'cerulean-blue-80': hsla(199, 98%, 33%, 1),
    'cerulean-blue-90': hsla(199, 100%, 22%, 1),
    'cerulean-blue-100': hsla(200, 100%, 14%, 1),
    'turbo-yellow-10': hsla(55, 100%, 93%, 1),
    'turbo-yellow-20': hsla(53, 100%, 86%, 1),
    'turbo-yellow-30': hsla(53, 100%, 72%, 1),
    'turbo-yellow-40': hsla(53, 100%, 50%, 1),
    'turbo-yellow-50': hsla(49, 91%, 56%, 1),
    'turbo-yellow-60': hsla(49, 91%, 48%, 1),
    'turbo-yellow-70': hsla(47, 97%, 45%, 1),
    'turbo-yellow-80': hsla(47, 97%, 38%, 1),
    'turbo-yellow-90': hsla(47, 98%, 26%, 1),
    'turbo-yellow-100': hsla(47, 80%, 16%, 1),
    'bright-turquoise-10': hsla(172, 100%, 96%, 1),
    'bright-turquoise-20': hsla(171, 97%, 88%, 1),
    'bright-turquoise-30': hsla(172, 94%, 65%, 1),
    'bright-turquoise-40': hsla(172, 84%, 52%, 1),
    'bright-turquoise-50': hsla(172, 82%, 47%, 1),
    'bright-turquoise-60': hsla(172, 83%, 43%, 1),
    'bright-turquoise-70': hsla(172, 88%, 35%, 1),
    'bright-turquoise-80': hsla(172, 90%, 28%, 1),
    'bright-turquoise-90': hsla(172, 90%, 20%, 1),
    'bright-turquoise-100': hsla(172, 90%, 12%, 1),
);

$secondary: (
    'grape-purple-10': hsla(293, 25%, 94%, 1),
    'grape-purple-20': hsla(279, 48%, 83%, 1),
    'grape-purple-30': hsla(278, 57%, 68%, 1),
    'grape-purple-40': hsla(279, 47%, 54%, 1),
    'grape-purple-50': hsla(279, 54%, 40%, 1),
    'grape-purple-60': hsla(278, 56%, 31%, 1),
    'grape-purple-70': hsla(278, 53%, 24%, 1),
    'grape-purple-80': hsla(278, 75%, 19%, 1),
    'grape-purple-90': hsla(279, 80%, 14%, 1),
    'grape-purple-100': hsla(279, 86%, 7%, 1),
    'rain-forest-green-10': hsla(168, 50%, 91%, 1),
    'rain-forest-green-20': hsla(170, 47%, 79%, 1),
    'rain-forest-green-30': hsla(170, 49%, 65%, 1),
    'rain-forest-green-40': hsla(168, 54%, 44%, 1),
    'rain-forest-green-50': hsla(168, 68%, 32%, 1),
    'rain-forest-green-60': hsla(168, 100%, 19%, 1),
    'rain-forest-green-70': hsla(168, 91%, 17%, 1),
    'rain-forest-green-80': hsla(168, 88%, 13%, 1),
    'rain-forest-green-90': hsla(169, 92%, 10%, 1),
    'rain-forest-green-100': hsla(169, 94%, 7%, 1),
    'governor-bay-blue-10': hsla(235, 100%, 97%, 1),
    'governor-bay-blue-20': hsla(231, 63%, 88%, 1),
    'governor-bay-blue-30': hsla(230, 77%, 78%, 1),
    'governor-bay-blue-40': hsla(230, 65%, 64%, 1),
    'governor-bay-blue-50': hsla(230, 62%, 56%, 1),
    'governor-bay-blue-60': hsla(230, 60%, 45%, 1),
    'governor-bay-blue-70': hsla(230, 63%, 38%, 1),
    'governor-bay-blue-80': hsla(230, 69%, 32%, 1),
    'governor-bay-blue-90': hsla(230, 74%, 24%, 1),
    'governor-bay-blue-100': hsla(229, 80%, 14%, 1),
    'sienna-orange-10': hsla(15, 100%, 96%, 1),
    'sienna-orange-20': hsla(15, 100%, 87%, 1),
    'sienna-orange-30': hsla(15, 98%, 77%, 1),
    'sienna-orange-40': hsla(15, 99%, 71%, 1),
    'sienna-orange-50': hsla(15, 82%, 60%, 1),
    'sienna-orange-60': hsla(15, 73%, 55%, 1),
    'sienna-orange-70': hsla(15, 67%, 45%, 1),
    'sienna-orange-80': hsla(15, 73%, 34%, 1),
    'sienna-orange-90': hsla(15, 79%, 23%, 1),
    'sienna-orange-100': hsla(15, 83%, 17%, 1),
);

$semantic: (
    'success-10': hsla(152, 87%, 91%, 1),
    'success-60': hsla(141, 80%, 35%, 1),
    'success-100': hsla(146, 100%, 15%, 1),
);

$partners: (
    'salesforce-blue': #009ddc,
);

$deprecated: (
    'deprecated-white': #f1f3f4,
    'deprecated-light-grey': #e6ecf0,
    'deprecated-medium-grey': #bcc3ca,
    'deprecated-dark-medium-grey': #7a7d81,
    'deprecated-dark-grey': #373737,
    'deprecated-stratos': #08080e,
    'deprecated-grey-1': #f7f8f9,
    'deprecated-grey-2': #eff3f7,
    'deprecated-grey-3': #e4eaed,
    'deprecated-grey-4': #cfd9e0,
    'deprecated-heather': #b5c4cf,
    'deprecated-nepal': #94a9bf,
    'deprecated-bali-hai': #8097aa,
    'deprecated-lynch': #5d7289,
    'deprecated-grey-9': #4e5f71,
    'deprecated-amber': #fbba06,
    'deprecated-school-bus-yellow': #ffdf00,
    'deprecated-orange-1': #ffbc86,
    'deprecated-orange': #f58020,
    'deprecated-coveo-orange': #f58020,
    'deprecated-tango': #e56613,
    'deprecated-milano-red': #d02b08,
    'deprecated-red': #ce3f00,
    'deprecated-green': #009830,
    'deprecated-caribbean-green': #05c3a2,
    'deprecated-frosted-mint': #d3fff8,
    'deprecated-observatory': #028f7b,
    'deprecated-turquoise': #26e8cc,
    'deprecated-anakiwa': #4ed6ff,
    'deprecated-blue-1': #cde7ff,
    'deprecated-blue-2': #8fc9ff,
    'deprecated-dodger-blue': #3ca0ff,
    'deprecated-azure': #0d80ef,
    'deprecated-science-blue': #0061c0,
    'deprecated-coveo-blue': #004990,
    'deprecated-blue-7': #00305c,
    'deprecated-blue-8': #00284b,
    'deprecated-light-blue': #296896,
    'deprecated-blue-purple-2': #354667,
    'deprecated-blue-purple-3': #2d385e,
    'deprecated-purple-blue': #1e2541,
    'deprecated-medium-blue': #1d4f76,
    'deprecated-dark-blue': #263e55,
    'deprecated-oxford-blue': #313a45,
);

@function toRGB($color) {
    @return red($color), green($color), blue($color);
}

@mixin spreadPalette($palette) {
    @each $name, $color in $palette {
        --#{$name}: #{$color};
        --#{$name}-rgb: #{toRGB($color)};
    }
}

:root {
    @include spreadPalette($primary);
    @include spreadPalette($secondary);
    @include spreadPalette($semantic);
    @include spreadPalette($partners);
    @include spreadPalette($deprecated);

    // semantic derivates
    --info-10: var(--navy-blue-10);
    --info-10-rgb: var(--navy-blue-10-rgb);
    --info-60: var(--navy-blue-60);
    --info-60-rgb: var(--navy-blue-60-rgb);
    --info-100: var(--navy-blue-100);
    --info-100-rgb: var(--navy-blue-100-rgb);
    --warning-10: var(--turbo-yellow-10);
    --warning-10-rgb: var(--turbo-yellow-10-rgb);
    --warning-70: var(--turbo-yellow-70);
    --warning-70-rgb: var(--turbo-yellow-70-rgb);
    --warning-90: var(--turbo-yellow-90);
    --warning-90-rgb: var(--turbo-yellow-90-rgb);
    --critical-10: var(--pomegranate-red-10);
    --critical-10-rgb: var(--pomegranate-red-10-rgb);
    --critical-70: var(--pomegranate-red-70);
    --critical-70-rgb: var(--pomegranate-red-70-rgb);
    --critical-100: var(--pomegranate-red-100);
    --critical-100-rgb: var(--pomegranate-red-100-rgb);

    // gradient
    --gradient: linear-gradient(75.28deg, #fadf4a 10.4%, #f9463a 34.36%, #08b7ea 62.79%, #03dec8 85.12%);
}
