// Must be the first import
@import 'dependencies';
@import 'common/common';
@import 'common/palette';
@import 'common/colors';
@import 'common/font';
@import 'sprites';

// Utility
@import 'utility/layout';
@import 'utility/flex';

// Typography
@import 'typography/headings';
@import 'elements/labels';
@import 'elements/links';

// Icons
@import 'elements/icons';
@import 'elements/color-dot';

// Buttons
@import 'elements/buttons';
@import 'elements/buttons-alternate';

// Tables
@import 'tables/table';
@import 'tables/fixed-header-table';
@import 'tables/table-actions';

// Controls
@import 'controls/checkboxes';
@import 'controls/collapsable';
@import 'controls/datepicker';
@import 'controls/dropdown';
@import 'controls/filter-box';
@import 'controls/inputs';
@import 'controls/input-slider';
@import 'controls/numeric-spinner';
@import 'controls/slide-toggle';
@import 'controls/slide-toggle-double';
@import 'controls/splash';

// Components
.coveo-styleguide {
  @import 'components/header';
  @import 'components/member';
  @import 'components/menu';
}

// Forms
@import 'forms/forms';
@import 'forms/table-form';
@import 'forms/block-form';
@import 'forms/flex-form';
