// Must be the first import
@import 'dependencies';
@import 'common/common';
@import 'common/palette';
@import 'common/colors';
@import 'common/font';
@import 'sprites';
@import 'variables';

// Typography
@import 'typography/headings';
@import 'elements/labels';
@import 'elements/links';

// Icons
@import 'elements/icons';
@import 'elements/color-dot';

// Buttons
@import 'elements/btn';
@import 'elements/btn-prepend';

// Controls
@import 'controls/checkboxes';
@import 'controls/collapsable';
@import 'controls/datepicker';
@import 'controls/dropdown';
@import 'controls/filter-box';
@import 'controls/flat-select';
@import 'controls/inputs';
@import 'controls/numeric-spinner';
@import 'controls/slide-toggle';
@import 'controls/slide-toggle-double';
@import 'controls/splash';
@import 'controls/chosen';

.coveo-styleguide {
  // Tables
  @import 'tables/table';
  @import 'tables/fixed-header-table';
  @import 'tables/table-actions';
  @import 'tables/table-align-header';
  @import 'tables/table-collapsible-rows';
  // Components
  @import 'components/prompt';
  @import 'components/header';
  @import 'components/navigation';
  @import 'components/application-container';
  @import 'components/member';
  @import 'components/menu';
  @import 'components/tooltip';
  @import 'components/modal';
  @import 'components/blankslate';
  // Forms
  @import 'forms/forms';
  @import 'forms/table-form';
  @import 'forms/block-form';
  @import 'forms/flex-form';
  // Utility
  @import 'typography/utility';
  @import 'utility/align';
  @import 'utility/flex';
  @import 'utility/layout';
  @import 'utility/position';
  @import 'utility/white-space';
  @import 'utility/colors';
}
