$browser-context: 13; // Default

//converter
@function pxtoem($target, $context: $browser-context) {
    @return ($target/$context)+0em;
}

//border
@mixin button-border($vertical, $horizontal, $border: false) {
    $property: border-#{$vertical}-#{$horizontal}-radius;
    button {
        #{$property}: $border-radius;
        @if $border {
            border-top: $default-border;
        }
    }
}

@mixin focus-outline($offset: 0) {
    outline-width: 2px;
    outline-style: auto;
    outline-color: var(--cerulean-blue-50);
    outline-offset: $offset;
}

// args are to prevent elements shifting due to differing border dimensions
@mixin focus-border($background: var(--navy-blue-10), $border-radius: 0px, $border-width: 2px) {
    background: $background;
    border: $border-width solid var(--cerulean-blue-50);
    border-radius: $border-radius;
    outline: none;
    box-shadow: 0 0 0 3px var(--cerulean-blue-20);
}
