$browser-context: 13; // Default

//converter
@function pxtoem($target, $context: $browser-context) {
    @return ($target/$context)+0em;
}

//border
@mixin button-border($vertical, $horizontal, $border: false) {
    $property: border-#{$vertical}-#{$horizontal}-radius;
    button {
        #{$property}: $border-radius;
        @if $border {
            border-top: $default-border;
        }
    }
}

@mixin focus-border($offset) {
    outline: thin dotted;
    outline: 2px auto $light-blue;
    outline: 3px auto -webkit-focus-ring-color;
    outline-offset: $offset;
}
