$browser-context: 13; // Default

//converter
@function pxtoem($target, $context: $browser-context) {
    @return ($target/$context)+0em;
}

//border
@mixin button-border($vertical, $horizontal, $border: false) {
    $property: border-#{$vertical}-#{$horizontal}-radius;
    button {
        #{$property}: $border-radius;
        @if $border {
            border-top: $default-border;
        }
    }
}

@mixin focus-border($offset) {
    background: var(--navy-blue-10);
    border: 2px solid var(--cerulean-blue-50);
    outline: none;
    box-shadow: 0 0 0 3px var(--cerulean-blue-20);
}
