.coveo-sprites-misc-closepopup,
.coveo-sprites-misc-spinner_arrow_up,
.coveo-sprites-misc-spinner_arrow_down,
.coveo-sprites-misc-filter,
.coveo-sprites-misc-alert,
.coveo-sprites-misc-panel-expended,
.coveo-sprites-misc-panel-collapsed,
.coveo-sprites-tables-sort_desc,
.coveo-sprites-tables-sort_asc {
    display: inline-block;
    overflow: hidden;
    background-image: url('../images/CoveoStyleGuide.Sprites.png');
    background-repeat: no-repeat;
    background-size: 103px 16px;
}
i.coveo-sprites-misc-closepopup,
.coveo-sprites-misc-closepopup {
    width: 16px;
    height: 16px;
    text-indent: 16px;
    background-position: 0px 0px;
}
i.coveo-sprites-misc-spinner_arrow_up,
.coveo-sprites-misc-spinner_arrow_up {
    width: 12px;
    height: 12px;
    text-indent: 12px;
    background-position: -18px 0px;
}
i.coveo-sprites-misc-spinner_arrow_down,
.coveo-sprites-misc-spinner_arrow_down {
    width: 12px;
    height: 12px;
    text-indent: 12px;
    background-position: -32px 0px;
}
i.coveo-sprites-misc-filter,
.coveo-sprites-misc-filter {
    width: 12px;
    height: 12px;
    text-indent: 12px;
    background-position: -46px 0px;
}
i.coveo-sprites-misc-alert,
.coveo-sprites-misc-alert {
    width: 11px;
    height: 11px;
    text-indent: 11px;
    background-position: -60px 0px;
}
i.coveo-sprites-misc-panel-expended,
.coveo-sprites-misc-panel-expended {
    width: 10px;
    height: 10px;
    text-indent: 10px;
    background-position: -73px 0px;
}
i.coveo-sprites-misc-panel-collapsed,
.coveo-sprites-misc-panel-collapsed {
    width: 10px;
    height: 10px;
    text-indent: 10px;
    background-position: -85px 0px;
}
i.coveo-sprites-tables-sort_desc,
.coveo-sprites-tables-sort_desc {
    width: 6px;
    height: 6px;
    text-indent: 6px;
    background-position: -97px 0px;
}
i.coveo-sprites-tables-sort_asc,
.coveo-sprites-tables-sort_asc {
    width: 6px;
    height: 6px;
    text-indent: 6px;
    background-position: -97px -8px;
}
