// General
$border-radius: 2px;
// Button
$button-font-size: 12px;
$button-line-height: 15px;
$button-font-weight: 700;
$button-padding-x: 16px;
$button-padding-y: 8.5px;
$button-border-width: 1px;
$button-height: 34px;
$button-large-height: 50px;
// Checkboxes and radios
$checkbox-label-margin: 24px;
// Text box
$textbox-margin-top: 15px;
$textbox-max-width: 440px;
// Filter Box
$filter-box-height: 34px;
// Flat select
$flat-select-option-size: 26px;
// Header
$header-height: 65px;
$header-padding: 40px;
$header-padding-y: 5px;
// Modal
$modal-header-height: 100px;
// Application
$application-container-min-height: 400px;
// Navigation
$navigation-width: 245px;
$navigation-background-color: $dark-blue;
$navigation-active-background-color: #57748a;
$navigation-active-border-width: 3px;
$navigation-section-icon-size: 16px;
$navigation-section-icon-margin: 15px;
$navigation-locked-color: $medium-grey;
// Table
$table-first-column-padding-left: 35px;
$table-header-height: 32px;
$table-border-width: 1px;
$table-border: $table-border-width solid $medium-grey;
$table-border-button: $table-border-width solid transparent;
$table-selected-border-width: 5px;
// Table actions
$table-actions-container-height: 52px;
$table-actions-margin: 30px;
$table-actions-dropdown-padding-x: 10px;
// Table collapsible rows
$table-collapsible-row-height: 45px;
// Form elements
$form-elements-margin: 10px;
$form-group-margin: 30px;
$form-control-label-margin: 10px;
