// General
$border-radius: 2px;
// Button
$button-font-size: 12px;
$button-line-height: 15px;
$button-font-weight: 700;
$button-padding-x: 16px;
$button-padding-y: 8.5px;
$button-border-width: 1px;
$button-height: 34px;
$button-large-height: 50px;
$button-margin-width: 15px;
$button-confirm-icon-width: 15px;
$button-confirm-margin-bottom: 20px;
// Checkboxes and radios
$checkbox-label-margin: 24px;
$radio-button-option-height: 16px;
$radio-button-size: 16px;
// Input field
$input-field-margin-top: 15px;
$input-field-vertical-padding: 3px;
$input-field-height: 34px;
$input-field-max-width: 440px;
$input-field-font-size: 15px;
// Filter Box
$filter-box-height: 32px;
// Flat select
$flat-select-option-size: 26px;
// Header
$header-height: 65px;
$header-padding: 40px;
$header-height-padding: 20px;
$header-padding-y: 5px;
$description-margin-top: 5px;
// Modal
$modal-header-height: 100px;
$modal-form-width-small: 440px;
// Prompt modal
$modal-prompt-text-padding-y: 24px;
$modal-prompt-body-max-height: 120px;
$modal-prompt-body-min-height: 80px;
$modal-prompt-header-height: 80px;
$modal-prompt-max-height: 350px;
$modal-prompt-min-height: 300px;
$modal-prompt-min-width: 500px;
$modal-prompt-max-width: 550px;
// Application
$application-container-min-height: 400px;
// Navigation
$navigation-width: 245px;
$navigation-background-color: $dark-blue;
$navigation-active-background-color: #57748a;
$navigation-active-border-width: 3px;
$navigation-section-icon-size: 16px;
$navigation-section-icon-margin: 15px;
$navigation-locked-color: $medium-grey;
// Table
$table-first-column-padding-left: 35px;
$table-header-height: 32px;
$table-border-width: 1px;
$table-border: $table-border-width solid $medium-grey;
$table-border-button: $table-border-width solid transparent;
$table-selected-border-width: 5px;
// Table actions
$table-actions-container-height: 52px;
$table-actions-margin: 30px;
$table-actions-dropdown-padding-x: 10px;
// Table collapsible rows
$table-collapsible-row-height: 45px;
// Form elements
$form-bottom-padding: 30px;
$form-top-padding: 20px;
$form-elements-margin: 10px;
$form-group-margin: 30px;
$form-control-label-margin: 10px;
$form-control-label-font-size: 13px;
// Blackslate elements
$blankslate-margin: 15px;
$blankslate-title-margin-bottom: 24px;
$blankslate-paragraph-margin-bottom: 20px;
$blankslate-padding: 30px;
// Progress bar
$progress-bar-border-radius: 12px;
$progress-bar-default-height: 20px;
// Collapsible
$collapsible-height: 50px;
$collapsible-border-width: 1px;
$collapsible-header-font-size: 13px;
$collapsible-header-icon-size: 10px;
