@import '~coveo-styleguide/scss/common/palette';
@import '~coveo-styleguide/scss/variables';

$numeric-input-height: 26px;
$numeric-input-buttons-border-radius: 4px;

.numericInput {
  height: $numeric-input-height;

  color: $medium-blue;
  font-size: $title-font-size;
  border-radius: $border-radius;
  border: $default-border;
  box-shadow: inset 0 0 3px 0 rgba($black, $transparency-5);
  padding: $spacing;

  text-overflow: ellipsis;
  overflow: hidden;
}

.numericInputButton {
  line-height: $numeric-input-height - 2 * $default-border-size;
  background-color: $blue-purple-2;
  color: $pure-white;
  height: $numeric-input-height;
  width: $numeric-input-height;
  border-radius: $numeric-input-buttons-border-radius;
}

:global(.coveo-styleguide) {
  .numericInputButton {
    outline: none;
  }
}
