@import '../common/colors';

input[type=checkbox].coveo-checkbox {
  display: none;

  & + button {
    width: 16px;
    height: 16px;
    padding: 0;

    vertical-align: bottom;

    background: $body-background-color none 0 0;
    border: 1px solid rgba(57, 95, 132, 0.5);
    border-radius: 2px;
    outline: none;

    transition: all 200ms;

    cursor: pointer;

    &:hover, &focus {
      background-color: $body-background-color;
      box-shadow: 0 0 2px $medium-blue;
    }
  }

  &:disabled + button {
    cursor: default;
    opacity: 0.6;
  }

  &:checked {
    & + button {
      position: relative;

      background-color: $coveo-green;
      border-color: $coveo-green;

      &:hover, &focus {
        box-shadow: 0 0 2px $coveo-grey;
      }

      &:after {
        position: absolute; // Position it in the center of the box
        top: 1px;
        left: 4px;

        box-sizing: content-box;
        display: block;
        width: 4px; // Make it a small rectangle so the border will create an L-shape
        height: 8px;

        content: '';

        border: solid white; // Add a white border on the bottom and left, creating that 'L'
        border-width: 0 2px 2px 0;
        transform: rotate(40deg); // Rotate the L 40 degrees to turn it into a checkmark
      }
    }
  }

  &:indeterminate + button {
    position: relative;

    &:after {
      position: absolute;
      top: 6px;
      left: 3px;

      box-sizing: content-box;
      display: block;
      width: 8px;
      height: 0;

      content: '';

      border-bottom: solid 2px $medium-blue;
    }
  }
}

label.coveo-checkbox-label {
  display: inline;

  line-height: 16px;
  vertical-align: middle;

  & + label.coveo-checkbox-label {
    margin-top: 5px;
  }

  &.admin-text-inline {
    input[type=checkbox].coveo-checkbox {
      & + button {
        margin-top: 0;
      }
    }
  }

  &.disabled span {
    opacity: 0.4;
  }
}
