.chosen-container {
    position: relative;

    display: inline-block;

    font-size: 13px;
    vertical-align: middle;

    user-select: none;

    a {
        cursor: pointer;
    }

    .chosen-drop {
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 1010;

        width: 100%;

        background: $pure-white;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
        border: 1px solid $medium-grey;
        border-top: 0;
        border-radius: 2px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        @include slim-scroll($light-grey, $medium-grey);

        .chosen-results {
            position: relative;

            max-height: $dropdown-menu-max-height;
            overflow-x: hidden;
            overflow-y: auto;

            -webkit-overflow-scrolling: touch;

            li {
                display: none;
                padding: 8px $button-padding-x;
                margin: 0;

                color: $dark-grey;
                font-size: $dropdown-choice-font-size;
                line-height: 16px;
                word-wrap: break-word;
                list-style: none;

                -webkit-touch-callout: none;

                &:first-child {
                    margin-top: $dropdown-choices-top-bottom-margin;
                }

                &:last-child {
                    margin-bottom: $dropdown-choices-top-bottom-margin;
                }

                &.active-result {
                    display: list-item;

                    cursor: pointer;
                }

                &.disabled-result {
                    display: list-item;

                    color: $medium-grey;

                    cursor: default;
                }

                &.highlighted {
                    background-color: $light-grey;
                }

                &.no-results {
                    display: list-item;

                    background: $pure-white;
                }

                &.result-selected {
                    color: $medium-blue;
                    font-weight: bold;
                }

                em {
                    color: $dark-grey;
                    font-style: normal;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }
    }

    &.chosen-with-drop .chosen-drop {
        left: 0;
    }

    &.chosen-disabled {
        .chosen-single {
            color: $medium-grey;

            border-color: $medium-grey;
        }

        b {
            visibility: hidden;
        }
    }
}

.chosen-container-single {
    min-width: 200px;

    .chosen-single {
        position: relative;
        align-items: center;

        display: flex;
        height: 34px;
        padding: 0 $button-padding-x;
        overflow: hidden;

        color: $medium-blue;
        font-size: $dropdown-button-font-size;
        font-weight: 700;
        line-height: 34px;
        text-decoration: none;
        white-space: nowrap;

        background-color: $pure-white;
        background-clip: padding-box;
        border: 1px solid $medium-grey;
        border-radius: $border-radius;

        &.chosen-default {
            color: $medium-grey;
        }

        span {
            width: 100%;
            padding-right: 2px;
            overflow: hidden;

            text-overflow: ellipsis;
            white-space: nowrap;
        }

        div {
            align-items: center;

            display: flex;

            b {
                width: $dropdown-arrow-icon-size;
                height: $dropdown-arrow-icon-size;

                background-position: center;
                background-size: $dropdown-arrow-icon-size $dropdown-arrow-icon-size;

                @include arrow-down-icon($medium-blue);
            }
        }

        .search-choice-close {
            position: absolute;
            top: calc(50% - #{$chosen-clear-icon-size} / 2);
            right: 36px;

            display: inline-block;
            width: $chosen-clear-icon-size;
            height: $chosen-clear-icon-size;

            @include clear-icon($medium-grey);
        }

        &.chosen-single-with-deselect span {
            margin-right: 30px;
        }
    }

    .chosen-drop .chosen-search {
        position: relative;
        z-index: 1010;

        padding: 4px;
        margin: 0;

        white-space: nowrap;

        input[type='text'] {
            width: 100%;
            height: 32px;
            padding: 4px 28px 4px 5px;
            margin: 1px 0;

            font-size: 13px;
            line-height: normal;

            background-position: right 8px center;
            background-origin: border-box;
            background-size: $chosen-filter-icon-size $chosen-filter-icon-size;
            border: 1px solid $medium-grey;
            border-radius: 2px;
            outline: 0;

            @include filter-icon($medium-grey);
        }
    }

    &.chosen-container-active .chosen-single {
        outline: $orange auto 5px;
    }

    &.chosen-container-single-nosearch .chosen-drop .chosen-search {
        position: absolute;
        left: -9999px;
    }

    &.chosen-with-drop .chosen-single {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        div b {
            @include arrow-up-icon($medium-blue);
        }
    }
}

.chosen-container-multi {
    .chosen-choices {
        position: relative;

        width: 100%;
        height: auto;
        padding: 0
            ($button-padding-x + $chosen-filter-icon-size + $button-padding-x - $chosen-multi-search-choice-margin) 0
            $button-padding-x;
        margin: 0;
        overflow: hidden;

        border: 1px solid $medium-grey;
        border-radius: $border-radius;

        cursor: text;

        &:after {
            position: absolute;
            top: calc(50% - #{$chosen-filter-icon-size} / 2);
            right: $button-padding-x;

            display: inline-block;
            width: $chosen-filter-icon-size;
            height: $chosen-filter-icon-size;

            content: '';

            @include filter-icon($medium-grey);
        }

        li {
            float: left;

            list-style: none;

            &.search-field {
                max-width: 100%;

                white-space: nowrap;

                input[type='text'] {
                    box-sizing: content-box;
                    height: $chosen-multi-search-choice-height;
                    padding: $chosen-multi-search-choice-margin 0;

                    font-size: $input-font-size;
                    line-height: $chosen-multi-search-choice-height;

                    border: none;
                    outline: none;
                }
            }

            &.search-choice {
                position: relative;

                height: $chosen-multi-search-choice-height;
                max-width: 100%;
                padding: 0 (2 * $chosen-multi-search-choice-padding + $chosen-clear-icon-size) 0
                    $chosen-multi-search-choice-padding;
                margin: $chosen-multi-search-choice-margin $chosen-multi-search-choice-margin 0 0;

                color: $dark-grey;
                font-size: 11px;
                line-height: 22px;

                border: 1px solid $medium-grey;
                border-radius: $border-radius;

                cursor: default;

                span {
                    word-wrap: break-word;
                }

                .search-choice-close {
                    position: absolute;
                    top: calc(50% - #{$chosen-clear-icon-size} / 2);
                    right: $chosen-clear-icon-size;

                    display: inline-block;
                    width: $chosen-clear-icon-size;
                    height: $chosen-clear-icon-size;

                    @include clear-icon($medium-grey);
                }
            }

            &.search-choice-disabled {
                padding-right: 5px;

                color: $medium-grey;

                border: 1px solid $medium-grey;
            }

            &.search-choice-focus {
                background: $white;
            }
        }
    }

    .chosen-drop .chosen-results li.result-selected {
        display: list-item;

        color: $medium-grey;
        font-weight: normal;

        cursor: default;
    }

    &.chosen-container-active .chosen-choices {
        outline: $orange auto 5px;
    }

    &.chosen-with-drop .chosen-choices {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}
