// DEPRECATED!!! Replaced by collapsible.js from Dogfalo/materialize

.collapsable-panel-group {
    .collapse {
        display: none;
        visibility: hidden;

        &.in {
            display: table;
            width: 100%;
            visibility: visible;
        }
    }

    .collapsing {
        position: relative;
        height: 0;
        overflow: hidden;
        transition-timing-function: ease;

        transition-duration: 0.35s;
        transition-property: height, visibility;
    }

    .panel {
        border-bottom: 2px solid $medium-grey;

        + .panel {
            margin-top: 15px;
        }

        .panel-heading {
            position: relative;
            z-index: 0;

            a {
                display: block;
                margin-bottom: 5px;
                padding: 3px 0 3px 26px;
                color: $medium-blue;
                font-size: $default-font-size;
                font-family: $base-font-family;
                line-height: initial;
                text-transform: uppercase;
                text-decoration: none;
            }

            i.toggle-icon {
                position: absolute;
                top: 8px;
                left: 10px;
                z-index: -1;
                display: inline-block;
                content: '\00a0';

                @extend .coveo-sprites-misc-panel-expended;
            }

            a.collapsed + i.toggle-icon {
                @extend .coveo-sprites-misc-panel-collapsed;
            }
        }

        &.panel-default {
            .panel-body {
                padding: 0 10px 10px 10px;
            }
        }
    }
}
