.dropdown {
    position: relative;
    display: inline-block;

    &.open > .dropdown-toggle,
    .dropdown-toggle.open {
        &.mod-primary .dropdown-toggle-arrow {
            @include arrow-up-icon(var(--pure-white));
        }

        .dropdown-toggle-arrow {
            @include arrow-up-icon(var(--medium-blue));
        }
    }

    &.open > .dropdown-menu {
        display: block;
        margin-bottom: $form-bottom-padding;
    }

    .btn {
        border-color: var(--dropdown-btn-border-color);
    }
}

.dropdown-prepend {
    padding-right: 5px;
    color: var(--dropdown-default-color);
}

.dropdown-option-append {
    display: inline-block;
    width: $dropdown-option-append-width;
}

.dropdown-selected-value {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    color: var(--dropdown-selected-value-color);
    white-space: nowrap;
    text-transform: none;

    text-overflow: ellipsis;

    &.with-append {
        width: calc(100% - #{$dropdown-toggle-with-append-right-padding});
    }
}

.dropdown-toggle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $button-padding-y $dropdown-toggle-right-padding $button-padding-y $button-padding-x;
    overflow: hidden;
    font-size: var(--dropdown-button-font-size);
    line-height: 16px;
    white-space: nowrap;
    text-transform: none;
    text-overflow: ellipsis;

    &:disabled .dropdown-toggle-arrow {
        @include arrow-down-icon(var(--medium-grey));
    }

    &.dropdown-toggle-placeholder {
        color: var(--dropdown-toggle-placeholder-color);
    }

    &.mod-primary {
        font-size: $button-font-size;
        text-transform: var(--button-text-transform);

        .dropdown-toggle-arrow {
            @include arrow-down-icon(var(--pure-white));
        }
    }

    .dropdown-option-append {
        float: right;
        width: $dropdown-toggle-append-width;
        color: var(--dropdown-option-append-color);
        text-align: right;
    }

    .dropdown-toggle-arrow,
    .dropdown-toggle-arrow-style {
        position: absolute;
        top: calc(
            50% - (#{$dropdown-arrow-icon-size} - 2px) / 2
        ); // Remove the approximated svg inner top/bottom padding
        right: $button-padding-x;
        width: $dropdown-arrow-icon-size;
        height: $dropdown-arrow-icon-size;

        &.icon {
            fill: var(--dropdown-toggle-arrow-color);
        }
    }
    .dropdown-toggle-arrow-size {
        width: $dropdown-arrow-icon-size;
        height: $dropdown-arrow-icon-size;
    }

    .dropdown-toggle-arrow {
        @include arrow-down-icon(var(--medium-blue));
    }

    &.mod-search {
        text-align: left;
    }
}

.dropdown-toggle .value-icon,
.dropdown-menu li .value-icon {
    display: inline-flex;
    margin-right: 3px;

    &,
    & svg {
        width: 0.8em;
        height: 0.8em;
    }
}

%dropdown-option-line-style {
    display: inline-block;
    padding: $dropdown-option-padding;
    overflow: hidden;
    color: var(--dropdown-option-line-color);
    font-size: $dropdown-choice-font-size;
    line-height: $default-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;

    box-sizing: border-box;
    min-width: 100%;
    max-height: $dropdown-menu-max-height;
    margin: 0;
    padding: $dropdown-choices-top-bottom-margin 0;
    overflow-y: auto;
    color: var(--dropdown-menu-color);
    list-style: none;

    background-color: var(--dropdown-menu-bg-color);
    border: 1px solid var(--dropdown-menu-border-color);
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);

    @include slim-scroll(var(--dropdown-menu-scrollbar-color), var(--dropdown-menu-scrollbar-thumb-color));

    &.mod-right {
        right: 0;
        left: auto;
    }

    li,
    .option-wrapper {
        &:hover,
        &:focus {
            color: var(--dropdown-menu-hover-color);
            background: var(--dropdown-menu-hover-bg-color);
        }

        &.disabled {
            > a,
            > span,
            .dropdown-option-append {
                color: var(--dropdown-menu-disabled-option-color);
                background-color: var(--dropdown-menu-disabled-option-bg-color);
                cursor: default;
            }
        }

        > a,
        > span {
            width: 100%;

            @extend %dropdown-option-line-style;

            &.state-selected {
                color: var(--dropdown-menu-selected-option-color);
                font-weight: var(--main-font-bold);
            }

            &.disabled {
                color: var(--dropdown-menu-disabled-option-color);
                cursor: default;
            }

            &.no-search-results {
                white-space: normal;
                word-break: break-word;
            }
        }

        &.active {
            color: var(--dropdown-menu-active-option-color);
            background-color: var(--dropdown-menu-active-option-bg-color);
        }

        &.divider {
            height: 1px;
            margin: 8px 0;
            background-color: var(--dropdown-menu-divider-bg-color);

            cursor: default;
        }

        .dropdown-option.with-append {
            width: calc(100% - #{$dropdown-option-append-width});
        }

        .dropdown-option-append {
            width: $dropdown-option-append-width;
            @extend %dropdown-option-line-style;
        }
    }
}

// Dropdown Search

.dropdown.mod-search {
    .dropdown-button-search-container,
    .filter-container {
        width: inherit;
        min-width: $dropdown-button-min-width;

        input.filter-box {
            width: inherit;
            min-width: $dropdown-button-min-width;
        }
    }

    .dropdown-menu {
        width: $dropdown-button-min-width;
    }
}

.select-dropdown-container {
    z-index: $table-header-z-index;
    border: $default-border;
    border-radius: $border-radius;

    box-shadow: $list-box-box-shadow;

    .list-box {
        border: none;
        box-shadow: initial;
    }
}
