.dropdown {
    position: relative;
    display: inline-block;

    &.open > .dropdown-toggle,
    .dropdown-toggle.open {
        &.mod-primary .dropdown-toggle-arrow {
            fill: var(--pure-white);
        }

        .dropdown-toggle-arrow {
            fill: var(--medium-blue);
        }
    }

    &.open > .dropdown-menu {
        display: block;
        margin-bottom: $form-bottom-padding;
    }
}

.dropdown-prepend {
    padding-right: 5px;
    color: var(--medium-grey);
}

.dropdown-option-append {
    display: inline-block;
    width: $dropdown-option-append-width;
}

.dropdown-selected-value {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-transform: none;

    text-overflow: ellipsis;

    &.with-append {
        width: calc(100% - #{$dropdown-toggle-with-append-right-padding});
    }
}

.dropdown-toggle {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $button-padding-y $dropdown-toggle-right-padding $button-padding-y $button-padding-x;
    overflow: hidden;
    font-size: $dropdown-button-font-size;
    line-height: 16px;
    white-space: nowrap;
    text-transform: none;
    text-overflow: ellipsis;

    &:disabled .dropdown-toggle-arrow {
        fill: var(--medium-grey);
    }

    &.dropdown-toggle-placeholder {
        color: var(--medium-grey);
    }

    &.mod-primary {
        font-size: $button-font-size;
        text-transform: uppercase;

        .dropdown-toggle-arrow {
            fill: var(--pure-white);
        }
    }

    .dropdown-option-append {
        float: right;
        width: $dropdown-toggle-append-width;
        color: var(--medium-blue);
        text-align: right;
    }

    .dropdown-toggle-arrow {
        position: absolute;
        top: calc(
            50% - (#{$dropdown-arrow-icon-size} - 2px) / 2
        ); // Remove the approximated svg inner top/bottom padding
        right: $button-padding-x;
        width: $dropdown-arrow-icon-size;
        height: $dropdown-arrow-icon-size;
        fill: var(--medium-blue);
    }

    &.mod-search {
        text-align: left;
    }
}

.dropdown-toggle .value-icon,
.dropdown-menu li .value-icon {
    display: inline-flex;
    margin-right: 3px;

    &,
    & svg {
        width: 0.8em;
        height: 0.8em;
    }
}

%dropdown-option-line-style {
    display: inline-block;
    padding: $dropdown-option-padding;
    overflow: hidden;
    color: var(--dark-grey);
    font-size: $dropdown-choice-font-size;
    line-height: $default-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;

    box-sizing: border-box;
    min-width: 100%;
    max-height: $dropdown-menu-max-height;
    margin: 0;
    padding: $dropdown-choices-top-bottom-margin 0;
    overflow-y: auto;
    color: var(--dark-blue);
    list-style: none;

    background-color: var(--pure-white);
    border: 1px solid var(--medium-grey);
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);

    @include slim-scroll(var(--light-grey), var(--medium-grey));

    &.mod-right {
        right: 0;
        left: auto;
    }

    li,
    .option-wrapper {
        &:hover,
        &:focus {
            color: var(--dark-blue);
            background: var(--light-grey);
        }

        &.disabled {
            > a,
            > span,
            .dropdown-option-append {
                color: var(--medium-grey);
                cursor: default;
            }
        }

        > a,
        > span {
            width: 100%;

            @extend %dropdown-option-line-style;

            &.state-selected {
                color: var(--dark-blue);
                font-weight: var(--main-font-bold);
            }

            &.disabled {
                color: var(--medium-grey);
                cursor: default;
            }

            &.no-search-results {
                white-space: normal;
                word-break: break-word;
            }
        }

        &.active {
            color: var(--dark-blue);
            background-color: var(--light-grey);
        }

        &.divider {
            height: 1px;
            margin: 8px 0;
            background-color: var(--medium-grey);

            cursor: default;
        }

        .dropdown-option.with-append {
            width: calc(100% - #{$dropdown-option-append-width});
        }

        .dropdown-option-append {
            width: $dropdown-option-append-width;

            @extend %dropdown-option-line-style;
        }
    }
}

// Dropdown Search

.dropdown.mod-search {
    .dropdown-button-search-container,
    .filter-container {
        width: inherit;
        min-width: $dropdown-button-min-width;

        input.filter-box {
            width: inherit;
            min-width: $dropdown-button-min-width;
        }
    }

    .dropdown-menu {
        width: $dropdown-button-min-width;
    }
}

.select-dropdown-container {
    z-index: $table-header-z-index;
    border: $default-border;
    border-radius: $border-radius;

    box-shadow: $list-box-box-shadow;

    .list-box {
        border: none;
        box-shadow: initial;
    }
}
