.dropdown {
  position: relative;

  display: inline-block;

  .dropdown-toggle {
    display: inline-block;

    color: $dark-blue;

    background-color: $white;

    .dropdown-toggle-arrow {
      float: right;
      margin-top: -5px;
      margin-left: 10px;
    }
  }

  button.dropdown-toggle {
    height: 32px;
    padding: 0 12px;

    border: solid 1px $border-color;
    border-radius: 2px;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    display: none;
    float: left;
    min-width: 100%;
    margin: 0;

    color: $dark-blue;

    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.41);
    border: 1px solid $dark-blue;
    border-radius: 2px;
    padding: 5px 0;
    list-style: none;

    li {
      > a, > span {
        display: block;
        padding: 5px 10px;
        overflow: hidden;

        line-height: 16px;
        text-overflow: ellipsis;
        white-space: nowrap;

        cursor: pointer;

        &:hover, &:focus {
          color: $dark-blue;

          background: none;
          background-color: $light-grey;
        }
      }

      &.divider {
        height: 1px;

        background-color: $border-color;
      }
    }
  }

  &.open > .dropdown-menu {
    display: block;
  }
}
