.file-input {
    position: relative;

    display: flex;
    width: 100%;

    .file-path-wrapper {
        flex-grow: 1;
    }

    .btn {
        margin-top: $button-margin-width;
        margin-left: $button-margin-width;

        input {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            cursor: pointer;
            opacity: 0;
        }
    }

    .clear-file {
        position: absolute;
        top: $input-clear-position;
        right: 0;
        z-index: 2;

        cursor: pointer;
    }
}
