.coveo-filter-container {
  position: relative;

  width: 336px;

  .filter-icon {
    position: absolute;
    top: 8px;
    right: 20px;

    display: none;

    cursor: default;
  }

  input.filter-box {
    width: 336px;
    height: $filter-box-height;
    padding-right: 40px;
    padding-left: 20px;
    margin: 0;

    & + span {
      position: absolute;
      top: 8px;
      right: 20px;

      &.hide, &.hidden {
        display: none;

        & + .filter-icon {
          display: block;
        }
      }

      &:after {
        padding-left: 12px;

        content: '\00a0';

        @extend .coveo-sprites-misc-closepopup;
      }
    }
  }
}
