/// @deprecated the prefix coveo is no longer used.
.coveo-filter-container,
.filter-container {
    position: relative;

    @media only screen and (max-width: $screen-size-break-point) {
        width: $filter-box-width-small-screen;

        .filter-icon {
            right: $icon-offset-small-screen;
        }

        input.filter-box {
            width: $filter-box-width-small-screen;

            & + span {
                right: $icon-offset-small-screen;
            }
        }
    }

    @media only screen and (min-width: $screen-size-break-point) {
        width: $filter-box-width-large-screen;

        .filter-icon {
            right: $icon-offset-large-screen;
        }

        input.filter-box {
            width: $filter-box-width-large-screen;

            & + span {
                right: $icon-offset-large-screen;
            }
        }
    }

    &.mod-small {
        width: $filter-box-width-mod-small;

        input.filter-box {
            width: $filter-box-width-mod-small;
            height: $filter-box-small-height;

            font-size: $filter-box-small-font-size;
        }
    }

    .filter-icon {
        position: absolute;
        top: 8px;

        display: none;

        cursor: default;
    }

    input.filter-box {
        height: $filter-box-height;
        padding-right: 40px;
        padding-left: 20px;
        margin: 0;

        &::-ms-clear {
            display: none;
        }

        & + span {
            position: absolute;
            top: calc(50% - #{$clear-icon-height} / 2);

            line-height: 0;

            cursor: pointer;

            svg {
                height: $clear-icon-height;
            }

            &.hide,
            &.hidden {
                display: none;

                & + .filter-icon {
                    display: block;
                }
            }
        }
    }
}
