.coveo-filter-container {
  position: relative;

  @media only screen and (max-width: 1600px) {
    width: 260px;

    .filter-icon {
      right: 0;
    }

    input.filter-box {
      width: 275px;

      & + span {
        right: 0;
      }
    }
  }

  @media only screen and (min-width: 1600px) {
    width: 336px;

    .filter-icon {
      right: 20px;
    }

    input.filter-box {
      width: 336px;

      & + span {
        right: 20px;
      }
    }
  }
  .filter-icon {
    position: absolute;
    top: 8px;

    display: none;

    cursor: default;
  }

  input.filter-box {
    height: $filter-box-height;
    padding-right: 40px;
    padding-left: 20px;
    margin: 0;

    & + span {
      position: absolute;
      top: calc(50% - #{$clear-icon-height} / 2);
      right: 23px;

      line-height: 0;

      svg {
        height: $clear-icon-height;
      }

      &.hide, &.hidden {
        display: none;

        & + .filter-icon {
          display: block;
        }
      }
    }
  }
}
