.flat-select {
    display: flex;
    background-color: $pure-white;
    border-radius: $border-radius;

    .flat-select-option {
        min-width: $flat-select-option-size;
        height: $flat-select-option-size;
        padding: 0 4px;
        color: $pure-white;
        font-size: 13px;
        line-height: $flat-select-option-size - 2px;
        text-align: center;
        background-color: $medium-blue;
        border: 1px solid $medium-blue;
        border-radius: $border-radius;

        cursor: default;

        &.disabled,
        &:disabled {
            cursor: default;
            opacity: 0.4;
        }

        .icon-container {
            margin-right: 5px;
            vertical-align: -3px;

            &,
            .icon {
                width: 13px;
                height: 13px;
            }

            .icon {
                fill: $pure-white;
            }
        }

        & + .flat-select-option {
            margin-left: 10px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            text-decoration: none;
        }

        &.selectable {
            color: $medium-blue;
            background-color: $pure-white;
            border: 1px solid $medium-grey;

            cursor: pointer;

            &.disabled {
                cursor: default;
            }

            .icon {
                fill: $medium-blue;
            }
        }

        &:empty {
            display: none;
        }

        &.mod-link,
        &.selectable.mod-link {
            padding: 0;
            color: $medium-blue;
            font-size: $default-font-size;
            background-color: $pure-white;
            border: none;

            .icon {
                fill: $medium-blue;
            }

            &.disabled {
                color: $medium-grey;

                .icon {
                    fill: $medium-grey;
                }
            }
        }
    }

    &.mod-btn-group .flat-select-option {
        height: $button-height;
        padding: $button-padding-y $button-padding-x;
        font-weight: $button-font-weight;

        font-size: $button-font-size;
        line-height: $button-line-height;
        text-transform: uppercase;
        border-radius: 0;

        &:focus {
            z-index: 1;
        }

        &:first-child {
            border-radius: $border-radius 0 0 $border-radius;
        }

        &:last-child {
            border-radius: 0 $border-radius $border-radius 0;
        }

        & + .flat-select-option {
            margin-left: 0;
        }
    }

    &.mod-option-picker .flat-select-option {
        flex: auto;
        color: $medium-blue;
        background-color: $light-grey;
        border: 1px solid $blue;
        border-right-width: 0;
        border-radius: 0;

        &.selectable {
            background-color: $pure-white;
            border-color: $medium-grey;
        }

        &:first-child {
            border-radius: $border-radius 0 0 $border-radius;
        }

        &:last-child {
            border-right-width: 1px;
            border-radius: 0 $border-radius $border-radius 0;
        }

        &:not(.selectable) + .flat-select-option {
            border-left-color: $blue;
        }

        & + .flat-select-option {
            margin-left: 0;
        }
    }
}

.prepended-flat-select {
    display: flex;
    align-items: center;

    .flat-select-prepend {
        margin-right: 10px;
        color: $medium-grey;
        font-size: $default-font-size;
        line-height: 18px;
    }
}
