.flat-select {
    --color: var(--title-text-color);

    display: flex;
    background-color: var(--pure-white);
    border-radius: $border-radius;

    .flat-select-option {
        min-width: $flat-select-option-size;
        height: $flat-select-option-size;
        padding: 0 4px;
        color: var(--pure-white);
        font-size: 13px;
        line-height: $flat-select-option-size - 2px;
        text-align: center;
        background-color: var(--flat-select-background-color);
        border: 1px solid var(--flat-select-background-color);
        border-radius: $border-radius;

        cursor: default;

        &.disabled,
        &:disabled {
            cursor: default;
            opacity: 0.4;
        }

        .icon-container {
            margin-right: 5px;
            vertical-align: -3px;

            &,
            .icon {
                width: 13px;
                height: 13px;
            }

            .icon {
                fill: var(--pure-white);
            }
        }

        & + .flat-select-option {
            margin-left: 10px;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            text-decoration: none;
        }

        &.selectable {
            color: var(--color);
            background-color: var(--pure-white);
            border: 1px solid var(--default-border-color);

            cursor: pointer;

            &.disabled {
                cursor: default;
            }

            .icon {
                fill: currentColor;
            }
        }

        &:empty {
            display: none;
        }

        &.mod-link,
        &.selectable.mod-link {
            padding: 0;
            color: var(--flat-select-background-color);
            font-size: var(--default-font-size);
            background-color: var(--pure-white);
            border: none;

            .icon {
                fill: var(--flat-select-background-color);
            }

            &.disabled {
                color: var(--medium-grey);

                .icon {
                    fill: var(--medium-grey);
                }
            }
        }
    }

    &.mod-btn-group .flat-select-option {
        height: $button-height;
        padding: $button-padding-y $button-padding-x;
        font-weight: var(--main-font-bold);

        font-size: var(--button-font-size);
        line-height: var(--button-line-height);
        text-transform: uppercase;
        border-radius: 0;

        &:focus {
            z-index: 1;
        }

        &:first-child {
            border-radius: $border-radius 0 0 $border-radius;
        }

        &:last-child {
            border-radius: 0 $border-radius $border-radius 0;
        }

        & + .flat-select-option {
            margin-left: 0;
        }
    }

    &.mod-option-picker .flat-select-option {
        flex: auto;
        color: var(--color);
        background-color: var(--light-grey);
        border: 1px solid var(--blue);
        border-right-width: 0;
        border-radius: 0;

        &.selectable {
            background-color: var(--pure-white);
            border-color: var(--default-border-color);
        }

        &:first-child {
            border-radius: $border-radius 0 0 $border-radius;
        }

        &:last-child {
            border-right-width: 1px;
            border-radius: 0 $border-radius $border-radius 0;
        }

        &:not(.selectable) + .flat-select-option {
            border-left-color: var(--blue);
        }

        & + .flat-select-option {
            margin-left: 0;
        }
    }
}

.prepended-flat-select {
    display: flex;
    align-items: center;

    .flat-select-prepend {
        margin-right: 10px;
        color: var(--flat-select-prepend-color);
        font-weight: var(--flat-select-prepend-font-weight);
        font-size: var(--flat-select-prepend-font-size);
        line-height: 18px;
    }
}
