input[type=range].coveo-input-slider {
  width: 100%;
  max-width: 500px;

  -webkit-appearance: none;
}

input[type=range].coveo-input-slider:focus {
  outline: none;
}

// WEBKIT
input[type=range].coveo-input-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  max-width: 500px;

  background: $coveo-input-slider-track-default;
  border: none;
}

input[type=range].coveo-input-slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  margin-top: -6px;

  -webkit-appearance: none;
  background: $coveo-input-slider-thumb-dark;
  background: linear-gradient(to top right, $coveo-input-slider-thumb-dark 50%, $coveo-input-slider-thumb-light 50%);
  border: 1px solid $coveo-input-slider-thumb-border;
  border-radius: 50%;
}

// FIREFOX
input[type=range].coveo-input-slider::-moz-range-track {
  width: 100%;
  height: 7px;
  max-width: 500px;

  background: $coveo-input-slider-track-default;
  border: none;
}

input[type=range].coveo-input-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;

  background: $coveo-input-slider-thumb-dark;
  background: linear-gradient(to top right, $coveo-input-slider-thumb-dark 50%, $coveo-input-slider-thumb-light 50%);
  border: 1px solid $coveo-input-slider-thumb-border;
  border-radius: 50%;
}

// IE10+
input[type=range].coveo-input-slider::-ms-track {
  width: 100%;
  height: 7px;
  max-width: 500px;

  color: transparent;

  background: transparent;
  border-color: transparent;
  border-width: 8px 0;
}

input[type=range].coveo-input-slider::-ms-thumb {
  width: 20px;
  height: 20px;

  background: $coveo-input-slider-thumb-dark;
  background: linear-gradient(to top right, $coveo-input-slider-thumb-dark 50%, $coveo-input-slider-thumb-light 50%);
  border: 1px solid $coveo-input-slider-thumb-border;
  border-radius: 50%;
}

input[type=range].coveo-input-slider::-ms-tooltip {
  display: none;

  visibility: hidden;
}
