.input-field {
  position: relative;

  margin-top: $input-margin-top;

  // General Styles

  input, textarea {
    width: 100%;
    height: $input-height;
    padding: $input-padding;

    font-size: $input-font-size;

    background-color: transparent;
    box-shadow: none;
    border: 0;
    border-bottom: $input-border;
    border-radius: 0;
    outline: 0;

    transition: $input-transition;

    &:focus:not([readonly]), &:valid, &:disabled {
      color: $dark-grey;

      border-bottom: 1px solid $medium-blue;

      @include placeholder();

      & + label {
        @extend .active;
      }
    }

    &:disabled, &[readonly='readonly'] {
      color: $medium-grey;

      border-bottom-color: $medium-grey;

      & + label {
        color: $medium-grey;
      }
    }
  }

  label {
    position: absolute;
    top: 10px;
    left: 0;
    align-items: center;

    display: flex; // Used for inline-help-tooltip placement

    color: $dark-grey;
    font-size: $input-font-size;

    transition: $input-transition;

    pointer-events: none;

    &.active {
      top: -1 * $input-margin-top;

      color: $medium-blue;
      font-size: $form-control-label-font-size;
    }
  }

  input {
    padding: $input-vertical-padding 0;

    color: transparent; // Make the input text color transparent when input is invalid (closed).
    font-size: $input-font-size;

    background-color: transparent;
    box-shadow: none; // Remove firefox invalid input box shadow.

    transition: $input-color-transition;

    @include placeholder(transparent);
  }

  textarea {
    min-height: $input-height;
    padding: 10px 0 24px 0;
    overflow-y: hidden;

    transition: height ease 0.2s;

    resize: none;

    -ms-overflow-y: hidden !important; // ie
    @include placeholder(transparent);
  }

  &.mod-resizeable textarea {
    resize: vertical;
  }

  &.mod-fixed-width {
    max-width: $input-max-width;
  }

  // Validation feedback
  &.validate input, &.validate textarea, .validate input {
    transition: 0.2s margin-bottom ease, 0.2s color ease;

    &.valid, &.invalid {
      margin-bottom: 20px;
    }

    &.valid {
      border-bottom-color: $green;

      & + label:after {
        color: $green;
        content: attr(data-valid-message);

        opacity: 1;
      }
    }

    &.invalid {
      border-bottom-color: $red;
    }

    &.invalid + label:after {
      color: $red;
      content: attr(data-invalid-message);

      opacity: 1;
    }

    & + label {
      width: 100%;

      &:after {
        position: absolute;
        top: 30.1px; // The .1 is a fix for Chrome. Without it, Chrome makes the element bounce... Works in all other browsers.
        left: 0;

        display: block;

        font-size: 12px;

        transition: 0.2s all ease;
      }
    }

    &:valid, &:focus, &:disabled {
      & + label:after {
        top: 55px;
      }
    }
  }
}
