.multiline-field {
  li {
    margin-bottom: 30px;

    label {
      display: none;
    }

    &:first-child label {
      display: flex;
    }
  }

  input {
    padding-right: 20px;
  }


  // Action icons
  .input-wrapper {
    position: relative;
  }

  .input-actions {
    position: absolute;
    right: 0;
    bottom: 6px;

    button {
      width: auto;
      padding: 0;

      background: none;
      border: none;
      outline: none;
    }

    i {
      display: block;
      width: 18px;
      height: 18px;

      border: 2px solid $medium-blue;
      border-radius: 18px;

      &.add-action, &.delete-action {
        &:before {
          position: relative;
          top: 6px;
          left: 2px;

          display: block;
          width: 10px;
          height: 2px;

          content: '';

          background-color: $medium-blue;
        }
      }

      &.add-action {
        &:after {
          position: absolute;
          top: 4px;
          left: 8px;

          display: block;
          width: 2px;
          height: 10px;

          content: '';

          background-color: $medium-blue;
        }
      }
    }
  }
}
