.admin-numeric-spinner.input-group {
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    input[type='text'] {
        width: 35px;
    }

    .add-on {
        padding-top: 2px;
        border-left-width: 0;
        user-select: none;

        div {
            padding: 0 6px;
            border-radius: 3px;

            cursor: pointer;

            &:hover {
                background-color: $medium-blue;
            }

            i {
                display: block;
            }
        }
    }
}
