$numeric-input-height: 26px;
$numeric-input-buttons-border-radius: 4px;

.numeric-input {
    @for $i from 1 through 20 {
        .mod-max-#{$i}-digit {
            width: $i * $numeric-input-digit-padding + $numeric-input-default-padding;
        }
    }

    input {
        height: $numeric-input-height;
        padding: $spacing;
        overflow: hidden;
        color: var(--title-text-color);
        font-size: $title-font-size;
        font-family: var(--main-font);
        text-overflow: ellipsis;
        border: $default-border;
        border-radius: $border-radius;
        box-shadow: inset 0 0 3px 0 rgba(var(--black-rgb), $transparency-5);
    }

    .btn {
        display: inline-block;
        width: $numeric-input-height;
        height: $numeric-input-height;
        color: var(--white);
        line-height: $numeric-input-height - 2 * $default-border-size;
        background-color: var(--deprecated-blue-purple-2);
        border-radius: $numeric-input-buttons-border-radius;
        outline: none;

        &:focus {
            background-color: var(--deprecated-blue-purple-2);
        }

        .icon {
            fill: var(--white);
        }
    }
}
