.numeric-input {
    .mod-max-2-digit {
        width: $numeric-input-2-digit-width;
    }

    .mod-max-3-digit {
        width: $numeric-input-3-digit-width;
    }

    .mod-max-4-digit {
        width: $numeric-input-4-digit-width;
    }
}
