.radio-option {
    position: relative;

    input[type='radio'] {
        // Hide the html radio under our custom one instead of using display:none to let the default keyboard navigation work.
        position: absolute;
        margin: 0;
        opacity: 0;

        & + label {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: $radio-button-option-height;
            padding-left: $radio-button-size + $checkbox-label-margin;
            color: var(--dark-grey);
            line-height: $radio-button-option-height;
            cursor: pointer;
            transition: 0.28s ease;
            user-select: none;

            &:before,
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: $radio-button-size;
                height: $radio-button-size;
                background-color: var(--pure-white);
                border-radius: 50%;
                transition: 0.28s ease;
                content: '';
            }
        }

        &:focus + label:before {
            box-shadow: 0 0 0 8px var(--light-grey);
        }

        &:not(:checked) + label {
            &:before {
                border: 2px solid var(--medium-blue);
            }

            &:after {
                z-index: -1;
                transform: scale(0);
            }
        }

        &:checked + label {
            &:before {
                border: 2px solid #1372ec; // digital-blue-60
            }

            &:after {
                z-index: 0;
                padding: 5px;
                background-color: #1372ec; // digital-blue-60
                transform: scale(1);
                content: url("data:image/svg+xml; utf8, <svg width='12px' fill='white' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'><path d='m3.144 8-2.977-3.109c-.223-.232-.223-.61 0-.843s.586-.232.809 0l2.168 2.264 5.881-6.138c.222-.232.585-.232.809 0 .222.233.222.611-.001.844z'/></svg>");
            }
        }

        &:disabled {
            & + label {
                color: var(--medium-grey);
                cursor: not-allowed;

                &:before {
                    border-color: var(--medium-grey);
                }
            }

            &:checked {
                & + label:after {
                    background-color: var(--medium-grey);
                }
            }
        }
    }

    .mod-align-with-radio-label {
        padding-left: $radio-button-size + $checkbox-label-margin;
    }
}

.radio-select {
    .radio-option + .radio-option {
        margin-top: $checkbox-label-margin-top;
    }
}
