.radio-option {
    position: relative;

    input[type='radio'] {
        // Hide the html radio under our custom one instead of using display:none to let the default keyboard navigation work.
        position: absolute;
        margin: 0;
        opacity: 0;

        & + label {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: $radio-button-option-height;
            padding-top: $radio-button-text-padding-top;
            padding-left: $radio-button-size + $checkbox-label-margin;
            color: var(--title-text-color);
            font-weight: var(--main-font-bold);
            line-height: $radio-button-option-height;
            cursor: pointer;
            user-select: none;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: $radio-button-size;
                height: $radio-button-size;
                background-color: var(--pure-white);
                border-radius: 50%;
                content: '';
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: $radio-button-size;
                height: $radio-button-size;
                background-color: var(--pure-white);
                border-radius: 50%;
                transform: scale(0);
                transform-origin: center center;
                content: '';
            }

            & + .help-text,
            & + .description {
                padding-left: $radio-button-size + $checkbox-label-margin;
            }
        }

        &:focus + label:before {
            box-shadow: 0 0 0 4px var(--light-grey);
        }

        &:not(:checked) + label {
            &:before {
                border: 2px solid var(--navy-blue-80);
            }

            &:after {
                z-index: -1;
                transform: scale(0);
            }
        }

        &:checked + label {
            &:before {
                z-index: 1;
                padding: 6px 5px 5px 5px;
                background-color: transparent;
                transform: scale(1);
                content: url('../../resources/icons/svg/content/radiocheck.svg');
            }

            &:after {
                z-index: 0;
                padding: 5px;
                background-color: var(--digital-blue-60);
                border: 2px solid var(--digital-blue-60);
                transform: scale(1);
                transform-origin: center center;
                transition: background-color 280ms ease 0ms;
            }
        }

        &:disabled {
            & + label {
                color: var(--grey-60);
                cursor: not-allowed;

                &:before {
                    border-color: var(--grey-40);
                }
            }

            & ~ .help-text,
            & ~ .description,
            & ~ .mod-align-with-radio-label {
                color: var(--grey-60);
            }

            &:checked + label {
                &:before {
                    content: url('../../resources/icons/svg/content/disabled-radiocheck.svg');
                }
                &:after {
                    padding: 3px;
                    background-color: var(--grey-20);
                    border: 2px solid var(--grey-40);
                }
            }
        }
    }

    .mod-align-with-radio-label {
        padding-left: $radio-button-size + $checkbox-label-margin;
        color: var(--grey-80);
    }
}

.radio-card-container {
    .radio-card {
        @extend .card;

        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 27px 25px;

        &:hover {
            cursor: pointer !important;
        }
        *:hover {
            cursor: pointer !important;
        }
    }

    .card-input {
        display: none;
    }

    .card-input:checked + .radio-card {
        border: 2px solid var(--digital-blue-60);
    }

    .card-input:disabled + .radio-card {
        background-color: var(--grey-20);
    }
}

.radio-select {
    .radio-option + .radio-option {
        margin-top: $checkbox-label-margin-top;
    }

    .radio-card-container + .radio-card-container {
        margin-left: $radio-card-margin-left;
    }
}
