.radio-option {
    position: relative;

    input[type='radio'] {
        // Hide the html radio under our custom one instead of using display:none to let the default keyboard navigation work.
        position: absolute;
        margin: 0;
        opacity: 0;

        & + label {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: $radio-button-option-height;
            padding-top: $radio-button-text-padding-top;
            padding-left: $radio-button-size + $checkbox-label-margin;
            color: var(--dark-grey);
            font-weight: var(--main-font-bold);
            line-height: $radio-button-option-height;
            cursor: pointer;
            user-select: none;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: $radio-button-size;
                height: $radio-button-size;
                background-color: var(--pure-white);
                border-radius: 50%;
                content: '';
            }

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: $radio-button-size;
                height: $radio-button-size;
                background-color: var(--pure-white);
                border-radius: 50%;
                transform: scale(0);
                transform-origin: center center;
                content: '';
            }
        }

        &:focus + label:before {
            box-shadow: 0 0 0 8px var(--light-grey);
        }

        &:not(:checked) + label {
            &:before {
                border: 2px solid var(--navy-blue-80);
            }

            &:after {
                z-index: -1;
                transform: scale(0);
            }
        }

        &:checked + label {
            font-weight: var(--main-font-bolder);

            &:before {
                border: 2px solid var(--digital-blue-60);
            }

            &:after {
                z-index: 0;
                padding: 5px;
                background-color: var(--digital-blue-60);
                transform: scale(1);
                content: url('../../resources/icons/svg/content/radiocheck.svg');
            }
        }

        &:disabled {
            & + label {
                color: var(--medium-grey);
                cursor: not-allowed;

                &:before {
                    background-color: var(--grey-20);
                    border-color: var(--grey-40);
                }
            }

            &:checked {
                & + label:after {
                    padding: 3px;
                    background-color: var(--grey-20);
                    border: 2px solid var(--grey-40);
                    content: url('../../resources/icons/svg/content/disabled-radiocheck.svg');
                }
            }
        }
    }

    .mod-align-with-radio-label {
        padding-left: $radio-button-size + $checkbox-label-margin;
        color: var(--grey-80);
    }
}

.radio-select {
    .radio-option + .radio-option {
        margin-top: $checkbox-label-margin-top;
    }
}
