label.coveo-slide-toggle-label {
  display: inline-block;

  line-height: 20px;

  transition: opacity 0.35s ease;

  cursor: pointer;
  user-select: none;

  &.disabled, &[for].disabled {
    cursor: default;
    opacity: 0.4;

    button {
      outline: none;

      cursor: default;
    }
  }

  &.boxed {
    padding: 8px 10px;

    border: solid 1px $medium-grey;

    .toggle-label {
      margin-right: 20px;

      line-height: 20px;
    }

    .toggle-description {
      display: block;
      margin-top: 8px;

      color: $text-color;
      font-size: 13px;
      line-height: 16px;
    }

    button {
      float: right;
    }
  }

  input[type=checkbox].coveo-slide-toggle {
    display: none;

    &:checked {
      + button:before {
        background-color: $coveo-green;
      }

      + button:after {
        margin-left: 12px;
      }
    }
  }

  button {
    position: relative;

    width: 32px;
    height: 20px;

    border: none;

    cursor: pointer;

    &:before, &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      display: block;
      width: 32px;

      content: ' ';

      background-color: $checkbox-slide-background-color;

      transition: all 0.35s ease;
    }

    &:after {
      top: 2px;
      bottom: 2px;

      width: 18px;
      margin-left: 2px;

      background-color: $block-background-color;
    }
  }

  span.toggle-label {
    font-size: 16px;
    vertical-align: text-top;
  }
}
