.coveo-slide-toggle-double-container {
    display: inline-block;
}

label.coveo-slide-toggle-double {
    float: left;
    margin-bottom: 0;
    color: $dark-grey;
    font-size: 13px;
    line-height: 22px;

    &.first {
        margin-right: 5px;
    }

    &.second {
        margin-left: 5px;
    }
}

input.coveo-slide-toggle-double[type='checkbox'] {
    display: none;

    & + span {
        display: inline-block;
        float: left;
        box-sizing: initial;
        width: 33px;
        height: 16px;
        background: $medium-grey url('../images/misc/two_option_toggle.png') 0 0; // Ignore error
        border: 3px solid $medium-grey;
        border-radius: 3px;

        cursor: pointer;
        transition: background-position 0.35s ease;
    }

    &:checked + span {
        background-position: -15px;
    }

    &:disabled + span {
        cursor: default;
        opacity: 0.4;
    }
}
