@import '../common/palette';
@import '../variables';

.vapor-slider.rc-slider {
    .rc-slider-rail {
        height: $slider-rail-height;
        margin-top: $slider-rail-margin-top;

        background-color: $grey-3;
    }

    .rc-slider-track {
        height: $slider-track-height;

        background: $blue-5;
        border-radius: 0;
    }

    .rc-slider-dot {
        bottom: initial;

        width: $slider-dot-width;
        height: $slider-dot-height;
        margin-top: $slider-dot-margin-top;
        margin-left: $slider-dot-margin-left;

        background-color: $heather;
        box-shadow: $slider-dot-box-shadow;
        border: none;
        border-radius: initial;
    }

    .rc-slider-handle {
        width: $slider-handle-width;
        height: $slider-handle-height;
        margin-top: $slider-handle-margin-top;
        margin-left: $slider-handle-margin-left;

        background: url('../../resources/icons/svg/slider-handle.svg') no-repeat;
        background-size: $slider-handle-background-size;
        box-shadow: $slider-handle-box-shadow;
        border: none;
        border-radius: $slider-handle-border-radius;
    }

    .rc-slider-mark-text {
        color: $bali-hai;
        bottom: 3 * $spacing;
    }
}

.vapor-slider-overlay {
    padding: 0;

    &[class*='rc-slider-tooltip-placement-'] {
        .rc-slider-tooltip-arrow {
            display: none;
        }

        .rc-slider-tooltip-inner {
            color: $dark-blue;
            font-size: $small-font-size;
            line-height: $default-line-height;

            background-color: transparent;
            box-shadow: none;
        }
    }
}
