.splash-header {
    position: absolute;

    width: 100%;
    height: $splash-default-height;
    min-height: 230px;

    .splash-header-medium {
        height: $splash-medium-height;
    }
}

@media (max-width: 495px) {
    .splash-header {
        height: 100vh;
    }
}

// @deprecated, the .bg-polygon class is deprecated, use .bg-gradient instead
.bg-polygon,
.bg-gradient {
    background: linear-gradient(65deg, $mirage 0%, $blue-purple-3 100%);
    background-size: cover;
}

.splash-container {
    z-index: 1;

    width: 495px;
    padding-top: 50px;
    padding-bottom: 50px;

    &.mod-wizard-container {
        width: $splash-wizard-width;
        padding-top: $splash-wizard-padding-top;
    }

    &.mod-large-wizard-container {
        width: $splash-large-wizard-width;
        padding-top: $splash-wizard-padding-top;
    }
}

.splash-logo {
    svg {
        display: block;
        width: 200px;
        height: auto;
        margin: 15px auto 60px;
    }
}

.splash-box {
    margin: 0 1em;

    text-align: center;

    background: $pure-white;
    box-shadow: $splash-box-shadow;
    border-radius: $big-border-radius;

    .splash-box-title {
        padding: $splash-vertical-padding 0 40px;
    }

    .splash-box-section {
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .splash-box-description {
        padding: 0 30px 30px;
    }

    .btn {
        display: block;
        width: 250px;
        margin: auto auto 1em;
    }

    .splash-box-header,
    .splash-box-footer {
        padding: 17px;
    }

    .splash-box-footer {
        margin-top: 50px;

        border-radius: 0 0 $big-border-radius $big-border-radius;
    }

    .splash-box-section-center-with-title {
        padding-bottom: $splash-vertical-padding;
    }
}

.splash-footer {
    z-index: 1;

    min-height: $splash-min-height;
    padding: 10px 20px 10px;

    @media (max-width: 580px) {
        min-height: $splash-mobile-min-height;
    }

    span {
        line-height: 25px;

        a {
            margin-right: 10px;
        }
    }
}
