.splash-header {
  position: absolute;

  width: 100%;
  height: 30vh;
  min-height: 230px;
}

@media (max-width: 495px) {
  .splash-header {
    height: 100vh;
  }
}

.bg-polygon {
  background: $light-blue url('../images/polyart.svg');
  background-size: cover;
}

.splash-container {
  z-index: 1;

  width: 495px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.splash-logo {
  svg {
    display: block;
    width: 200px;
    height: auto;
    margin: 15px auto 60px;
  }
}

.splash-box {
  text-align: center;

  background: $white;

  .splash-box-title {
    padding: 70px 0 40px;
  }

  .splash-box-section {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .splash-box-description {
    padding: 0 30px 50px;
  }

  .splash-box-footer {
    padding: 17px;
    margin-top: 50px;
  }
}

.splash-footer {
  z-index: 1;

  min-height: 50px;
  padding: 17px 20px 17px;

  span {
    line-height: 25px;
  }
}
