.splash-header {
  position: absolute;

  width: 100%;
  height: 30vh;
  min-height: 230px;
}

@media (max-width: 495px) {
  .splash-header {
    height: 100vh;
  }
}

.bg-polygon {
  background: $light-blue url('../images/polyart.svg');
  background-size: cover;
}

.splash-container {
  z-index: 1;

  width: 495px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.splash-logo {
  svg {
    display: block;
    width: 200px;
    height: auto;
    margin: 15px auto 60px;
  }
}

.splash-box {
  text-align: center;

  background: $pure-white;
  border-radius: $button-border-radius;

  .splash-box-title {
    padding: 70px 0 40px;
  }

  .splash-box-section {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .splash-box-description {
    padding: 0 30px 50px;
  }

  .btn {
    display: block;
    width: 250px;
    margin: auto auto 1em;
  }

  .splash-box-header, .splash-box-footer {
    padding: 17px;
  }

  .splash-box-footer {
    margin-top: 50px;
  }
}

.splash-footer {
  z-index: 1;

  min-height: 45px;
  padding: 10px 20px 10px;

  background-color: $darker-blue;
  border-bottom-right-radius: $button-border-radius;
  border-bottom-left-radius: $button-border-radius;

  span {
    line-height: 25px;

    a {
      margin-right: 10px;
    }
  }
}
