// Headings
//
// Admin HTML headings
// Use modifiers instead of `font-weight` for crispier fonts.
//
// Markup:
//<h1 class="{$modifiers}">Admin heading</h1>
//<h2 class="{$modifiers}">Admin heading</h2>
//<h3 class="{$modifiers}">Admin heading</h3>
//<h4 class="{$modifiers}">Admin heading</h4>
//<h5 class="{$modifiers}">Admin heading</h5>
//<h6 class="{$modifiers}">Admin heading</h6>
//
// .light           - Light font
// .semibold        - Semi bold font
// .bold            - Bold font
//
// Styleguide 2.1
@import "../common/font";

h1, h2, h3, h4, h5, h6 {
    font-family: @headings-font-family;

    &.light {
        font-family: @headings-font-family-light;
    }

    &.semibold {
        font-family: @headings-font-family-semibold;
    }

    &.bold {
        font-family: @headings-font-family-bold;
    }
}

h1,
h2,
h3 {
  line-height: 40px;
}

h1 {
  font-size: 38.5px;
}

h2 {
  font-size: 31.5px;
}

h3 {
  font-size: 24.5px;
}

h4 {
  font-size: 17.5px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 11.9px;
}
