@import (reference) '../common/font';
@import (reference) '../common/colors';

.JsAdmin-tag {
  display: inline-block;
  padding: 2px 4px 3px;

  color: #ffffff;
  font-family: @base-font-family;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: @placeholder-text;
  border-radius: 2px;

  cursor: default;
}

.user-type {
  font-size: 10px;

  .JsAdmin-tag();

  &.user-admin {
    background-color: @user-admin-color;
  }

  &.user-user {
    background-color: @user-user-color;
  }

  &.user-role_uareader {
    background-color: @user-ua-reader-color;
  }

  &.user-role_rankingeditor {
    background-color: @user-ranking-editor-color;
  }

  &.user-owner {
    background-color: @user-owner-color;
  }

  &.user-invited {
    background-color: @user-invited-color;
  }

  &.user-ops {
    background-color: @user-ops-color;
  }
}

.organization-type {
  .JsAdmin-tag();

  &.STANDARD-label {
    background-color: @standard-type-label-color;
  }

  &.SANDBOX-label {
    background-color: @sandbox-type-label-color;
  }

  &.INTERNAL-label {
    background-color: @internal-type-label-color;
  }

  &.DEMO-label {
    background-color: @demo-type-label-color;
  }

  &.TRIAL-label {
    background-color: @trial-type-label-color;
  }

  &.FREE-label {
    background-color: @free-type-label-color;
  }

  &.ua-only-label {
    background-color: @ua-only-label-color;
  }
}

.encryption-status {
  .JsAdmin-tag();

  &.SHAREDKEY-label {
    background-color: @trial-type-label-color;
  }

  &.UNIQUEKEY-label {
    background-color: @user-admin-color;
  }
}
