@import '~coveo-styleguide/dist/css/CoveoStyleGuide.css';
@import '~coveo-styleguide/scss/common/palette';
@import '~coveo-styleguide/scss/lib/mixins';
@import '~coveo-styleguide/scss/variables';
@import 'syntax-highlighting';

#App {
    margin: 0 auto;
    color: var(--default-text-color);
    font-weight: var(--main-font-regular);
    font-size: var(--default-font-size);

    .header-title {
        height: 27px;
    }

    .header-height {
        height: auto;
    }

    .demo-content {
        @include slim-scroll(var(--grey-2), var(--grey-4));
        overflow-y: overlay;
    }

    .top-navigation .tab {
        font-weight: var(--main-font-regular);

        &.active {
            font-weight: var(--main-font-bold);
        }
    }

    .tab {
        text-transform: capitalize;
    }

    @media (max-width: $breakpoint-desktop-small) {
        .demo-content {
            margin-left: 0;
        }
    }

    @for $i from 7 through 10 {
        $size: $i * 10;
        @media (max-width: $breakpoint-desktop-large) {
            &.mod-width-#{$size} {
                width: 95%;
            }
        }
        @media (max-width: $breakpoint-desktop-small) {
            &.mod-width-#{$size} {
                width: 99%;
            }
        }
    }
}

// Icons
.sg-icons-html {
    code {
        white-space: pre-line;
    }
}

.sg-icons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--main-font);

    li {
        display: inline-flex;
        justify-content: center;
        width: 100px;
        height: 120px;
        margin: 2px;
        word-break: break-all;

        &:hover {
            background-color: var(--grey-3);
        }

        a {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            height: 100%;
            // padding-top: 20px;
            text-align: center;

            svg {
                width: 45px;
                height: 45px;
            }
        }

        label {
            display: block;
            margin-top: 10px;
            font-size: 12px;
            text-align: center;
            word-wrap: break-word;
        }
    }
}

.progress-bar-example-container {
    display: flex;
    padding: 30px 0;

    .progress-bar {
        margin: auto;
    }
}

.codepen-form {
    position: absolute;
    right: 1.5rem;
    bottom: 2.4rem;
}

.child-form-exemple-container {
    background-color: var(--grey-40);
}
