.demo-sandbox {
    display: flex;
    flex-flow: column;

    &__preview {
        box-sizing: border-box;
        min-height: 200px;
        padding: 2rem;
        background-color: #fff;
        border: 1px solid var(--default-border-color);
        border-radius: 8px 8px 0 0;
    }

    &__editor {
        height: 300px;
    }
}
