// variables
$white: hsla(0, 0%, 100%, 1);
$digitale-blue-60: hsla(214, 85%, 50%, 1);
$button-border-width: 1px;

.standaloneSearchBar {
    .search-bar {
        min-width: 648px;
        min-height: 48px;
        background-color: var(--white);
        border: $button-border-width solid transparent;
        border-radius: 8px 0px 0px 8px;

        &:focus-visible {
            // remove default blue border on click in the shadow input
            outline: none;
        }

        ~ .close-button {
            position: relative;
            width: 0;
            min-height: 48px;
            overflow: hidden;
            background: $white;
            visibility: hidden;
            cursor: pointer;
            transition: visibility 0.3s, width 0.3s;

            &.search-not-empty {
                width: 48px;
                visibility: visible;
            }
        }

        ~ .search-results-container {
            position: fixed;
            min-width: 648px;
            border-radius: 8px;
            box-shadow: 0px 8px 17px rgba(142, 142, 142, 0.22);
        }
    }
}
