@import '~coveo-styleguide/scss/common/palette.scss';
@import '~coveo-styleguide/scss/variables.scss';

$collapsible-timeout: 100ms;

.container {
    transition: background-color $collapsible-timeout ease-in-out;
    &:hover {
        background-color: $white;
    }
}

.alignWithIcon {
    margin-left: calc(1rem + #{$collapsible-infobox-icon-size});
}
