:global(.mantine-Modal-body) {
    .root {
        margin: calc(-1 * var(--mb-padding));
        margin-top: var(--mb-padding);
    }
}

.root {
    padding: var(--mb-padding, var(--mantine-spacing-md, 24px));
}
