$borders: border-top border-bottom border-left border-right;

@each $border in $borders {
  .mod-#{$border} {
    #{$border}: $default-border;
  }
}

@each $border in $borders {
  .mod-no-#{$border} {
    #{$border}: none;
  }
}

.mod-border {
  border: $default-border; 
}

.mod-no-border {
  border: none;
}
