@each $color in $palette {
    $key: nth($color, 1);

    @if $key == white {
        .text-#{$key} {
            color: var(--light);
        }
    } @else {
        .text-#{$key} {
            color: var(--#{$key});
        }
    }
}
