$palette-primary: dark-blue $dark-blue, darker-blue $darker-blue, medium-blue $medium-blue, light-blue $light-blue, dark-grey $dark-grey, dark-medium-grey $dark-medium-grey, medium-grey $medium-grey,
light-grey $light-grey, white $white, pure-white $pure-white, orange $orange, purple-blue $purple-blue;

$palette-secondary: red $red, yellow $yellow, green $green, blue $blue, salesforce-blue $salesforce-blue, google-red $google-red, office365-red $office365-red;

@each $color in join($palette-primary, $palette-secondary) {
  .bg-#{nth($color, 1)} {
    background-color: nth($color, 2);
  }

  .fill-#{nth($color, 1)} {
    fill: nth($color, 2);
  }

  .text-#{nth($color, 1)} {
    color: nth($color, 2);
  }

  .border-#{nth($color, 1)} {
    border-color: nth($color, 2);
  }
}
