.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    align-items: center;
}

.flex-stretch {
    align-items: stretch;
}

.flex-auto {
    flex-basis: auto;
    flex-grow: 1;
}

.center-align {
    align-items: center;
    justify-content: center;
}

.align-end {
    align-self: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}
