.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
}

.flex-auto {
  flex: 1 1 auto;
}

.center-align {
  align-items: center;
  justify-content: center;
}
