.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-auto {
  flex: 1 1 auto;

  min-width: 0;
  min-height: 0;
}

.center-align {
  align-items: center;
  justify-content: center;
}
