// Layout utility classes
// Source: https://github.com/basscss/utility-layout

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.clearfix:before, .clearfix:after {
  display: table;

  content: ' ';
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fullscreen {
  height: 100px; // IE fix.
  min-width: 100vw;
  min-height: 100vh;
}

.full-content {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;

  visibility: hidden;
}

.split-layout {
  height: 100%;
  min-height: min-content;

  @extend .flex;
  @extend .flex-auto;

  .column {
    height: 100%;
    max-width: 50%;
    overflow-y: auto;

    @extend .flex-auto;
  }

  .column + .column {
    border-left: 1px solid $medium-grey;
  }
}

.splitted-layout {
  // Deprecated use .split-layout instead
  @extend .split-layout;
}

.normal-height {
  max-height: none;
}

.full-height {
  min-height: min-content;
}

.full-width {
  min-width: min-content;
}
