// Layout utility classes
// Source: https://github.com/basscss/utility-layout

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-auto {
  overflow: auto;
}

.clearfix:before, .clearfix:after {
  display: table;

  content: ' ';
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.fullscreen {
  height: 100px; // IE fix.
  min-width: 100vw;
  min-height: 100vh;
}

.full-content-x {
  width: 100%;
  min-width: 100%;
}

.full-content-y {
  height: 100%;
  min-height: 100%;
}

.full-content {
  @extend .full-content-x;
  @extend .full-content-y;
}

@for $i from 1 through 10 {
  $size: $i * 10;
  .mod-width-#{$size} {
    width: $size * 1%;
  }
}

.hidden {
  display: none;

  visibility: hidden;
}

// Different from .hidden and used to initialy hide an element that will later be shown dynamically 
// The visibility property makes it more complicated to show the element with a simple slideToggle
.hide {
  display: none;
}

.split-layout {
  height: 100%;
  min-height: min-content;

  @extend .flex;
  @extend .flex-auto;

  .column {
    max-width: 50%;
    overflow-y: auto;

    @extend .flex-auto;

    &.mod-small-content {
      height: auto;
    }
  }

  .column + .column {
    border-left: 1px solid $medium-grey;
  }
}

.splitted-layout {
  // Deprecated use .split-layout instead
  @extend .split-layout;
}

.normal-height {
  max-height: none;
}

.full-height {
  min-height: min-content;
}

.full-width-min {
  min-width: min-content;
}

.full-width-max {
  min-width: max-content;
}
