// Position utility class.
// Source: http://www.basscss.com/docs/positions/

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.show-on-top {
  z-index: 2147483647; // Max safe z-index
}
