.shadow-1 {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.shadow-2 {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.shadow-3 {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
.shadow-4 {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
.shadow-5 {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
