.spaced-boxes-container {
    margin-top: -$box-spacing;
    margin-left: -$box-spacing;
}

.spaced-box {
    margin-top: $box-spacing;
    margin-left: $box-spacing;
    color: var(--pure-white);

    &.mod-secondary {
        color: var(--button-secondary-text-color);
    }
}
