@import '~coveo-styleguide/scss/common/palette.scss';
@import '~coveo-styleguide/scss/variables.scss';

.diffViewer {

    :global(.d2h-file-wrapper) {
        border: none;
    }

    :global(.d2h-file-diff) {
        overflow: initial;
    }

    :global(.d2h-file-header) {
        display: none;
    }

    :global(.d2h-code-wrapper) {
        position: relative;
    }

    :global(.d2h-diff-table) {
        font-family: 'Courier New', Courier, monospace;
        border-bottom: 1px solid $medium-grey;
    }

    :global(.d2h-code-linenumber) {
        background: $white;
        width: auto;
        height: calc(#{$diff-line-height} + #{$diff-line-ajustment});
        border: none;
        border-left: 1px solid $medium-grey;
        margin-top: $diff-line-ajustment;

        &:global(.d2h-change) {
            background: $white;
        }
    }

    :global(.line-num1), :global(.line-num2) {
        width: $diff-line-number-width;
    }

    :global(tr:last-child) :global(.d2h-code-linenumber) {
        height: calc(#{$diff-line-height} - #{$diff-line-ajustment});
    }

    :global(td) {
        border-right: 1px solid $medium-grey;
    }

    :global(td.d2h-info) {
        height: auto;
        line-height: normal;
        border: 1px solid $medium-grey;
        border-left: none;
        border-right: none;
        background: none;

        &:global(.d2h-code-linenumber) {
            border-left: none;
            border-bottom: none;
            border-right: none;
            width: calc(#{$diff-line-number-width} * 2 + #{$diff-line-number-width});
            margin-top: 0;
            background: $pure-white;
            height: $diff-line-ajustment * 2;
        }
    }

    :global(tr:first-child) :global(td.d2h-info) {
        border-top: none;
    }

    :global(.d2h-code-line) {
        margin-left: $diff-line-number-width * 2;

        &:global(.d2h-info) {
            background: $pure-white;
            color: $pure-white;
            font-size: 0;
            width: 100%;
            margin-left: 0;
            border-bottom: 2px solid $medium-grey;
            margin-bottom: $diff-separator-margin;
            position: relative;

            &:before {
                content: '...';
                border: $default-border-size solid $white;
                border-radius: $border-radius;
                content: '...';
                font-size: $diff-separator-font-size;
                line-height: $diff-separator-line-height;
                padding-bottom: $diff-separator-padding;
                color: $dark-medium-grey;
                position: absolute;
                left: 0;
                top: 50%;
                background: white;
                transform: translateY(-50%);
            }
        }
    }

    :global(.d2h-ins):not(:global(.d2h-code-linenumber)) {
        background: $soft-green;
    }

    :global(.d2h-code-line), :global(.d2h-code-side-line) {
        :global(ins) {
            background: $soft-green;
        }
    }

    :global(.d2h-del):not(:global(.d2h-code-linenumber)) {
        background: $soft-red;
    }
}
