@import (reference) "../common/font";

h1, h2, h3, h4, h5, h6 {
    font-family: @base-font-family;

    &.light {
        font-weight: 300;
    }

    &.semibold {
        font-weight: 600;
    }

    &.bold {
        font-weight: 700;
    }
}

h1,
h2,
h3 {
    line-height: 40px;
}

h1 {
    font-size: 38.5px;
}

h2 {
    font-size: 31.5px;
}

h3 {
    font-size: 24.5px;
}

h4 {
    font-size: 17.5px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 11.9px;
}
