.theme {
    height: 100%;
    color: var(--mantine-color-dark-1);
    background: #1e1e1e;

    @mixin light {
        --_color: var(--mantine-color-dark-1);
        --_background: var(--mantine-color-dark-8);
        --code-comment-color: #6a9955;
        --code-keyword-color: #559cd6;
        --code-tag-color: #4ec9b0;
        --code-literal-color: #79c0ff;
        --code-string-color: #ce9178;
        --code-variable-color: #79c0ff;
        --code-class-color: #9cdcfe;
        --code-title-color: #dcdcaa;
    }

    .hljs-comment .hljs-quote {
        font-style: italic;
        color: var(--mantine-color-dark-3);
    }

    .hljs-doctag,
    .hljs-formula,
    .hljs-keyword {
        color: var(--code-keyword-color);
    }

    .hljs-deletion,
    .hljs-name,
    .hljs-section,
    .hljs-selector-tag,
    .hljs-subst {
        color: var(--code-tag-color);
    }

    .hljs-literal {
        color: var(--code-literal-color);
    }

    .hljs-addition,
    .hljs-attribute,
    .hljs-meta,
    .hljs-string,
    .hljs-regexp,
    .hljs-string {
        color: var(--code-string-color);
    }

    .hljs-attr,
    .hljs-number,
    .hljs-selector-attr,
    .hljs-selector-class,
    .hljs-selector-pseudo,
    .hljs-template-variable,
    .hljs-type,
    .hljs-variable {
        color: var(--code-variable-color);
    }

    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-symbol,
    .hljs-built_in,
    .hljs-class {
        color: var(--code-class-color);
    }

    :global(.hljs-title),
    .hljs-title.function_,
    .hljs-title.class_ {
        color: var(--code-title-color);
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: 700;
    }

    .hljs-link {
        text-decoration: underline;
    }
}
