.color-palette {
    gap: 8px;
}

.color-details {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    transition:
        max-height 0.15s ease-in 0,
        max-width 0.15s ease-in 0;

    td:first-child {
        padding-right: 8px;
    }
}

.color-box {
    &:hover .color-details {
        max-width: 300px;
        max-height: 60px;
        transition-delay: 0.5s;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;
    }
}

.color-sticker {
    width: 100%;
    min-width: 50px;
    height: 50px;
    border-radius: 8px;
}
