@import '@coveord/plasma-style/dist/style.css';
@import '@coveord/plasma-style/scss/lib/_mixins';
@import '@coveord/plasma-style/scss/variables';
@import 'syntax-highlighting';

#App {
    overflow: hidden;
    .demo-header {
        display: grid;
        grid-template-columns: 261px 1fr 261px;
        place-items: center;
        min-width: 100%;
        padding: 0.5rem 2rem 0.5rem 2rem;
        background-color: var(--navy-blue-80);

        .header-logo-link {
            justify-self: flex-start;
        }

        .header-logo {
            width: 229px;
        }
    }

    .right-side {
        justify-self: end;
    }

    @media (max-width: 1240px) {
        .demo-header {
            grid-template-columns: 261px 1fr 2rem;
        }

        .right-side {
            display: none;
        }
    }

    .header-height {
        height: auto;
    }

    .demo-content {
        @include slim-scroll(var(--deprecated-grey-2), var(--deprecated-grey-4));
        overflow-y: overlay;
    }

    .top-navigation .tab {
        font-weight: var(--main-font-regular);

        &.active {
            font-weight: var(--main-font-bold);
        }
    }

    .tab {
        text-transform: capitalize;
    }

    @media (max-width: $breakpoint-desktop-small) {
        .demo-content {
            margin-left: 0;
        }
    }

    @for $i from 7 through 10 {
        $size: $i * 10;
        @media (max-width: $breakpoint-desktop-large) {
            &.mod-width-#{$size} {
                width: 95%;
            }
        }
        @media (max-width: $breakpoint-desktop-small) {
            &.mod-width-#{$size} {
                width: 99%;
            }
        }
    }
}

.progress-bar-example-container {
    display: flex;
    padding: 30px 0;

    .progress-bar {
        margin: auto;
    }
}

.codepen-form {
    position: absolute;
    right: 1.5rem;
    bottom: 2.4rem;
}

.child-form-exemple-container {
    background-color: var(--grey-40);
}

#multiselect-examples {
    .form-control-label {
        display: block;
    }
}

.sentence-case {
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }
}

img.invert {
    filter: invert(1);
}
