@import '@coveord/plasma-style/dist/style.css';
@import '@coveord/plasma-style/scss/lib/mixins';
@import '@coveord/plasma-style/scss/variables';
@import './_syntax-highlighting.css';

body {
    font-size: var(--mantine-font-size-sm);
    font-weight: 300;
}

.sentence-case {
    text-transform: lowercase;

    &::first-letter {
        text-transform: uppercase;
    }
}
