@import '~@coveord/plasma-style/dist/css/CoveoStyleGuide.css';
@import '~@coveord/plasma-style/scss/lib/mixins';
@import '~@coveord/plasma-style/scss/variables';
@import 'syntax-highlighting';

#App {
    overflow: hidden;
    color: var(--default-text-color);
    font-weight: var(--main-font-regular);
    font-size: var(--default-font-size);

    .demo-header {
        min-width: 100%;
        padding: 0.5rem 2rem 0.5rem 2rem;
        background-color: var(--navy-blue-80);

        .header-logo {
            width: 229px;
            height: 102px;
            margin-left: 32px;
        }

        .search {
            flex: 2 0 auto;
            align-self: center;
            width: 40%;
        }

        .right-side {
            width: 15%;
        }
    }

    .header-height {
        height: auto;
    }

    .demo-content {
        @include slim-scroll(var(--deprecated-grey-2), var(--deprecated-grey-4));
        overflow-y: overlay;
    }

    .top-navigation .tab {
        font-weight: var(--main-font-regular);

        &.active {
            font-weight: var(--main-font-bold);
        }
    }

    .tab {
        text-transform: capitalize;
    }

    @media (max-width: $breakpoint-desktop-small) {
        .demo-content {
            margin-left: 0;
        }
    }

    @for $i from 7 through 10 {
        $size: $i * 10;
        @media (max-width: $breakpoint-desktop-large) {
            &.mod-width-#{$size} {
                width: 95%;
            }
        }
        @media (max-width: $breakpoint-desktop-small) {
            &.mod-width-#{$size} {
                width: 99%;
            }
        }
    }
}

// Icons
.sg-icons-html {
    code {
        white-space: pre-line;
    }
}

.sg-icons-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: var(--main-font);

    li {
        display: inline-flex;
        justify-content: center;
        width: 100px;
        height: 120px;
        margin: 2px;
        word-break: break-all;

        &:hover {
            background-color: var(--deprecated-grey-3);
        }

        a {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            height: 100%;
            text-align: center;

            svg {
                width: 45px;
                height: 45px;
            }
        }

        label {
            display: block;
            margin-top: 10px;
            font-size: 12px;
            text-align: center;
            word-wrap: break-word;
        }
    }
}

.progress-bar-example-container {
    display: flex;
    padding: 30px 0;

    .progress-bar {
        margin: auto;
    }
}

.codepen-form {
    position: absolute;
    right: 1.5rem;
    bottom: 2.4rem;
}

.child-form-exemple-container {
    background-color: var(--grey-40);
}

#multiselect-examples {
    .form-control-label {
        display: block;
    }
}
