.plasma-page-header {
    display: grid;
    grid-gap: 24px;
    grid-template-areas:
        'section github'
        'title   icon'
        'desc    icon'
        'empty   icon';
    padding: 32px;

    .tile {
        grid-area: icon;
        justify-self: end;
        width: 264px;
        height: 173px;
    }

    .github-button {
        grid-area: github;
        justify-self: end;
    }
}
