.props-table {
    max-height: 500px;
    overflow: auto;
    border: 1px solid var(--mantine-color-gray-3);
    border-radius: var(--mantine-radius-md);

    table {
        color: var(--mantine-color-black);

        th {
            position: sticky;
            top: 0;
            height: 44px;
            padding: 0 24px;
            text-align: left;
            vertical-align: middle;
            background-color: var(--mantine-color-white);
            font-weight: 500;
        }

        td {
            padding: var(--mantine-spacing-sm);
            vertical-align: middle;
        }

        tr {
            height: 44px;

            &:nth-child(odd) {
                background-color: var(--mantine-color-gray-1);
            }
        }

        .code {
            color: var(--mantine-color-black);
        }
    }
}
