.demo-sandbox {
    display: flex;
    flex-flow: column;
    overflow: hidden;
    border: 1px solid var(--default-border-color);
    border-radius: 8px;

    &.horizontal {
        flex-flow: row;
        & > * {
            flex-grow: 1;
            width: 50%;
        }
    }

    &__preview {
        box-sizing: border-box;
        padding: 2rem;
        background-color: #fff;
    }

    &__editor,
    .monaco-editor {
        width: 100%;
        min-height: 100%;
    }

    &__title {
        padding: 7px 15px;
        color: var(--grey-100);
        background-color: var(--grey-40);
    }
}
