:root {
    --square-size: 120px;
}

.highlight-padding {
    > * {
        background-image: linear-gradient(white, white), linear-gradient(var(--navy-blue-30), var(--navy-blue-30));
        background-clip: content-box, padding-box;
    }
}

.highlight-margin {
    display: inline-block;
    background-color: var(--pomegranate-red-30);
}

.spacing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--square-size), 1fr));
    gap: 8px;
}

.spacing-viewer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--square-size);
    height: var(--square-size);
    font-family: var(--code-font, monospace);
    text-align: center;
    border: 1px solid black;
}
