.tile {
    position: relative;
    min-width: 264px;
    background: var(--white);
}

a.tile:hover {
    border: 2px solid var(--primary-color-60);
    box-shadow: var(--medium-elevation-on-light);
}

.tile-information {
    position: absolute;
    bottom: 0.25px;
    width: 100%;
    height: 51.75px;
    padding: 12px 14px;
    overflow: hidden;
    background: var(--white);
    border-radius: 8px;
    transition: height 300ms;
}

.tile-title {
    width: 100%;
    height: 51.75px;
    text-align: left;
}

.tile.mod-drawer:hover > .tile-information {
    height: 131.75px;
    box-shadow: 0 -6px 41px rgb(142 149 157 / 29%);

    .tile-title {
        height: 27.75px;
        overflow: hidden;
        transition: height 300ms;
    }
}

.tile-description {
    width: 100%;
    height: 100%;
}
