.tile {
    position: relative;
}

a.tile {
    border: 2px solid var(--mantine-color-default-border);
}

a.tile:hover {
    border: 2px solid var(--mantine-primary-color-filled);
}

.tile-information {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 65px;
    padding: 12px 14px;
    overflow: hidden;
    border-radius: 8px;
    transition: height 300ms;
}

.tile.mod-drawer:hover > .tile-information {
    height: 152px;
    box-shadow: 0 -6px 41px rgb(142 149 157 / 29%);
}
