table.big-table {
    tbody {
        tr {
            height: $big-table-row-height;

            cursor: default;

            td {
                padding: $table-cell-left-right-padding;
            }

            td.main {
                white-space: nowrap;

                .icon {
                    width: $big-table-row-height;
                    height: $big-table-row-height;
                    margin-right: $big-table-icon-margin;

                    vertical-align: -3px;
                }

                div.details {
                    display: inline-block;

                    div.second-row {
                        .icon {
                            width: $big-table-icon-size;
                            height: $big-table-icon-size;
                            margin-right: 0;
                        }

                        .label {
                            color: $dark-grey;
                        }
                    }
                }
            }

            td.col,
            td.main {
                position: relative;

                .first-row {
                    font-size: $big-table-first-row-font-size;
                    line-height: $big-table-first-row-line-height;
                }

                div.second-row {
                    margin-top: 2px;

                    font-size: $big-table-second-row-font-size;
                    line-height: $big-table-second-row-line-height;
                }
            }

            div.wrapper {
                min-height: $big-table-row-height;
            }

            &.disabled td .wrapper {
                opacity: 0.5;
            }
        }
    }
}
