table.big-table {
    --color: var(--title-text-color);

    tbody {
        tr {
            height: $big-table-row-height;
            cursor: default;

            td {
                padding: $table-cell-left-right-padding;
            }

            td.main {
                white-space: nowrap;

                .icon {
                    width: $big-table-row-height;
                    height: $big-table-row-height;
                    margin-right: $big-table-icon-margin;
                    vertical-align: -3px;
                }

                div.details {
                    display: inline-block;

                    div.second-row {
                        .icon {
                            width: $big-table-icon-size;
                            height: $big-table-icon-size;
                            margin-right: 0;
                        }

                        .label {
                            color: var(--color);
                        }
                    }
                }
            }

            td.col,
            td.main {
                position: relative;

                .first-row {
                    color: var(--color);
                    font-weight: var(--big-table-first-row-font-weight);
                    font-size: var(--big-table-first-row-font-size);
                    line-height: $big-table-first-row-line-height;
                }

                div.second-row {
                    --color: var(--default-text-color);

                    margin-top: 2px;
                    color: var(--color);
                    font-size: var(--big-table-second-row-font-size);
                    line-height: $big-table-second-row-line-height;
                }
            }

            div.wrapper {
                min-height: $big-table-row-height;
            }

            &.disabled td .wrapper {
                opacity: 0.5;
            }
        }
    }
}
