.fixed-header-table-container {
  position: relative;

  padding-top: $table-header-height;
  overflow: hidden;

  border-top: $table-border;

  .fixed-header-table {
    overflow-y: scroll;

    border-top: $table-border;
    border-bottom: $table-border;

    table thead tr {
      height: 0;

      th {
        position: inherit;

        padding-top: 0;
        padding-bottom: 0;

        font-size: 0;
        white-space: nowrap;

        border: none;

        &.admin-sort .admin-sort-icon {
          left: 0;
        }

        &.selection .fixed-header-container {
          padding-top: 4px;
        }

        div.fixed-header-container {
          position: absolute;
          top: 0;

          padding-top: 8px;

          font-size: 12px;
        }
      }
    }
  }
}
