.fixed-header-table-container {
    position: relative;
    padding-top: $table-header-inner-height;
    overflow: hidden;
    border-top: $table-border;

    .fixed-header-table {
        overflow-y: scroll;
        border-top: $table-border;
        border-bottom: $table-border;

        @include slim-scroll($light-grey, $medium-grey);

        table {
            thead tr {
                height: 0;
                line-height: 0;
            }

            th {
                position: inherit;
                padding-top: 0;
                padding-bottom: 0;
                font-size: 0;
                white-space: nowrap;
                border: none;

                &.admin-sort .admin-sort-icon {
                    left: 0;
                }

                div.fixed-header-container {
                    position: absolute;
                    top: 0;
                    padding: $table-header-top-bottom-padding 0;
                    font-size: 12px;
                    line-height: $table-header-line-height;
                }
            }

            tbody tr:last-child {
                height: $table-row-inner-height;

                td {
                    border-bottom: none;
                }
            }
        }
    }
}
