.coveo-table-actions-container {
  flex-flow: row wrap;
  justify-content: flex-end;

  display: flex;
  min-height: $table-actions-container-height;

  .coveo-table-actions {
    padding: 10px 19px 10px 30px;

    .actions-row {
      display: flex;
    }

    .action {
      padding: 3px;
      margin-left: 5px;

      border: 1px solid transparent;
      border-radius: 2px;

      cursor: pointer;
      user-select: none;

      .state-disabled {
        cursor: default;
        opacity: 0.3;
      }

      &.dropdown {
        &.open {
          background-color: $light-grey;
          border-color: $medium-grey;
        }
      }

      .action-label {
        color: $medium-blue;
        font-weight: bold;
      }
    }
  }

  .coveo-table-actions + .coveo-table-actions {
    border-left: $table-border;
  }

  &.mod-border-top {
    border-top: $table-border;
  }
}
