.coveo-table-actions-container {
  flex-flow: row wrap;
  justify-content: flex-end;

  display: flex;
  min-height: $table-actions-container-height;

  .coveo-table-actions {
    padding: 0 30px;

    .actions-row {
      line-height: $table-actions-container-height;

      .dropdown-menu {
        top: 42px;
        right: 0;
        left: inherit;

        .dropdown-arrow {
          right: 5px;
        }
      }
    }

    .action {
      cursor: pointer;

      .state-disabled {
        cursor: default;
        opacity: 0.3;
      }

      & + .action {
        padding-left: 30px;
      }

      .action-label {
        color: $medium-blue;
        font-size: 12px;
        font-weight: bold;
        vertical-align: top;
      }
    }
  }

  .coveo-table-actions + .coveo-table-actions {
    border-left: $table-border;
  }

  &.mod-border-top {
    border-top: $table-border;
  }
}
