@import '../common/colors';
@import '../controls/filter-box';
$coveo-table-actions-container-height: 52px;

.coveo-table-actions-container {
  flex-flow: row wrap;
  justify-content: flex-end;

  display: flex;

  border-top: $table-border;

  .coveo-table-actions {
    position: relative;

    display: table;
    height: $coveo-table-actions-container-height;
    padding: 0 10px;

    &:before {
      position: absolute;
      top: -$table-border-width;
      left: 0;

      display: block;
      width: 100%;
      height: $table-border-width;

      content: '';

      background-color: $medium-grey;
    }

    .action {
      display: table-cell;

      vertical-align: middle;

      cursor: pointer;

      & + .action {
        padding-left: 10px;
      }
    }

    .action-bar {
      display: table-row;
      height: 100%;

      .dropdown-menu {
        top: 42px;
        right: 0;
        left: initial;

        .dropdown-arrow {
          right: 5px;
        }
      }
    }

    .coveo-filter-container {
      margin: 10px 0;
    }

    .prompt {
      display: table-cell;

      vertical-align: middle;

      .prompt-danger {
        display: table-row;

        & > span {
          display: table-cell;

          vertical-align: middle;
        }
      }
    }
  }

  .coveo-table-actions + .coveo-table-actions {
    border-left: $table-border;
  }
}
