.coveo-table-actions-container {
  flex-flow: row wrap;
  justify-content: flex-end;

  display: flex;

  .coveo-table-actions {
    position: relative;

    display: table;
    height: $table-actions-container-height;
    padding: 0 10px;

    .action {
      display: table-cell;

      vertical-align: middle;

      cursor: pointer;

      .state-disabled {
        cursor: default;
        opacity: 0.3;
      }

      & + .action {
        padding-left: 30px;
      }
    }

    .action-bar {
      display: table-row;
      height: 100%;

      .dropdown-menu {
        top: 42px;
        right: 0;
        left: initial;

        .dropdown-arrow {
          right: 5px;
        }
      }
    }

    .coveo-filter-container {
      margin: 10px 0;
      .filter-icon {
        position: absolute;
        top: 10px;
        left: 8px;

        cursor: default;
      }
    }

    .prompt {
      display: table-cell;

      vertical-align: middle;

      .prompt-danger {
        display: table-row;

        & > span {
          display: table-cell;

          vertical-align: middle;

          &.prompt-icon {
            padding-right: 5px;
          }

          &.prompt-action {
            padding-left: 5px;

            cursor: pointer;
          }
        }
      }
    }
  }

  .coveo-table-actions + .coveo-table-actions {
    border-left: $table-border;
  }

  &.mod-border-top {
    border-top: $table-border;
  }
}
