table {
  &.mod-align-header {
    th:first-child {
      padding-left: $header-padding;
    }

    tbody tr td:first-child {
      padding-left: $table-first-column-padding-left;
    }

    &.mod-collapsible-rows tbody tr.collapsible-row td:first-child {
      padding-left: $table-first-column-padding-left;

      .container {
        // fix so that elements can take the full width of the table during animation
        padding-right: $table-first-column-padding-left;
        padding-left: $table-first-column-padding-left;
        margin-right: -$table-first-column-padding-left;
        margin-left: -$table-first-column-padding-left;
      }

      .box.padded {
        padding-left: 0;
      }

      .box .label, .box .value {
        padding-right: 0;
        padding-left: 0;
      }
    }

    &.mod-collapsible-rows tbody tr.collapsible-row td:last-child {
      padding-right: $table-first-column-padding-left;
    }
  }
}
