.table-cell-loading {
    border-width: $table-cell-border-bottom-color-loading;
    border-bottom-color: $grey-3;
}

.table-cell-content-loading {
    @extend .btn, .full-content-x, .mod-rounded-border-2, .bg-grey-3, .cursor-auto, .mod-no-border, .mod-small;
}

.table-header-action-button-loading-width {
    width: $table-header-action-button-loading-width;
}

.table-header-title-loading-width {
    width: $table-header-title-loading-width;
}

.table-header-action-bar-button {
    align-self: center;
    width: $table-header-action-bar-button;
}
