table {
  &.mod-collapsible-rows {
    tbody tr {
      height: $table-collapsible-row-height;

      td {
        [data-collapse-state='collapsed'] {
          .state-expanded {
            display: none;
          }
          .state-collapsed {
            display: inline;
          }
        }

        [data-collapse-state='expanded'] {
          .state-expanded {
            display: inline;
          }
          .state-collapsed {
            display: none;
          }
        }
      }

      &.heading-row {
        &.opened:not(:hover) td {
          background-color: $white;
        }
      }

      &.collapsible-row {
        height: 0;

        line-height: 12px;

        td {
          padding: 0;

          border-bottom: 0;

          &:first-child {
            border-left: 0;
          }

          .container {
            display: none;
          }

          .section-title {
            padding-top: $collapsible-title-padding;

            color: $medium-blue;
            font-size: $collapsible-content-font-size;
            font-weight: bold;
            text-transform: uppercase;
          }
        }

        &.in td {
          border-bottom: $table-border;
        }

        td {
          background-color: $white;
        }

        .box {
          &.padded {
            padding: 5px $collapsible-box-padding;
          }

          .label, .value {
            padding: 5px;
            overflow: hidden;

            font-size: $collapsible-content-font-size;
            text-overflow: ellipsis;
          }

          .label {
            color: $light-blue;
          }
        }

        .columns {
          flex-flow: row wrap;

          display: flex;

          .box {
            flex-basis: 33%;

            &.padded {
              flex-basis: calc(33% - #{$collapsible-box-padding});
            }
          }
        }
      }
    }
  }
}
