.coveo-table-actions-container {
  flex-flow: row wrap;
  justify-content: flex-end;

  box-sizing: content-box; // Make sure $table-actions-container-height is respected with or without the mod-border-top class.
  display: flex;
  min-height: $table-actions-container-height;

  background-color: $white;

  .coveo-table-actions {
    align-items: center;

    box-sizing: border-box; // Cancel the box-sizing: content-box for coveo-table-actions-container children.
    display: flex;
    height: $table-actions-container-height;
    padding: 0 $table-actions-margin;

    .actions-row {
      align-items: center;

      display: flex;
    }

    .action {
      border: 1px solid transparent;
      border-radius: 2px;

      cursor: pointer;
      user-select: none;

      .state-disabled {
        cursor: default;
        opacity: 0.3;
      }

      & + .action {
        margin-left: $table-actions-margin;
      }

      &.dropdown {
        padding: 3px $table-actions-dropdown-padding-x;
        margin-right: -$table-actions-dropdown-padding-x;
        margin-left: calc(#{$table-actions-margin} - #{$table-actions-dropdown-padding-x});

        &.open {
          background-color: $light-grey;
          border-color: $medium-grey;
        }
      }

      .action-label {
        margin-left: 10px;
        color: $medium-blue;
        font-weight: bold;
      }

      &.prompt-action {
        padding: $button-padding-y $button-padding-x;
        margin-left: $button-margin-width;
      }
    }
  }

  .coveo-table-actions + .coveo-table-actions {
    border-left: $table-border;
  }

  &.mod-align-header .coveo-table-actions:last-child {
    padding-right: $header-padding;
  }
}
