table {
  width: 100%;

  text-align: left;

  border: none;
  border-spacing: 0;

  th, td {
    padding: 5px 15px;

    text-align: left;
    vertical-align: middle;

    &.selection {
      width: 25px !important;
      padding: 0 10px;
      margin: 0;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  &.mod-align-header {
    th {
      &:first-child {
        padding-left: $header-padding;
      }
    }

    tbody tr td:first-child {
      padding-left: $header-padding;
    }
  }

  thead tr {
    height: $table-header-height;

    color: $medium-blue;
    font-size: 15px;
    font-weight: bold;

    background-color: transparent;

    th {
      line-height: normal;
      white-space: nowrap;

      border-top: $table-border;
      border-bottom: $table-border;

      &.admin-sort {
        position: relative;

        cursor: pointer;

        .admin-sort-icon {
          display: inline-flex;

          .tables-sort {
            vertical-align: middle;

            .asc-arrow, .desc-arrow {
              cursor: pointer;
              opacity: 0.3;

              &:hover {
                opacity: 0.6;
              }
            }
          }
        }

        &.admin-sort-descending {
          .admin-sort-icon {
            .desc-arrow {
              opacity: 1;
            }
          }
        }

        &.admin-sort-ascending {
          .admin-sort-icon {
            .asc-arrow {
              opacity: 1;
            }
          }
        }
      }

      &.sorting_asc {
        background-color: $light-grey;
        background-image: none;

        cursor: pointer;
      }

      &.sorting_desc {
        background-color: $light-grey;
        background-image: none;

        cursor: pointer;
      }

      &.sorting {
        cursor: pointer;
      }

      &.sorting_disabled {
        cursor: default;
      }

      &.sorting, &.sorting_asc, &.sorting_desc, &.admin-sort {
        &:hover {
          background-color: $light-grey;
        }
      }
    }
  }

  tbody.table-loading {
    opacity: 0.3;
  }

  tr {
    height: 36px;

    font-size: 15px;

    td {
      margin-left: 15px;

      text-align: left;

      border-bottom: $table-border;

      &:first-child {
        border-left: $table-selected-border-width solid transparent;
      }

      &.edit.enabled {
        color: $medium-blue;

        cursor: pointer;
      }

      .btn-icon, .dropdown-toggle {
        cursor: default;
        opacity: 0.3;

        &.enabled:active:hover {
          border-radius: 4px;
        }

        &.disabled {
          cursor: default;
          opacity: 0.3;
        }

        &.enabled {
          cursor: pointer;
          opacity: 1;
        }
      }

      &.actions {
        position: relative;

        overflow: visible;

        text-align: right;
        white-space: nowrap;

        background-clip: padding-box; // Fix for FF and IE

        user-select: none;

        & > div {
          display: inline-block;

          font-size: inherit;
        }

        &.group-collapse {
          cursor: pointer;

          i {
            margin-right: 2px;

            vertical-align: -1px;
          }

          .group-count {
            margin-right: 5px;
          }
        }

        #actions {
          min-height: 16px;
        }

        .btn-group {
          .dropdown-toggle {
            height: 20px;
            padding: 2px;

            span.menu {
              vertical-align: 1px;
              svg {
                fill: $medium-blue;
              }
            }
          }

          &.open .dropdown-toggle.enabled {
            border-radius: 4px;
          }

          .dropdown-menu {
            right: 0;
            left: inherit;

            min-width: 135px;

            text-align: left;

            .arrow-up {
              right: 4px;
            }

            .dropdown-label {
              padding-left: 15px;

              font-size: 12px;

              &:hover {
                background: none;
              }
            }

            .hide {
              display: none;
            }
          }
        }

        .btn-icon span.delete {
          vertical-align: -3px;

          svg {
            fill: $medium-blue;
          }
        }
      }
    }

    &:first-child {
      padding-left: 10px;
    }

    &:hover > td {
      background-color: $light-grey;

      .prompt .prompt-danger {
        background-color: $light-grey;
        box-shadow: -15px 0 25px 0 $light-grey;
      }
    }

    &.empty td {
      padding: 25px;

      text-align: center;
    }

    &.admin-focus {
      td {
        background-color: #f5f9fd;

        &.admin-focus-cell {
          background-color: #ebf3fb;
        }
      }
    }

    &.selected {
      background-color: $block-background-color;

      td:first-child {
        border-left-color: $coveo-orange;
      }
    }
  }

  &.row-selected td, &.row-selected:hover td {
    background-color: $light-grey;
  }

  &.confirm-delete {
    .row-selected td, &.row-selected:hover td {
      background-color: $invalid-background-color;
      border-color: $invalid-message-background-color;

      transition: background-color 300ms;
    }
  }
}
