.coveo-table-actions-container {
  flex-flow: row wrap;
  justify-content: flex-end;

  display: flex;

  .coveo-table-actions {
    padding: 0 30px;

    .actions-row {
      line-height: $table-actions-container-height;

      .dropdown-menu {
        top: 42px;
        right: 0;
        left: initial;

        .dropdown-arrow {
          right: 5px;
        }
      }
    }

    .action {
      cursor: pointer;

      .state-disabled {
        cursor: default;
        opacity: 0.3;
      }

      & + .action {
        padding-left: 30px;
      }

      .action-label {
        color: $medium-blue;
        font-size: 12px;
        font-weight: bold;
        vertical-align: top;
      }
    }

    .prompt .prompt-danger {
      & > span {
        &.prompt-icon {
          padding-right: 5px;
        }

        &.prompt-action {
          padding-left: 5px;

          cursor: pointer;
        }
      }
    }

    .coveo-filter-container {
      margin: 10px 0;
      .filter-icon {
        position: absolute;
        top: 10px;
        left: 8px;

        cursor: default;
      }
    }
  }

  .coveo-table-actions + .coveo-table-actions {
    border-left: $table-border;
  }

  &.mod-border-top {
    border-top: $table-border;
  }
}
