.table {
    --color: var(--default-text-color);

    width: 100%;
    text-align: left;
    border: none;
    border-spacing: 0;

    th,
    td {
        position: relative;
        vertical-align: top;
        background-clip: padding-box;

        &.selection {
            width: 25px !important;
            margin: 0;
        }

        &:last-child {
            padding-right: 20px;
        }

        .checkbox-label + .cell-content {
            margin-left: 10px;
        }

        &:not(.center) {
            text-align: left;
        }
    }

    thead tr {
        height: $table-header-height;
        color: var(--color);
        font-weight: var(--main-font-bold);
        font-size: var(--table-header-font-size);
        line-height: $table-header-line-height;
        background-color: transparent;
    }

    th {
        position: sticky;
        top: 0;
        z-index: 1;
        padding: $table-header-top-bottom-padding $table-cell-left-right-padding;
        white-space: nowrap;
        background-color: var(--pure-white);
        border-top: $table-border;
        border-bottom: $table-border;

        &.admin-sort {
            cursor: pointer;

            .admin-sort-icon {
                display: inline-flex;

                .tables-sort {
                    width: 7px;
                    height: 12px;
                    margin-left: 5px;
                    vertical-align: -2px;
                    fill: var(--table-header-sort-icon-color);

                    .asc-arrow,
                    .desc-arrow {
                        cursor: pointer;
                        opacity: 0.3;

                        &:hover {
                            opacity: 0.6;
                        }
                    }
                }
            }

            &.admin-sort-descending .admin-sort-icon .desc-arrow {
                opacity: 1;
            }

            &.admin-sort-ascending .admin-sort-icon .asc-arrow {
                opacity: 1;
            }

            &:hover {
                background-color: var(--table-row-hover-color);
            }
        }
    }

    thead.mod-no-border-top th {
        border-top: none;
    }

    tbody.table-loading {
        opacity: 0.3;
    }

    tr {
        position: relative;
        height: $table-row-height;
        font-size: var(--table-row-font-size);
        line-height: $table-row-line-height;

        &.disabled div.wrapper {
            opacity: 0.4;
        }

        &:not(.no-hover):not(.collapsible-row):not(.empty):hover {
            background-color: var(--table-row-hover-color);
            td {
                background-color: var(--table-row-hover-color);
            }
        }

        &.empty td {
            padding: 25px;
            text-align: center;
        }

        &.selected:not(.no-selection-indicator) {
            &:not(:hover) {
                background-color: var(--table-row-selected-color);
                td {
                    background-color: var(--table-row-selected-color);
                }
            }

            td:first-child::before {
                @extend %selection-indicator;
            }
        }

        &.blankslate-rows:hover {
            background-color: var(--pure-white);
            td {
                background-color: var(--pure-white);
            }
        }
    }

    td {
        --color: var(--title-text-color);

        padding: $table-row-top-bottom-padding $table-cell-left-right-padding;
        color: var(--color);
        text-align: left;

        &:not(.mod-no-border-bottom) {
            border-bottom: $table-border;
        }

        .mod-max-width {
            max-width: 300px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.edit.enabled {
            color: var(--color);
            cursor: pointer;
        }

        .btn-icon,
        .dropdown-toggle {
            &.enabled:active:hover {
                border-radius: $border-radius;
            }

            &.disabled {
                cursor: default;
                opacity: 0.3;
            }
        }

        .checkbox-label {
            position: relative;
            top: -1px; // Small hack to make it work in all browsers...
        }

        &.table-row-collapsible-btn {
            padding: 0 $table-cell-left-right-padding;
            vertical-align: middle;
        }
    }

    &.row-selected td,
    &.row-selected:hover td {
        background-color: var(--table-row-hover-color);
    }

    &.confirm-delete {
        .row-selected td,
        &.row-selected:hover td {
            background-color: var(--table-selected-row-hover-color);
            border-color: var(--red);
            transition: background-color 300ms;
        }
    }

    &.mod-deleting tbody tr.selected td {
        background-color: var(--table-selected-row-hover-color);
    }

    .mod-card-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        padding: $mod-card-list-vertical-padding $mod-card-list-horizontal-padding;

        & tr {
            height: unset;

            &.mod-card {
                padding: $status-card-padding;
            }
        }

        &.hidden {
            display: none;
        }

        .blankslate-row td.p0 {
            padding: 0;
        }
    }

    .mod-card-row .mod-card {
        min-height: $mod-card-row-min-height;
        border-left: $status-card-border-width solid $transparent;

        .mod-card-header {
            --color: var(--title-text-color);

            color: var(--color);
            font-weight: var(--main-font-bold);
            font-size: $medium-title-font-size;
            border-bottom: 2px solid var(--table-row-hover-color);
        }
    }

    .mod-card {
        border-radius: $big-border-radius;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:hover {
            background-color: var(--grey-2);
        }
    }

    tr.selected .mod-card {
        background-color: var(--grey-1);
        border-left: $status-card-border-width solid var(--orange);
    }
}

.table-layout-fixed {
    table-layout: fixed;
}

.table-last-update {
    margin: 10px $header-padding;
    color: var(--date-picker-button-hover-color);
    font-size: 11px;
    text-align: right;
}

@supports ((position: sticky) or (postion: -webkit-sticky)) {
    .coveo-table-actions-container + table:not(.datepicker-table) th {
        top: $table-actions-container-height;
    }
}

.table-container {
    &.table-card {
        overflow: hidden;
        border-radius: $border-radius;

        box-shadow: $table-shadow;
    }
}

.state-icon-row {
    width: $table-state-icon-size;
    height: $table-state-icon-size;
    svg {
        width: inherit;
        height: inherit;
    }
}

$row-style: (
    success: var(--green),
    warning: var(--orange-2),
    error: var(--red),
);

@each $style, $color in $row-style {
    .row-#{$style} {
        > td:first-child {
            color: $color;
            border-left-color: $color;
            svg {
                fill: $color;
            }
        }
    }
}
.row-disabled {
    color: var(--dark-medium-grey);
    > td:first-child {
        border-left-color: var(--dark-medium-grey);
    }
    svg {
        fill: var(--dark-medium-grey);
    }
}
