.coveo-table-actions-container {
  flex-flow: row wrap;
  justify-content: flex-end;

  display: flex;
  min-height: $table-actions-container-height;

  .coveo-table-actions {
    padding: 0 30px;

    .actions-row {
      line-height: $table-actions-container-height;

      .dropdown {
        &.open {
          .dropdown-toggle {
            align-items: center;

            display: flex;
            height: $table-actions-container-height - 12px;
            padding: 0 $table-actions-dropdown-toggle 0 $table-actions-dropdown-toggle;
            margin-right: -$table-actions-dropdown-toggle - 1px;
            margin-left: -$table-actions-dropdown-toggle - 1px;

            background-color: $light-grey;
            border: $table-border;
            border-radius: 2px;
          }
        }

        .dropdown-menu {
          margin-top: -3px;
          margin-left: 19px;

          .dropdown-arrow {
            right: 5px;
          }
        }
      }
    }

    .action {
      cursor: pointer;

      .state-disabled {
        cursor: default;
        opacity: 0.3;
      }

      & + .action {
        padding-left: 30px;
      }

      .action-label {
        padding-left: 10px;

        color: $medium-blue;
        font-size: 12px;
        font-weight: bold;
        vertical-align: top;
      }

      > :first-child {
        display: inline-flex;
      }
    }
  }

  .coveo-table-actions + .coveo-table-actions {
    border-left: $table-border;
  }

  &.mod-border-top {
    border-top: $table-border;
  }
}
