.editor {
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-default);
    z-index: 1;
    height: 100%;

    @mixin light {
        background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
        background-color: var(--mantine-color-black);
    }
}

.error {
    border-color: var(--mantine-color-error);
}

.disabled {
    @mixin light {
        border: 1px solid var(--mantine-color-gray-1);
        background-color: var(--mantine-color-gray-1);

        :global {
            .monaco-editor {
                --vscode-editor-background: var(--mantine-color-gray-1);
                --vscode-editorGutter-background: var(--mantine-color-gray-1);
            }
        }
    }
}
