@import '~coveo-styleguide/scss/common/palette.scss';
@import '~coveo-styleguide/scss/variables.scss';
@import '~coveo-styleguide/scss/placeholders.scss';

:global(.coveo-styleguide .table.table-numbered) {
  tr:global(.selected) td {
    &:first-child::before {
      display: none;
    }

    &:nth-child(2)::before {
      @extend %selection-indicator;
    }
  }
}

:global(.coveo-styleguide .table) .tableNumberedRow:first-child {
  padding:0;
  width: 60px;
} 

:global(.coveo-styleguide .table) .tableNumberedRowContainer {
  color: $medium-blue;
  border-left: none;
  width: 60px;
  text-align: center;
  padding: $default-margin;
} 
