.anchor {
    color: var(--mantine-color-text);

    &:hover {
        .anchorIcon {
            opacity: 1;
        }
    }
}

.anchorIcon {
    opacity: 0;
    transition: opacity 100ms ease-in;
}

.title {
    display: inline-block;
}

.sandbox {
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-md);
    overflow: hidden;
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: var(--mantine-spacing-xs);
    background-color: #1e1e1e;

    & button:hover,
    & a:hover {
        background-color: var(--mantine-color-gray-8);
    }
}

.preview {
    min-height: 100px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.flexPreviewWrapper {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.code {
    min-height: 100px;
    position: relative;
    background-color: '#1E1E1E';
}
