.firstLineContainer {
    width: 855px;
    padding-top: 27px;
    padding-right: 25px;
    padding-left: 30px;
}

.slimPadding {
    padding-bottom: 17px; 
}

.loosePadding {
    padding-bottom: 0px;
}

.firstLineInnerContainer {
    align-items: flex-end;
    white-space: nowrap;
}

.raiseElement {
    margin-bottom: 17px;
}
