:root {
    --main-font: 'canada-type-gibson', sans-serif;
    --code-font: source_code_pro_regular, 'Courier New', Courier, monospace;
    --main-font-regular: 300;
    --main-font-bold: 400;
    --main-font-bolder: 500;

    /* ----------- Default Values ----------- */
    --default-font-size: 1rem;
    --small-font-size: 0.875rem;

    --default-text-color: var(--grey-80);
    --title-text-color: var(--grey-100);

    --default-border-color: var(--grey-40);
}
