:root {
    --main-font: 'canada-type-gibson', sans-serif;
    --code-font: ui-monospace, menlo, monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', 'Oxygen Mono',
        'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    --main-font-regular: 300;
    --main-font-bold: 400;
    --main-font-bolder: 500;

    /* ----------- Default Values ----------- */
    --default-font-size: 14px;
    --small-font-size: 12px;
    --default-text-color: var(--grey-80);
    --title-text-color: var(--grey-100);
    --default-border-color: var(--grey-40);
}
