/* Common */
$text-color: #333333;
$block-text-color: #666666;
$hyperlink-color: #2c5985;

/* Buttons */
$button-background: #c6c6c6;

/* Forms */
$placeholder-text: #999999;
$table-editable-cell-color: #f6f6f7;
$invalid-background-color: #faeaea;
$invalid-message-background-color: #cd3233;

/* Users */
$user-ops-color: #f47f24;
$user-owner-color: #ebb141;
$user-admin-color: #59be90;
$user-user-color: #333333;
$user-ua-reader-color: #ca423e;
$user-ranking-editor-color: #7e4b82;
$user-invited-color: #2673ab;

/* Organizations */
$standard-type-label-color: #333333;
$internal-type-label-color: #f47f24;
$sandbox-type-label-color: #59be90;
$trial-type-label-color: #2673ab;
$demo-type-label-color: #666666;
$free-type-label-color: #47beff;
$ua-only-label-color: #ebb141;

/* Datepicker */
$datepicker-border-color: #f6f6f6;
$datepicker-dayofweeks-color: $text-color;
$datepicker-day-hover-background-color: #eeeeee;
$datepicker-day-color: $text-color;
$datepicker-day-selected-notinmonth-color: $text-color;
$datepicker-day-selected-notinmonth-background-color: #d2dce6;
$datepicker-day-notinmonth-background-color: $text-color;
$datepicker-day-disabled-background-color: #e6e6e6;
$datepicker-day-disabled-color: #666666;
