@font-face {
    font-weight: normal;
    font-family: 'source_code_pro_regular';
    font-style: normal;

    src: url('../fonts/SourceCodePro-Regular.eot');
    src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceCodePro-Regular.woff') format('woff'),
        url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}
