$base-font-family: 'Lato', Arial, Helvetica, sans-serif;
$code-font-family: source_code_pro_regular, 'Courier New', Courier, monospace;

@font-face {
  font-family: 'source_code_pro_regular';
  font-style: normal;
  font-weight: normal;

  src: url('../fonts/SourceCodePro-Regular.eot');
  src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}
