$palette: (
    primary-colors: $primary-colors,
    mirage: $mirage,
    coveo-blue: $coveo-blue,
    coveo-orange: $coveo-orange,
    secondary-colors: $secondary-colors,
    azure: $azure,
    anakiwa: $anakiwa,
    java: $java,
    primary-palette: $primary-palette,
    science-blue: $science-blue,
    dodger-blue: $dodger-blue,
    tropical-rain-forest: $tropical-rain-forest,
    observatory: $observatory,
    caribbean-green: $caribbean-green,
    lynch: $lynch,
    bali-hai: $bali-hai,
    nepal: $nepal,
    heather: $heather,
    tango: $tango,
    neon-carrot: $neon-carrot,
    tan-hide: $tan-hide,
    partners-palette: $partners-palette,
    coveo-sitecore-red: $coveo-sitecore-red,
    coveo-salesforce-blue: $coveo-salesforce-blue,
    grey-palette: $grey-palette,
    oxford-blue: $oxford-blue,
    coveo-grey: $coveo-grey,
    grey-1: $grey-1,
    grey-2: $grey-2,
    grey-3: $grey-3,
    grey-4: $grey-4,
    grey-5: $grey-5,
    grey-6: $grey-6,
    grey-7: $grey-7,
    grey-8: $grey-8,
    grey-9: $grey-9,
    grey-10: $grey-10,
    blue-palette: $blue-palette,
    blue-1: $blue-1,
    blue-2: $blue-2,
    blue-3: $blue-3,
    blue-4: $blue-4,
    blue-5: $blue-5,
    blue-6: $blue-6,
    blue-7: $blue-7,
    blue-8: $blue-8,
    blue-9: $blue-9,
    blue-10: $blue-10,
    astral: $astral,
    matisse: $matisse,
    curious-blue-1: $curious-blue-1,
    curious-blue-2: $curious-blue-2,
    picton-blue: $picton-blue,
    cerulean: $cerulean,
    onahau: $onahau,
    onahau-1: $onahau-1,
    blue-purple-palette: $blue-purple-palette,
    coveo-blue-purple: $coveo-blue-purple,
    blue-purple-1: $blue-purple-1,
    blue-purple-2: $blue-purple-2,
    blue-purple-3: $blue-purple-3,
    blue-purple-4: $blue-purple-4,
    blue-purple-5: $blue-purple-5,
    green-palette: $green-palette,
    frosted-mint: $frosted-mint,
    frosted-mint-1: $frosted-mint-1,
    persian-green: $persian-green,
    watercourse: $watercourse,
    cyprus: $cyprus,
    deep-teal: $deep-teal,
    orange-palette: $orange-palette,
    orange-1: $orange-1,
    orange-2: $orange-2,
    orange-3: $orange-3,
    orange-4: $orange-4,
    orange-5: $orange-5,
    orange-6: $orange-6,
    orange-7: $orange-7,
    orange-8: $orange-8,
    carrot-orange: $carrot-orange,
    tahiti-gold: $tahiti-gold,
    buttercup: $buttercup,
    my-sin: $my-sin,
    amber: $amber,
    sunglow: $sunglow,
    school-bus-yellow: $school-bus-yellow,
    picasso: $picasso,
    lemon-chiffon: $lemon-chiffon,
    travertine: $travertine,
    red-pink-palette: $red-pink-palette,
    lonestar-2: $lonestar-2,
    lonestar-1: $lonestar-1,
    red-berry: $red-berry,
    sangria: $sangria,
    milano-red: $milano-red,
    pomegranate: $pomegranate,
    persimmon: $persimmon,
    bittersweet: $bittersweet,
    mona-lisa: $mona-lisa,
    melon: $melon,
    transparent: $transparent,
    deprecated-palette: $deprecated-palette,
    darker-blue: $darker-blue,
    dark-blue: $dark-blue,
    medium-blue: $medium-blue,
    light-blue: $light-blue,
    dark-grey: $dark-grey,
    dark-medium-grey: $dark-medium-grey,
    medium-grey: $medium-grey,
    light-grey: $light-grey,
    white: $white,
    pure-white: $pure-white,
    orange: $orange,
    stratos: $stratos,
    purple-blue: $purple-blue,
    red: $red,
    soft-red: $soft-red,
    yellow: $yellow,
    green: $green,
    soft-green: $soft-green,
    blue: $blue,
    black: $black,
    turquoise: $turquoise,
    salesforce-blue: $salesforce-blue,
    google-red: $google-red,
    office365-red: $office365-red,
);
