// Primary palette
$dark-blue: #263e55;
$medium-blue: #1d4f76;
$light-blue: #296896;
$dark-grey: #373737;
$medium-grey: #bcc3ca;
$light-grey: #e6ecf0;
$white: #f7f8f9;
$orange: #f58020;

// Secondary palette
$red: #f44336;
$yellow: #ffc200;
$green: #4caf50;
$blue: #1194f6;

// Brands
$salesforce-blue: #00a0de;
$google-red: #dd4b39;
