// Primary palette
$darker-blue: #193045;
$dark-blue: #263e55;
$medium-blue: #1d4f76;
$light-blue: #296896;
$dark-grey: #373737;
$dark-medium-grey: #7a7d81;
$medium-grey: #bcc3ca;
$light-grey: #e6ecf0;
$white: #f1f3f4;
$pure-white: #ffffff;
$orange: #f58020;
$stratos: #08080e;
$purple-blue: #1e2541;

// Secondary palette
$red: #ce3f00;
$soft-red: #edbcbf;
$yellow: #ecad00;
$green: #009830;
$soft-green: #d0e9c4;
$blue: #009ad9;
$black: #000000;
$turquoise: #26e8cc;

// Brands
$salesforce-blue: #00a0de;
$google-red: #dd4b39;
$office365-red: #eb3c00;

/* ----------- New Coveo Colors ----------- */

// Primary colors
$mirage: #1e253f;
$coveo-blue: #004990;
$coveo-orange: $orange;

// Secondary colors
$azure: #0d80ef;
$anakiwa: #4ed6ff;
$java: $turquoise;

// Primary palette
$science-blue: #0061c0;
$dodger-blue: #3ca0ff;
$tropical-rain-forest: #007766;
$observatory: #028f7b;
$caribbean-green: #05c3a2;
$lynch: #5d7289;
$bali-hai: #8097aa;
$nepal: #94a9bf;
$heather: #b5c4cf;
$tango: #e56613;
$neon-carrot: #ff9844;
$tan-hide: #f8aa69;

// Partners palette
$coveo-sitecore-red: #dc291e;
$coveo-salesforce-blue: #009ddc;

// Grey palette
$oxford-blue: #313a45;
$coveo-grey: $nepal;
$grey-1: #f7f8f9;
$grey-2: #eff3f7;
$grey-3: #e4eaed;
$grey-4: #cfd9e0;
$grey-5: $heather;
$grey-6: $coveo-grey;
$grey-7: $bali-hai;
$grey-8: $lynch;
$grey-9: #4e5f71;
$grey-10: #37424e;

// Blue palette
$blue-1: #cde7ff;
$blue-2: #8fc9ff;
$blue-3: $dodger-blue;
$blue-4: $azure;
$blue-5: $science-blue;
$blue-6: $coveo-blue;
$blue-7: #00305c;
$blue-8: #00284b;
$blue-9: #00203a;
$blue-10: #00101e;
$astral: $light-blue;
$matisse: #257bab;
$curious-blue-1: #218ec0;
$curious-blue-2: #1da2d5;
$picton-blue: #19b5ea;
$cerulean: #90e5ff;
$onahau: #c6f2ff;
$onahau-1: #b6eeff;

// Blue/Purple palette
$coveo-blue-purple: $mirage;
$blue-purple-1: #3e5485;
$blue-purple-2: #354878;
$blue-purple-3: #2d385e;
$blue-purple-4: $coveo-blue-purple;
$blue-purple-5: #101425;

// Green palette
$frosted-mint: #d3fff8;
$frosted-mint-1: #a9fff2;
$persian-green: #00a78a;
$watercourse: #066356;
$cyprus: #004446;
$deep-teal: #003530;

// Orange/Yellow palette
$orange-1: #ffbc86;
$orange-2: $neon-carrot;
$orange-3: $coveo-orange;
$orange-4: #ed731a;
$orange-5: $tango;
$orange-6: #de590d;
$orange-7: #d64c06;
$orange-8: $red;
$carrot-orange: #ec8c25;
$tahiti-gold: #dc7704;
$buttercup: #f39e08;
$my-sin: #ffac23;
$amber: #fbba06;
$sunglow: #ffce44;
$school-bus-yellow: #ffdf00;
$picasso: #fff08f;
$lemon-chiffon: #fff9cf;
$travertine: #fffde9;

// Red/Pink palette
$lonestar-2: #550500;
$lonestar-1: #720700;
$red-berry: #8b0900;
$sangria: #b10007;
$milano-red: #d02b08;
$pomegranate: #f7472e;
$persimmon: #ff644e;
$bittersweet: #ff8675;
$mona-lisa: #ffa79b;
$melon: #ffc4bc;

// Transparent
$transparent: transparent;
