// Position utility class.
// Source: http://www.basscss.com/docs/positions/

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.initial {
    position: initial;
}

.show-on-top {
    z-index: $max-z-index;
}
