$color-primary-gradient: linear-gradient(78.21deg, #fadf4a 0%, #f9463a 30.73%, #08b7ea 67.19%, #03dec8 94.57%);
$color-primary-action-blue-1: #e3f1ff;
$color-primary-action-blue-2: #c7e4ff;
$color-primary-action-blue-3: #8bc7ff;
$color-primary-action-blue-4: #399ffe;
$color-primary-action-blue-6: #1372ec;
$color-primary-action-blue-8: #1a50ad;
$color-primary-action-blue-9: #062d70;
$color-primary-grey-0: #ffffff;
$color-primary-grey-2: #f6f7f9;
$color-primary-grey-4: #e5e8e8;
$color-primary-grey-5: #c5cacf;
$color-primary-grey-6: #8e959d;
$color-primary-grey-8: #626971;
$color-primary-grey-9: #282829;
$color-primary-navy-0: #f1f2ff;
$color-primary-navy-1: #d6d7fd;
$color-primary-navy-2: #aeb0f1;
$color-primary-navy-3: #8787db;
$color-primary-navy-4: #6b6bbd;
$color-primary-navy-5: #525296;
$color-primary-navy-6: #3f3f71;
$color-primary-navy-7: #333357;
$color-primary-navy-8: #262646;
$color-primary-navy-9: #181d3a;
$color-secondary-lime-0: #d3fce9;
$color-secondary-lime-6: #12a344;
$color-secondary-lime-9: #004a20;
$color-secondary-indigo-0: #f2f3ff;
$color-secondary-indigo-1: #ced4f4;
$color-secondary-indigo-2: #9dabf2;
$color-secondary-indigo-3: #687cdf;
$color-secondary-indigo-4: #4a61d4;
$color-secondary-indigo-5: #2e45ba;
$color-secondary-indigo-6: #24389e;
$color-secondary-indigo-7: #192b8a;
$color-secondary-indigo-8: #101f6b;
$color-secondary-indigo-9: #071140;
$color-secondary-green-0: #dcf3ef;
$color-secondary-green-1: #b2e3db;
$color-secondary-green-2: #79d1c3;
$color-secondary-green-3: #34ad95;
$color-secondary-green-4: #1a8973;
$color-secondary-green-5: #00634f;
$color-secondary-green-6: #045242;
$color-secondary-green-7: #043f33;
$color-secondary-green-8: #023128;
$color-secondary-green-9: #01211b;
$color-secondary-purple-0: #f2ebf3;
$color-secondary-purple-1: #dabfe9;
$color-secondary-purple-2: #bb80dc;
$color-secondary-purple-3: #9a52c1;
$color-secondary-purple-4: #752e9c;
$color-secondary-purple-5: #5d237d;
$color-secondary-purple-6: #451c5c;
$color-secondary-purple-7: #390c53;
$color-secondary-purple-8: #2b073f;
$color-secondary-purple-9: #180323;
$color-accent-teal-0: #edfffc;
$color-accent-teal-1: #c2fef5;
$color-accent-teal-2: #50fae3;
$color-accent-teal-3: #1cebcf;
$color-accent-teal-4: #16dcc1;
$color-accent-teal-5: #12c7ae;
$color-accent-teal-6: #0ba893;
$color-accent-teal-7: #078675;
$color-accent-teal-8: #055f53;
$color-accent-teal-9: #033932;
$color-accent-blue-0: #e7f7ff;
$color-accent-blue-1: #c3ecff;
$color-accent-blue-2: #86d8ff;
$color-accent-blue-3: #46c4ff;
$color-accent-blue-4: #00adff;
$color-accent-blue-5: #029de7;
$color-accent-blue-6: #0387c6;
$color-accent-blue-7: #0173a9;
$color-accent-blue-8: #004c71;
$color-accent-blue-9: #003148;
$color-accent-yellow-0: #fffcdb;
$color-accent-yellow-1: #fff7ba;
$color-accent-yellow-2: #ffef70;
$color-accent-yellow-3: #ffe300;
$color-accent-yellow-4: #f5d029;
$color-accent-yellow-5: #eac10b;
$color-accent-yellow-6: #e2b104;
$color-accent-yellow-7: #bd9403;
$color-accent-yellow-8: #836602;
$color-accent-yellow-9: #493b08;
$color-accent-red-0: #fff2f1;
$color-accent-red-1: #ffd7d3;
$color-accent-red-2: #f3b4ae;
$color-accent-red-3: #ee8279;
$color-accent-red-4: #f05245;
$color-accent-red-5: #e03729;
$color-accent-red-6: #cd2113;
$color-accent-red-7: #a11409;
$color-accent-red-8: #80130a;
$color-accent-red-9: #600a03;
