$plasma-color-primary-gradient: linear-gradient(78.21deg, #fadf4a 0%, #f9463a 30.73%, #08b7ea 67.19%, #03dec8 94.57%);
$plasma-color-primary-action-1: #edf6ff;
$plasma-color-primary-action-2: #c7e4ff;
$plasma-color-primary-action-3: #8bc7ff;
$plasma-color-primary-action-4: #399ffe;
$plasma-color-primary-action-6: #1372ec;
$plasma-color-primary-action-8: #1a50ad;
$plasma-color-primary-action-9: #062d70;
$plasma-color-primary-gray-0: #fcfcfc;
$plasma-color-primary-gray-1: #f9f9f9;
$plasma-color-primary-gray-2: #f3f3f3;
$plasma-color-primary-gray-3: #e5e8e8;
$plasma-color-primary-gray-4: #d6dcdd;
$plasma-color-primary-gray-5: #b7bcc0;
$plasma-color-primary-gray-6: #6c727b;
$plasma-color-primary-gray-7: #565b66;
$plasma-color-primary-gray-8: #353a3f;
$plasma-color-primary-gray-9: #282829;
$plasma-color-primary-navy-0: #f5f6ff;
$plasma-color-primary-navy-1: #d6d7fd;
$plasma-color-primary-navy-2: #aeb0f1;
$plasma-color-primary-navy-3: #8787db;
$plasma-color-primary-navy-4: #6b6bbd;
$plasma-color-primary-navy-5: #525296;
$plasma-color-primary-navy-6: #3f3f71;
$plasma-color-primary-navy-7: #333357;
$plasma-color-primary-navy-8: #262646;
$plasma-color-primary-navy-9: #181d3a;
$plasma-color-primary-pure-white: #fff;
$plasma-color-secondary-lime-0: #f2fff9;
$plasma-color-secondary-lime-6: #12a344;
$plasma-color-secondary-lime-9: #004a20;
$plasma-color-secondary-indigo-0: #f2f3ff;
$plasma-color-secondary-indigo-1: #ced4f4;
$plasma-color-secondary-indigo-2: #9dabf2;
$plasma-color-secondary-indigo-3: #687cdf;
$plasma-color-secondary-indigo-4: #4a61d4;
$plasma-color-secondary-indigo-5: #2e45ba;
$plasma-color-secondary-indigo-6: #24389e;
$plasma-color-secondary-indigo-7: #192b8a;
$plasma-color-secondary-indigo-8: #101f6b;
$plasma-color-secondary-indigo-9: #071140;
$plasma-color-secondary-green-0: #dcf3ef;
$plasma-color-secondary-green-1: #b2e3db;
$plasma-color-secondary-green-2: #79d1c3;
$plasma-color-secondary-green-3: #34ad95;
$plasma-color-secondary-green-4: #1a8973;
$plasma-color-secondary-green-5: #00634f;
$plasma-color-secondary-green-6: #045242;
$plasma-color-secondary-green-7: #043f33;
$plasma-color-secondary-green-8: #023128;
$plasma-color-secondary-green-9: #01211b;
$plasma-color-secondary-purple-0: #f2ebf3;
$plasma-color-secondary-purple-1: #dabfe9;
$plasma-color-secondary-purple-2: #bb80dc;
$plasma-color-secondary-purple-3: #9a52c1;
$plasma-color-secondary-purple-4: #752e9c;
$plasma-color-secondary-purple-5: #5d237d;
$plasma-color-secondary-purple-6: #451c5c;
$plasma-color-secondary-purple-7: #390c53;
$plasma-color-secondary-purple-8: #2b073f;
$plasma-color-secondary-purple-9: #180323;
$plasma-color-accent-teal-0: #edfffc;
$plasma-color-accent-teal-1: #c2fef5;
$plasma-color-accent-teal-2: #50fae3;
$plasma-color-accent-teal-3: #1cebcf;
$plasma-color-accent-teal-4: #16dcc1;
$plasma-color-accent-teal-5: #12c7ae;
$plasma-color-accent-teal-6: #0ba893;
$plasma-color-accent-teal-7: #078675;
$plasma-color-accent-teal-8: #055f53;
$plasma-color-accent-teal-9: #033932;
$plasma-color-accent-blue-0: #e7f7ff;
$plasma-color-accent-blue-1: #c3ecff;
$plasma-color-accent-blue-2: #86d8ff;
$plasma-color-accent-blue-3: #46c4ff;
$plasma-color-accent-blue-4: #00adff;
$plasma-color-accent-blue-5: #029de7;
$plasma-color-accent-blue-6: #0387c6;
$plasma-color-accent-blue-7: #0173a9;
$plasma-color-accent-blue-8: #004c71;
$plasma-color-accent-blue-9: #003148;
$plasma-color-accent-yellow-0: #fffdea;
$plasma-color-accent-yellow-1: #fff7ba;
$plasma-color-accent-yellow-2: #ffef70;
$plasma-color-accent-yellow-3: #ffe300;
$plasma-color-accent-yellow-4: #f5d029;
$plasma-color-accent-yellow-5: #eac10b;
$plasma-color-accent-yellow-6: #e2b104;
$plasma-color-accent-yellow-7: #bd9403;
$plasma-color-accent-yellow-8: #8f7000;
$plasma-color-accent-yellow-9: #493b08;
$plasma-color-accent-red-0: #fff8f8;
$plasma-color-accent-red-1: #ffd7d3;
$plasma-color-accent-red-2: #f3b4ae;
$plasma-color-accent-red-3: #ee8279;
$plasma-color-accent-red-4: #f05245;
$plasma-color-accent-red-5: #e03729;
$plasma-color-accent-red-6: #cd2113;
$plasma-color-accent-red-7: #a11409;
$plasma-color-accent-red-8: #80130a;
$plasma-color-accent-red-9: #600a03;
