.heading-6-medium {
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.17600000381469727px;
    color: var(--primary-grey-100);
}

.heading-5-medium {
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.19800000429153441px;
    color: var(--primary-grey-100);
}

.heading-4-book {
    line-height: 32px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.2640000057220459px;
    color: var(--primary-grey-100);
}

.heading-4-medium {
    line-height: 32px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2640000057220459px;
    color: var(--primary-grey-100);
}

.heading-3-book {
    line-height: 40px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.30800000667572025px;
    color: var(--primary-grey-100);
}

.heading-3-medium {
    line-height: 40px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.30800000667572025px;
    color: var(--primary-grey-100);
}

.heading-2-book {
    line-height: 40px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.35200000762939454px;
    color: var(--primary-grey-100);
}

.heading-2-medium {
    line-height: 40px;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.35200000762939454px;
    color: var(--primary-grey-100);
}

.heading-1-light {
    line-height: 56px;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0.5280000114440918px;
    color: var(--primary-grey-100);
}

.heading-1-medium {
    line-height: 56px;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0.5280000114440918px;
    color: var(--primary-grey-100);
}

.hero-light {
    line-height: 72px;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 0.7040000152587891px;
    color: var(--primary-grey-100);
}

.hero-medium {
    line-height: 72px;
    font-size: 64px;
    font-weight: 500;
    letter-spacing: 0.7040000152587891px;
    color: var(--primary-grey-100);
}
