.headerRow {
    &[data-selectable='false'] input[type='checkbox'] {
        background-color: var(--mantine-color-gray-light);
        border-color: var(--mantine-color-default-border);
        pointer-events: none;
        cursor: not-allowed;

        & + svg {
            color: var(--mantine-color-dimmed);
        }
    }
}

.row {
    overflow-wrap: anywhere;

    &[data-selectable='true'] {
        cursor: pointer;

        @mixin hover {
            background-color: var(--mantine-primary-color-light-hover);
        }
    }

    &[data-selection-rejected='true'] {
        opacity: 0.5;
    }

    &[data-selectable='false'] input[type='checkbox'] {
        background-color: var(--mantine-color-gray-light);
        border-color: var(--mantine-color-default-border);
        pointer-events: none;
        cursor: not-allowed;

        &:checked + svg {
            color: var(--mantine-color-dimmed);
        }
    }

    &[data-selected='true'] {
        background-color: var(--mantine-primary-color-light);
    }

    &[data-collapsible-cell='true'] {
        text-align: right;
    }
}

.cell {
    vertical-align: middle;
    padding: var(--mantine-spacing-xs);
    border-bottom: rem(1) solid var(--mantine-color-default-border);
}

.collapsibleWrapper {
    border-bottom: rem(1) solid var(--mantine-color-default-border);
    background-color: var(--mantine-color-gray-light);
}
