@import (reference) '../common/colors';
@import (reference) '../sprites';

table {
  width: 100%;

  text-align: left;

  border: none;
  border-spacing: 0;

  th, td {
    padding: 5px 15px;

    text-align: left;
    vertical-align: middle;

    &.selection {
      width: 25px !important;
      padding: 0 10px;
      margin: 0;
    }

    &:first-child {
      padding-left: 20px;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  thead tr {
    height: 25px;

    color: @table-header-text-color;
    font-size: 12px;
    font-weight: bold;

    background-color: transparent;

    th {
      line-height: normal;
      white-space: nowrap;

      border-top: solid 2px @table-borders;
      border-bottom: solid 2px @table-borders;

      &.metric {
        color: @heading-2-color;

        background-color: @metric-table-header-color;
      }

      &.admin-sort {
        position: relative;

        cursor: pointer;

        .admin-sort-icon {
          position: absolute;
          top: 3px;

          i {
            position: relative;
            top: 3px;
            left: -11px;

            display: block;

            opacity: 0.3;

            &:hover {
              opacity: 0.6;
            }

            + i {
              margin-top: 2px;
            }
          }
        }

        &.admin-sort-ascending, &.sorting_asc {
          cursor: pointer;

          .admin-sort-icon i.coveo-sprites-tables-sort_asc {
            opacity: 1;
          }
        }

        &.admin-sort-descending, &.sorting_desc {
          cursor: pointer;

          .admin-sort-icon i.coveo-sprites-tables-sort_desc {
            opacity: 1;
          }
        }
      }

      &.sorting_asc {
        background-color: @table-header-background-hover;
        background-image: none;

        cursor: pointer;
      }

      &.sorting_desc {
        background-color: @table-header-background-hover;
        background-image: none;

        cursor: pointer;
      }

      &.sorting {
        cursor: pointer;
      }

      &.sorting_disabled {
        cursor: default;
      }

      &.sorting, &.sorting_asc, &.sorting_desc, &.admin-sort {
        &:hover {
          background-color: @table-header-background-hover;
        }
      }
    }
  }

  tbody.table-loading {
    opacity: 0.3;
  }

  tr {
    height: 36px;

    font-size: 15px;

    td {
      margin-left: 15px;

      text-align: left;

      border-bottom: solid 1px @table-borders;

      &.edit.enabled {
        color: @coveo-blue;

        cursor: pointer;
      }

      .btn-icon, .dropdown-toggle {
        cursor: default;
        opacity: 0.3;

        &.enabled:active:hover {
          border-radius: 4px;
        }

        &.disabled {
          cursor: default;
          opacity: 0.3;
        }

        &.enabled {
          cursor: pointer;
          opacity: 1;
        }
      }

      &.actions {
        position: relative;

        overflow: visible;

        text-align: right;
        white-space: nowrap;

        background-clip: padding-box; // Fix for FF and IE

        user-select: none;

        & > div {
          display: inline-block;

          font-size: inherit;
        }

        &.group-collapse {
          cursor: pointer;

          i {
            margin-right: 2px;

            vertical-align: -1px;
          }

          .group-count {
            margin-right: 5px;
          }
        }

        #actions {
          min-height: 16px;
        }

        .btn-group {
          .dropdown-toggle {
            height: 20px;
            padding: 2px;

            span.menu {
              vertical-align: 1px;
              svg {
                fill: @coveo-dark-blue;
              }
            }
          }

          &.open .dropdown-toggle.enabled {
            border-radius: 4px;
          }

          .dropdown-menu {
            right: 0;
            left: inherit;

            min-width: 135px;

            text-align: left;

            .arrow-up {
              right: 4px;
            }

            .dropdown-label {
              padding-left: 15px;

              font-size: 12px;

              &:hover {
                background: none;
              }
            }

            .hide {
              display: none;
            }
          }
        }

        .btn-icon span.delete {
          vertical-align: -3px;

          svg {
            fill: @coveo-dark-blue;
          }
        }
      }
    }

    &:first-child {
      padding-left: 10px;
    }

    &:hover > td {
      background-color: @table-row-background-hover;

      .prompt .prompt-danger {
        background-color: @table-row-background-hover;
        box-shadow: -15px 0 25px 0 @table-row-background-hover;
      }
    }

    &.empty td {
      padding: 25px;

      text-align: center;
    }

    &.admin-focus {
      td {
        background-color: #f5f9fd;

        &.admin-focus-cell {
          background-color: #ebf3fb;
        }
      }
    }

    &.selected {
      background-color: @block-background-color;

      td:first-child {
        padding-left: 15px;

        border-left: 5px solid @coveo-orange;
      }
    }
  }

  &.row-selected td, &.row-selected:hover td {
    background-color: @table-row-background-selected;
  }

  &.confirm-delete {
    .row-selected td, &.row-selected:hover td {
      background-color: @invalid-background-color;
      border-color: @invalid-message-background-color;

      transition: background-color 300ms;
    }
  }
}
