.root {
    position: relative;
}

.items {
    background-color: var(--mantine-color-gray-light);
    padding: var(--mantine-spacing-md);
    border: 1px solid var(--mantine-color-default-border);
    border-radius: var(--mantine-radius-default);
}

.item {
    align-items: baseline;
    flex-wrap: nowrap;

    &[data-isdragging='true'] {
        box-shadow: var(--mantine-shadow-md);
        z-index: 2;
    }
}

.dragHandle {
    cursor: move;
}

.addButtonContainer {
    align-self: flex-start;
}
