.root {
    position: relative;
}
.item {
    align-items: baseline;
    &[data-isdragging='true'] {
        box-shadow: var(--mantine-shadow-md);
        z-index: 2;
    }
}

.dragHandle {
    cursor: move;
}
