.root {
    --prompt-icon-size: 32px;
}

.body {
    padding: 0 calc(var(--prompt-icon-size) + var(--mantine-spacing-sm) + var(--mb-padding));
}

.icon {
    width: var(--prompt-icon-size);
    height: var(--prompt-icon-size);
}

.header {
    width: 100%;
}
