.root {
    --prompt-icon-size: 68px;
}

.body {
    padding-left: calc(var(--prompt-icon-size) + var(--mantine-spacing-sm) + var(--mb-padding));
}

.icon {
    width: var(--prompt-icon-size);
    height: var(--prompt-icon-size);
}

.header {
    gap: var(--mantine-spacing-md);
    width: 100%;
    overflow-wrap: anywhere;
    padding: var(--mantine-spacing-lg) var(--mantine-spacing-md) var(--mantine-spacing-xs) var(--mantine-spacing-lg);
}

.inner {
    color: var(--mantine-color-dimmed);
}
