.container {
    overflow: auto;
}

.leftContainer {
    float: left;
    width: 65%;
}

.rightContainer {
    float: left;
    width: 35%;
}

.topLeftContainer {
    height: 114px;
}

.queryExpressionContainer {
    height: 40px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
