.card {
    &[data-selectable='true'] {
        cursor: pointer;
    }

    &[data-selectable='false'] {
        opacity: 0.5;
    }
}

.cardCheckbox {
    position: absolute;
    top: var(--mantine-spacing-sm);
    right: var(--mantine-spacing-sm);
}
