@import '~coveo-styleguide/scss/common/palette';
@import '~coveo-styleguide/scss/variables';

$chart-tooltip-content-size: 3px;

.chartTooltipContent {
    font-size: $small-font-size;
    border: $default-border;
    box-shadow: 0 0 $chart-tooltip-content-size 0 rgba($black, $transparency-4);
}

.chartTooltipColor {
    width: $chart-tooltip-content-size;
    height: 18px;
}

.chartTooltipLabel {
    padding-top: $chart-tooltip-content-size;
    padding-bottom: $chart-tooltip-content-size;
}
