.root {
    border-bottom: 1px solid var(--mantine-color-gray-3);
}
.inner {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    background: repeating-linear-gradient(
        var(--mantine-color-gray-1),
        var(--mantine-color-gray-1) 68px,
        var(--mantine-color-gray-3) 68px,
        var(--mantine-color-gray-3) 69px
    );
    padding-left: var(--mantine-spacing-xl);
    padding-right: var(--mantine-spacing-lg);
}
.multiSelectInfo {
    display: flex;
}
.col {
    padding: var(--mantine-spacing-md) var(--mantine-spacing-xs);
    padding-left: 100px;
}
