@import '~coveo-styleguide/scss/common/palette.scss';
@import '~coveo-styleguide/scss/variables.scss';
@import '~coveo-styleguide/scss/placeholders.scss';

:global(.coveo-styleguide .table.table-numbered) {
    tr:global(.selected) td {
        &:first-child::before {
            display: none;
        }

        &:nth-child(2)::before {
            @extend %selection-indicator;
        }
    }
}

:global(.coveo-styleguide .table) .tableNumberedRow:first-child {
    width: 60px;
    padding: 0;
}

:global(.coveo-styleguide .table) .tableNumberedRowContainer {
    width: 60px;
    padding: $default-margin;
    color: $medium-blue;
    text-align: center;
    border-left: none;
}
