@import '~coveo-styleguide/scss/common/palette';
@import '~coveo-styleguide/scss/variables';

$infoBoxPadding: 2 * $spacing;
$infoBoxBorderSize: 4px;
$infoBoxAdditionnalPadding: 3 * $spacing;

.infoBox {
    padding: $infoBoxPadding $infoBoxPadding $infoBoxPadding $infoBoxAdditionnalPadding;
    font-size: $blankslate-small-p-font-size;
    line-height: $default-line-height;
    border-left: $infoBoxBorderSize solid $azure;
    border-radius: $border-radius;

    box-shadow: 0 2px 4px 0 rgba($black, $transparency-5);
}

.infoBoxFooter {
    margin-top: $infoBoxAdditionnalPadding;
}
