.small-text {
    font-size: $small-font-size;
}

.default-text {
    font-size: $default-font-size;
}

.title-text {
    font-size: $title-font-size;
}

.medium-title-text {
    font-size: $medium-title-font-size;
}

.big-text {
    font-size: $big-font-size;
}

.big-title-text {
    font-size: $big-title-font-size;
}
