h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: $text-max-width;
    color: $medium-blue;
    font-family: $base-font-family;
    line-height: $standard-line-height;
}

h1,
.h1 {
    margin-top: 1.2em;
    font-size: $big-font-size;
}

h2,
.h2 {
    margin-top: 1.3em;
    font-size: 20px;
}

h3,
.h3 {
    margin-top: 1.4em;
    font-size: $default-font-size;
}

h4,
.h4 {
    margin-top: 1.5em;
    font-size: 13px;
}

h5 {
    margin-top: 1.5em;
    font-size: 13px;
}

h6 {
    margin-top: 1.5em;
    font-size: 13px;
}

#header {
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    h6 {
        margin: 0;
    }
    h1,
    .h1 {
        color: $pure-white;
    }
}

.mod-header-min-height {
    min-height: $header-line-height;
}
