h1, h2, h3, h4, h5, h6 {
  font-family: $base-font-family;
  //-moz-osx-font-smoothing: grayscale; // Prevents bolder fonts in FF OSX
  line-height: 1.5;
}

h1, .h1 {
  font-size: 24px;
}

h2, .h2 {
  font-size: 20px;
}

h3, .h3 {
  font-size: 15px;
}

h4, .h4 {
  font-size: 13px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 13px;
}
