// Typography utility classes
// https://github.com/basscss/utility-typography

.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.caps {
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  word-wrap: break-word;
}

.truncate {
  max-width: 100%;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  padding-left: 0;

  list-style: none;
}
