.filter-expression-picker {
    .edit-filter-values {
        position: relative;
        overflow: visible;

        .popup-main-section {
            width: 100%;

            .popup-header {
                background-color: var(--pure-white);
            }

            .selected-filter {
                height: $selected-filter-height;
                padding-left: $selected-filter-padding-left;
                font-weight: var(--main-font-bold);
                font-size: var(--default-font-size);
                line-height: $selected-filter-height;
            }

            .popover-body .string-filters {
                padding-top: $string-filter-padding-top;

                label {
                    line-height: $filter-string-filter-label-line-height;
                }
            }
        }
    }
}
