.filter-expression-picker {
    .add-filter-popup,
    .edit-filter-popup,
    .filter-type-popup {
        position: absolute;
        z-index: 999;
        width: $filter-pop-up-width;

        .operator,
        .select-operator,
        .value-selector {
            .admin-select {
                width: 100%;

                .dropdown-toggle {
                    box-sizing: border-box;
                    width: 100%;
                    text-align: left;
                }
            }
        }
    }

    .add-filter-popup.left {
        right: $add-filter-popup-right;
    }

    .edit-filter-popup.left {
        right: $edit-filter-popup-right;
    }

    .filter-choices,
    .columns-picker {
        .popup-content {
            .section {
                display: inline-block;
                width: 100%;
                margin-top: $filter-choices-section-margin-top;
                padding-left: $filter-choices-section-padding-left;
                color: $medium-blue;
                text-transform: uppercase;
            }

            .list {
                @include slim-scroll($light-grey, $medium-grey);
            }
        }
    }

    .filter-choices .popup-content {
        max-height: 300px;
        overflow: auto;

        @include slim-scroll($light-grey, $medium-grey);
    }

    .filter-choices,
    .edit-filter-values {
        .popup-header {
            background-color: $white;
            border-bottom: $default-border;
        }
    }

    .filter-choices .popup-header {
        /// @deprecated the prefix coveo is no longer used.
        .coveo-filter-container,
        .filter-container {
            width: $filter-box-width-small-screen;

            .filter-icon {
                right: $icon-offset-small-screen;
            }

            input.filter-box {
                width: $filter-box-width-small-screen;

                & + span {
                    right: $icon-offset-small-screen;
                }
            }
        }

        .event-type {
            width: $filter-event-type-width;
            margin-bottom: $filter-event-type-margin-bottom;
        }
    }

    .available-filters,
    .edit-filter-values {
        ul {
            margin: 0;
        }

        .filter:not(.selected-filter) {
            box-sizing: content-box;
            min-height: $filter-not-selected-min-height;
            margin-right: $filter-not-selected-margin-right;
            padding: $filter-padding;
            overflow-x: hidden;
            line-height: $filter-not-selected-line-height;
            white-space: nowrap;
            text-overflow: ellipsis;
            background-color: $pure-white;

            cursor: pointer;

            .type {
                color: $medium-grey;
                font-size: $filter-type-font-size;
            }
        }

        li.filter:hover,
        li.filter.active {
            background-color: $light-grey;
        }

        label.filter {
            cursor: default;
        }
    }
}
