.filter-expression-picker {
    .multi-filter {
        position: relative;

        .multi-filter-picker {
            position: relative;
            margin-bottom: $multi-filter-picker-margin-bottom;

            .admin-filterbox {
                border-bottom: $multi-filter-picker-border-bottom;
            }
        }

        .add-container {
            overflow: auto;
            background-color: rgba($white, 0.4);

            .add {
                padding: $multi-filterpickerbox-add-padding;
                cursor: pointer;
                opacity: 1;

                svg {
                    width: $multi-filter-picker-add-icon-width;
                    height: $multi-filter-picker-add-icon-width;
                    vertical-align: text-bottom;
                    fill: $orange;
                }
            }
        }

        .admin-filterbox {
            .pre-operator {
                display: inline-block;
                margin: $pre-operator-margin;
                padding: $pre-operator-padding;
                font-weight: bold;
                font-size: $pre-operator-font-size;

                font-family: $base-font-family;
                line-height: $pre-operator-line-height;
            }

            .filter-where {
                float: left;
                margin-right: $filter-where-margin-right;
                margin-bottom: $filter-where-margin-bottom;
                margin-left: $filter-where-margin-left;
                padding: $filter-where-padding;
                line-height: $filter-where-line-height;
                background-color: $pure-white;
            }

            .filter-type {
                box-sizing: border-box;
            }
        }

        .filter-popup {
            margin-bottom: 0;

            .filter-actions {
                .btn + .btn {
                    margin: 0;
                }
            }

            .event-type {
                display: none;
            }
        }
    }
}
