@import '~coveo-styleguide/scss/common/palette.scss';
@import '~coveo-styleguide/scss/variables.scss';

.collapsible {
    margin-top: -$default-border-size;
}

.header {
    min-height: $collapsible-height;
}

.content {
    padding: $form-top-padding $header-padding;
}

.expanded {
    background-color: #e5e8e8; //var(--grey-40);
}

.collapsed {
    background-color: #f6f7f9; //var(--grey-20);
}
