@import '~coveo-styleguide/scss/common/palette.scss';
@import '~coveo-styleguide/scss/variables.scss';

.banner {
    position: relative;
    padding: $banner-padding;
    background: linear-gradient(45deg, $mirage 0%, $science-blue 100%);
    box-shadow: $banner-box-shadow;
}

.bannerName {
    color: $pure-white;
    font-size: $small-font-size;
    text-transform: uppercase;
    opacity: $transparency-3;
}

.bannerSubtitle {
    color: $pure-white;
    font-size: $big-font-size;
}

.bannerMain {
    box-sizing: border-box;
    width: 100%;
    margin-top: 2 * $spacing;
    margin-bottom: 2 * $spacing;
    color: $pure-white;
}

.bannerTitle {
    font-size: $big-title-font-size;
}

.bannerWarningTitle {
    position: relative;
    color: $school-bus-yellow;
}

.bannerErrorTitle {
    color: $red;
}

.bannerWarningIcon {
    position: relative;
    top: $banner-warning-icon-fix;
    fill: $school-bus-yellow;

    .bannerErrorTitle & {
        fill: $red;
    }
}

.bannerDescription {
    color: rgba($pure-white, $transparency-2);
    font-size: $medium-title-font-size;
}

.bannerRight {
    color: rgba($pure-white, $transparency-2);
    font-size: $default-font-size;
}

.bannerBottomRightInfos {
    display: inline;
    max-width: $banner-right-width;
}
