@import 'font';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;

    // Base font size for the entire app
    font-size: 13px;
    font-family: var(--main-font);
    -webkit-font-smoothing: antialiased;
}

.markdown-documentation {
    font-size: var(--default-font-size);

    p,
    li {
        line-height: 1.5em;
    }
}
