.root {
    box-shadow: var(--mantine-shadow-md);
    border-radius: var(--mantine-radius-default);
    border: 1px solid;
    border-color: var(--mantine-color-gray-3);
    flex: 1;
}

.header {
    box-shadow: var(--mantine-shadow-xs);
    border-radius: var(--mantine-radius-default) var(--mantine-radius-default) 0 0;
}

.content {
    overflow: auto;
    flex-grow: 1;
}

.infoIcon {
    color: var(--mantine-color-gray-5);
}
