/* Common */
@coveo-blue: #0065cb;
@coveo-dark-blue-grey: #535362;
@coveo-orange: #e46813;
@coveo-light-grey: #a19999;

@body-background-color: #ffffff;
@text-color: #333333;

@block-text-color: #666666;
@block-background-color: #f6f6f6;

@disabled-input-backgroud-color: #eeeeee;

@hyperlink-color: #2c5985;

/* Headings */
@heading-2-color: #111111;
@headline-color: #0065cb;

/* Buttons */
@default-slim-button-hover: #656577;
@default-slim-button-disabled: #8888a0;

@primary-button-background: #f57f03;
@primary-button-background-hover: #f79835;
@primary-button-background-disabled: #f9ba78;

@secondary-button-background: #0092da;
@secondary-button-background-hover: #29a1d8;
@secondary-button-background-disabled: #51aed6;

@button-text-color: #ffffff;
@button-background: #c6c6c6;
@button-background-hover: #d1d1d1;
@button-background-disabled: #e6e6e6;

@button-error-background: #cc3333;
@button-error-background-hover: #d65b5b;
@button-error-background-disabled: #e39292;

/* Forms */
@placeholder-text: #999999;
@input-border: #cccccc;
@input-disabled-background: #ebebe4;

@table-editable-cell-color: #f6f6f7;

@error-color: #cc3333;
@invalid-background-color: #faeaea;
@invalid-message-background-color: #cd3233;

/* Checkboxes */
@checkbox-slide-background-color: #bbbbbb;
@checkbox-slide-active-background-color: #59be90;
@toggle-double-background-color: @checkbox-slide-background-color;
@checkbox-slide-label-color: #000000;

/* Table */
@table-row-border: #ebebeb;
@table-editable-cell-hover: #ebf3fb;

@table-header-background-color-light: #ececec;
@table-header-background-color-dark: #dddddd;
@table-header-background-hover: #ececec;
@table-header-border: #ebebeb;
@table-header-text-color: #666666;
@table-header-text-color-light: #a19999;
@table-row-background-selected: #f6f6f6;
@table-row-background-focus: #ebf3fb;
@table-row-background-hover: #ececec;

@metric-table-header-color: #ececec;

/* Users */
@user-ops-color: #f47f24;
@user-owner-color: #ebb141;
@user-admin-color: #59be90;
@user-user-color: #333333;
@user-ua-reader-color: #ca423e;
@user-ranking-editor-color: #7e4b82;
@user-invited-color: #2673ab;

/* Organizations */
@standard-type-label-color: #333333;
@internal-type-label-color: #f47f24;
@sandbox-type-label-color: #59be90;
@trial-type-label-color: #2673ab;
@demo-type-label-color: #666666;
@free-type-label-color: #47beff;
@ua-only-label-color: #ebb141;

/* Timeline */
@timeline-success: #1E7F61;
@timeline-error: #DC3337;
@timeline-warn: #F2AC4B;

