@base-font-family: Arimo, Arial, Helvetica, sans-serif;
@headings-font-family: proxima_nova_rgregular, Arial, Helvetica, sans-serif;
@headings-font-family-light: proxima_nova_light, Arial, Helvetica, sans-serif;
@headings-font-family-bold: proxima_nova_bold, Arial, Helvetica, sans-serif;
@headings-font-family-semibold: proxima_nova_semibold, Arial, Helvetica, sans-serif;
@code-font-family: source_code_pro_regular, "Courier New", Courier, monospace;

@font-face {
    font-family: 'proxima_nova_light';
    src: url('../fonts/261322_8_0.eot');
    src: url('../fonts/261322_8_0.eot?#iefix') format('embedded-opentype'), url('../fonts/261322_8_0.woff') format('woff'), url('../fonts/261322_8_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../fonts/261322_A_0.eot');
    src: url('../fonts/261322_A_0.eot?#iefix') format('embedded-opentype'), url('../fonts/261322_A_0.woff') format('woff'), url('../fonts/261322_A_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('../fonts/261322_B_0.eot');
    src: url('../fonts/261322_B_0.eot?#iefix') format('embedded-opentype'), url('../fonts/261322_B_0.woff') format('woff'), url('../fonts/261322_B_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('../fonts/261322_9_0.eot');
    src: url('../fonts/261322_9_0.eot?#iefix') format('embedded-opentype'), url('../fonts/261322_9_0.woff') format('woff'), url('../fonts/261322_9_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'source_code_pro_regular';
    src: url('../fonts/SourceCodePro-Regular.eot');
    src: url('../fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SourceCodePro-Regular.woff') format('woff'), url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}