.opacity (@opacity: 0.5) {
    -moz-opacity: @opacity;
    -khtml-opacity: @opacity;
    -webkit-opacity: @opacity;
    opacity: @opacity;
    @opperc: @opacity * 100;
    -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter: ~"alpha(opacity=@{opperc})";
}

.rounded (@radius: 2px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.slim-scroll() {
    &::-webkit-scrollbar, ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-track, ::-webkit-scrollbar-track {
        background-color: #D3D3D3;
    }

    &::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
        background-color: #606060;
        .rounded(3px);
    }

    &::-webkit-scrollbar-button, ::-webkit-scrollbar-button {
        height: 0;
        width: 0;
    }
}

.transition (@duration: 0.2s , @ease: ease-out, @property: all) {
    -webkit-transition: @property @duration @ease;
    -moz-transition: @property @duration @ease;
    -o-transition: @property @duration @ease;
    transition: @property @duration @ease;
}