@import '../common/palette';

:root {
    /* ----------- Deprecated Palette ----------- */
    --azure: #{$azure};
    --science-blue: #{$science-blue};
    --lynch: #{$lynch};
    --bali-hai: #{$bali-hai};
    --heather: #{$heather};
    --grey-1: #{$grey-1};
    --grey-2: #{$grey-2};
    --grey-3: #{$grey-3};
    --grey-4: #{$grey-4};
    --blue-purple-2: #{$blue-purple-2};
    --orange-2: #{$orange-2};
    --orange-8: #{$orange-8};
    --dark-blue: #{$dark-blue};
    --medium-blue: #{$medium-blue};
    --light-blue: #{$light-blue};
    --dark-grey: #{$dark-grey};
    --dark-medium-grey: #{$dark-medium-grey};
    --medium-grey: #{$medium-grey};
    --light-grey: #{$light-grey};
    --pure-white: #{$pure-white};
    --soft-red: #{$soft-red};
    --soft-green: #{$soft-green};
    --turquoise: #{$turquoise};
    --coveo-salesforce-blue: #{$coveo-salesforce-blue};

    /* ----------- New Palette for Rebranding ----------- */

    // Primary
    --navy-blue-100: #181d3a;
    --navy-blue-80: #333357;
    --navy-blue-60: #5f619e;
    --navy-blue-40: #8588dd;
    --navy-blue-20: #d6d7fd;

    --digital-blue-100: #2e45ba;
    --digital-blue-80: #215cd3;
    --digital-blue-60: #1372ec;
    --digital-blue-40: #5388eb;
    --digital-blue-20: #759ef1;

    // Secondary
    --red: #f05245;
    --blue: #00adff;
    --yellow: #ffe300;
    --green: #1cebcf;
    --orange: #fa821e;

    // Background
    --dark-purple-100: #431b59;
    --dark-purple-80: #5d3175;
    --dark-purple-60: #7d458f;
    --dark-purple-40: #9961a7;
    --dark-purple-20: #b382bd;

    --dark-green-100: #043c3d;
    --dark-green-80: #095759;
    --dark-green-60: #0f7173;
    --dark-green-40: #269b9d;
    --dark-green-30: #79d1c3;
    --dark-green-20: #4dbdc0;

    --dark-blue-100: #1b2f93;
    --dark-blue-80: #2e45ba;
    --dark-blue-60: #415ada;
    --dark-blue-40: #5e75f1;
    --dark-blue-20: #808bff;

    // Greyscale
    --black: #000000;
    --grey-100: #282829;
    --grey-80: #626971;
    --grey-60: #8e959d;
    --grey-50: #c5cacf;
    --grey-40: #e5e8e8;
    --grey-20: #f6f7f9;
    --white: #ffffff;

    // Accent
    --pomegranate-20: #ffd7d3;
    --pomegranate-40: #ee8279;

    --turbo-yellow-20: #fff7ba;
    --turbo-yellow-50: #ffe300;

    // Utility
    --information-100: #0d69ac;
    --information-80: #097acc;
    --information-60: #1598ea;
    --information-40: #66c9ff;
    --information-20: #ccefff;

    --success-100: #016b52;
    --success-80: #0d866a;
    --success-60: #12a344;
    --success-40: #6edbc1;
    --success-20: #ccf9ee;

    --warning-100: #805700;
    --warning-80: #bf7500;
    --warning-70: #e2b104;
    --warning-60: #f0a702;
    --warning-40: #fdcd66;
    --warning-20: #ffefcc;

    --critical-100: #c2271c;
    --critical-80: #da3c2f;
    --critical-70: #cd2113;
    --critical-60: #f05245;
    --critical-40: #ff8276;
    --critical-20: #ffcecc;

    --sienna-orange-60: #e06036;

    // Status
    --status-green: #15ab65;
    --status-red: #ff3e2e;

    // Semantic
    --semantic-critical-100: #600a03;

    --semantic-warning-90: #836602;

    --semantic-info-80: #333357;

    --semantic-success-100: #004a20;
    --semantic-success-0: #d3fce9;
}
