:root {
    /* ----------- New Palette for Rebranding ----------- */

    // Secondary
    --red: #f05245;
    --blue: #00adff;
    --yellow: #ffe300;
    --green: #1cebcf;
    --orange: #fa821e;

    --forest-green-30: #79d1c3;

    // Background
    --dark-purple-100: #431b59;
    --dark-purple-80: #5d3175;
    --dark-purple-60: #7d458f;
    --dark-purple-40: #9961a7;
    --dark-purple-20: #b382bd;

    --dark-green-100: #043c3d;
    --dark-green-80: #095759;
    --dark-green-60: #0f7173;
    --dark-green-40: #269b9d;
    --dark-green-20: #4dbdc0;

    --dark-blue-100: #1b2f93;
    --dark-blue-80: #2e45ba;
    --dark-blue-60: #415ada;
    --dark-blue-40: #5e75f1;
    --dark-blue-20: #808bff;

    // Accent
    --pomegranate-40: #ee8279;
    --pomegranate-20: #ffd7d3;

    // Utility
    --information-100: #0d69ac;
    --information-80: #097acc;
    --information-60: #1598ea;
    --information-40: #66c9ff;
    --information-20: #ccefff;

    --success-80: #0d866a;
    --success-40: #6edbc1;
    --success-20: #ccf9ee;

    --warning-100: #805700;
    --warning-80: #bf7500;
    --warning-60: #f0a702;
    --warning-40: #fdcd66;
    --warning-20: #ffefcc;

    --critical-80: #da3c2f;
    --critical-60: #f05245;
    --critical-40: #ff8276;
    --critical-20: #ffcecc;

    // Status
    --status-green: #15ab65;
    --status-red: #ff3e2e;

    // Semantic
    --semantic-critical-100: #600a03;

    --semantic-warning-90: #836602;

    --semantic-info-80: #333357;

    --semantic-success-100: #004a20;
    --semantic-success-0: #d3fce9;
}
