:root {
    --main-font: 'canada-type-gibson', sans-serif;
    --main-font-regular: 300;
    --main-font-bold: 400;
    --main-font-bolder: 500;

    --default-font-size: 14px;
    --small-font-size: 12px;

    // General
    --default-margin: #{$default-margin};
    --default-line-height: #{$default-line-height};
    --header-line-height: #{$header-line-height};
    --spacing: #{$spacing};

    // Typography
    --title-font-size: #{$title-font-size};
    --medium-title-font-size: #{$medium-title-font-size};
    --big-font-size: #{$big-font-size};
    --big-title-font-size: #{$big-title-font-size};
    --code-font-size: #{$code-font-size};
    --help-text-font-size: #{$help-text-font-size};

    --base-font-family: #{$base-font-family};
    --code-font-family: #{$code-font-family};

    --big-line-height: #{$big-line-height};
    --standard-line-height: #{$standard-line-height};
    --help-text-line-height: #{$help-text-line-height};

    --text-max-width: #{$text-max-width};

    // Banner
    --banner-height: #{$banner-height};

    // Button
    --button-font-size: #{$button-font-size};
    --button-line-height: #{$button-line-height};
    --button-small-font-size: #{$button-small-font-size};
    --button-small-line-height: #{$button-small-line-height};

    // Color dot
    --color-dot-size: #{$color-dot-size};

    // Dropdown
    --dropdown-button-font-size: #{$dropdown-button-font-size};

    // Facet
    --facet-header-font-size: var(--default-font-size);
    --facet-header-font-weight: var(--main-font-bold);
    --facet-header-line-height: inherit;

    // Flat select
    --flat-select-prepend-font-size: #{$default-font-size};
    --flat-select-prepend-font-weight: var(--main-font-regular);

    // Input and textarea
    --input-font-size: #{$input-font-size};

    // Navigation
    --navigation-section-icon-size: #{$navigation-section-icon-size};
    --navigation-section-font-size: #{$navigation-section-font-size};
    --navigation-tag-font-size: #{$navigation-tag-font-size};

    // Tab
    --tab-font-size: #{$tab-font-size};

    // Table
    --table-action-label-font-size: #{$small-font-size};
    --table-header-font-size: #{$table-header-font-size};
    --table-row-font-size: #{$table-row-font-size};
    --big-table-first-row-font-size: #{$big-table-first-row-font-size};
    --big-table-first-row-font-weight: var(--main-font-regular);
    --big-table-second-row-font-size: #{$big-table-second-row-font-size};
}
