$palette: (
    // Primary
        primary-colors: $primary-colors,
    navy-blue-100: $navy-blue-100,
    navy-blue-80: $navy-blue-80,
    navy-blue-60: $navy-blue-60,
    navy-blue-40: $navy-blue-40,
    digital-blue-100: $digital-blue-100,
    digital-blue-80: $digital-blue-80,
    digital-blue-60: $digital-blue-60,
    digital-blue-40: $digital-blue-40,
    digital-blue-20: $digital-blue-20,
    // Secondary
        secondary-colors: $secondary-colors,
    red: $red,
    blue: $blue,
    yellow: $yellow,
    green: $green,
    orange: $orange,
    // Status
        status-colors: $status-colors,
    status-green: $status-green,
    status-yellow: $status-yellow,
    // Background
        background-colors: $background-colors,
    dark-purple-100: $dark-purple-100,
    dark-purple-80: $dark-purple-80,
    dark-purple-60: $dark-purple-60,
    dark-purple-40: $dark-purple-40,
    dark-purple-20: $dark-purple-20,
    dark-green-100: $dark-green-100,
    dark-green-80: $dark-green-80,
    dark-green-60: $dark-green-60,
    dark-green-40: $dark-green-40,
    dark-green-20: $dark-green-20,
    dark-blue-100: $dark-blue-100,
    dark-blue-80: $dark-blue-80,
    dark-blue-60: $dark-blue-60,
    dark-blue-40: $dark-blue-40,
    dark-blue-20: $dark-blue-20,
    // Greyscale
        greyscale-colors: $greyscale-colors,
    black: $black,
    grey-100: $grey-100,
    grey-80: $grey-80,
    grey-60: $grey-60,
    grey-40: $grey-40,
    grey-20: $grey-20,
    white: $white,
    // Utility
        utility-colors: $utility-colors,
    information-100: $information-100,
    information-80: $information-80,
    information-80: $information-80,
    information-40: $information-40,
    information-20: $information-20,
    success-100: $success-100,
    success-80: $success-80,
    success-60: $success-60,
    success-40: $success-40,
    success-20: $success-20,
    warning-100: $warning-100,
    warning-80: $warning-80,
    warning-60: $warning-60,
    warning-40: $warning-40,
    warning-20: $warning-20,
    critical-100: $critical-100,
    critical-80: $critical-80,
    critical-60: $critical-60,
    critical-40: $critical-40,
    critical-20: $critical-20
);
