:root {
    // General
    --default-text-color: var(--grey-80);
    --title-text-color: var(--grey-100);
    --default-border-color: var(--grey-40);
    --links-color: var(--digital-blue-60);

    --default-border: 1px solid;

    // Navigation
    --navigation-background-color: var(--white);
    --navigation-text-color: var(--navy-blue-80);
    --navigation-title-icon-color: var(--black);
    --navigation-hover-color: var(--grey-20);
    --navigation-selected-background-color: var(--grey-20);
    --navigation-strip-color: var(--digital-blue-80);
    --navigation-locked-color: var(--grey-60);
    --navigation-menu-section-icon-color: var(--navy-blue-80);
    --navigation-menu-toggle-color: var(--navy-blue-80);
    --navigation-scroll-track-color: var(--grey-20);
    --navigation-scroll-thumb-color: var(--grey-40);
    --navigation-status-background-color: var(--grey-20);
    --navigation-status-border-color: var(--table-border-color);
    --navigation-status-helper-icon-color: var(--digital-blue-60);
    --navigation-status-info-background-color: var(--navy-blue-80);
    --navigation-status-info-text-color: var(--white);
    --navigation-status-info-font-size: var(--default-font-size);
    --navigation-status-info-border-color: var(--transparent);
    --navigation-status-info-link-color: var(--links-color);
    --navigation-menu-section-item-transparency: 1;
    --navigation-menu-padding-top: 0;

    // Header
    --header-background-color: var(--navy-blue-80);
    --header-text-color: var(--white);
    --header-hamburger-color: var(--white);
    --whats-new-banner-background-color: var(--green);
    --whats-new-banner-text-color: var(--navy-blue-80);
    --whats-new-banner-button-text-color: var(--navy-blue-80);
    --whats-new-banner-button-background-color: var(--green);
    --whats-new-banner-button-border: 1px solid var(--navy-blue-80);
    --whats-new-banner-button-border-radius: #{$big-border-radius};
    --whats-new-banner-close-icon-color: var(--navy-blue-80);

    // Gradient
    --gradient-bg-color-1: var(--navy-blue-80);
    --gradient-bg-color-2: var(--navy-blue-80);

    // Button
    // Primary
    --button-primary-color: var(--digital-blue-60);
    --button-primary-hover-color: var(--digital-blue-80);
    --button-primary-hover-focus: var(--digital-blue-60);
    --button-primary-active-color: var(--digital-blue-100);
    --button-primary-text-color: var(--white);
    --button-primary-icon-color: var(--white);
    --button-primary-disabled-color: var(--grey-40);
    --button-primary-disabled-text-color: var(--grey-60);
    --button-primary-disabled-icon-color: var(--grey-60);

    // Secondary
    --button-secondary-color: var(--white);
    --button-secondary-text-color: var(--navy-blue-80);
    --button-secondary-border-color: var(--navy-blue-80);
    --button-secondary-icon-color: var(--navy-blue-80);

    --button-secondary-hover-border-color: var(--digital-blue-80);
    --button-secondary-hover-text-color: var(--digital-blue-80);
    --button-secondary-hover-icon-color: var(--digital-blue-80);
    --button-secondary-hover-focus-color: var(--white);

    --button-secondary-focus-border-color: var(--green);
    --button-secondary-focus-color: var(--white);

    --button-secondary-active-border-color: var(--digital-blue-100);
    --button-secondary-active-text-color: var(--digital-blue-100);

    --button-secondary-disabled-color: var(--grey-20);
    --button-secondary-disabled-text-color: var(--grey-60);
    --button-secondary-disabled-icon-color: var(--grey-60);
    --button-secondary-disabled-border-color: var(--grey-40);

    // Danger
    --button-danger-default-text-color: var(--white);
    --button-danger-default-icon-color: var(--white);

    --button-danger-color: var(--critical-60);
    --button-danger-hover-color: var(--critical-80);
    --button-danger-active-color: var(--critical-100);
    --button-danger-focus-color: var(--critical-60);

    --button-danger-disabled-color: var(--grey-40);
    --button-danger-disabled-text-color: var(--grey-60);
    --button-danger-disabled-icon-color: var(--grey-60);

    // Others
    --button-confirm-icon-success-color: var(--white);
    --button-confirm-sucess-color: var(--green);
    --button-confirm-error-color: var(--red);
    --button-link-color: var(--green);
    --button-link-hover-color: var(--success-40);
    --button-font-size: var(--default-font-size);
    --button-line-height: 20px;
    --button-small-line-height: 17px;
    --button-text-transform: none;
    --button-no-tag-button-padding-y: 9px;
    --button-padding-x: 16px;

    // Status
    --status-blue: var(--information-60);
    --status-light-grey: var(--grey-20);
    --status-medium-grey: var(--grey-60);

    // Badge
    --source-badge-light-color: var(--background-color);
    --source-badge-medium-color: var(--background-color);
    --source-badge-dark-color: var(--background-color);

    // Tooltip
    --tooltip-background-color: var(--digital-blue-100);
    --tooltip-arrow-color: var(--digital-blue-100);

    // Banner
    --banner-background-color: var(--navy-blue-80);
    --banner-warning-text-color: var(--warning-60);
    --banner-error-text-color: var(--critical-80);
    --banner-text-color: var(--white);
    --banner-description-color: #{rgba($pure-white, $transparency-2)};
    --banner-box-shadow-1: #{rgba($black, $transparency-5)};
    --banner-box-shadow-2: #{rgba($black, 0.2)};

    // Icon
    --documentation-link-icon-color: var(--digital-blue-60);

    // Panel header
    --basic-header-title-font-weight: var(--main-font-bolder);
    --basic-header-description-font-size: var(--default-font-size);

    // Tab
    --tab-font-size: #{$button-font-size};
    --tab-font-weight: var(--main-font-bolder);
    --tab-border-color: var(--digital-blue-60);

    // Table
    --table-border-color: var(--grey-40);
    --table-selected-border-color: var(--digital-blue-60);
    --table-actions-background-color: var(--grey-20);
    --table-action-label-font-size: var(--default-font-size);
    --table-action-label-font-weight: var(--main-font-bolder);
    --table-action-label-color: var(--navy-blue-80);
    --table-header-font-size: #{$small-font-size};
    --table-header-sort-icon-color: var(--grey-60);
    --table-row-font-size: var(--default-font-size);
    --table-row-hover-color: var(--grey-20);
    --table-row-selected-color: var(--grey-20);
    --table-cell-loading-color: var(--grey-40);
    --blankslate-border-color: var(--grey-40);
    --big-table-first-row-font-size: var(--default-font-size);
    --big-table-first-row-font-weight: var(--main-font-bolder);

    // Flat select
    --flat-select-background-color: var(--digital-blue-60);
    --flat-select-prepend-color: var(--grey-100);
    --flat-select-prepend-font-size: var(--default-font-size);
    --flat-select-prepend-font-weight: var(--main-font-bolder);

    // ****************
    // Dropdown

    // Default
    --dropdown-default-color: var(--grey-80);
    --dropdown-toggle-placeholder-color: var(--grey-80);
    --dropdown-toggle-append-color: var(--grey-80);

    --dropdown-option-line-color: var(--grey-100);
    --dropdown-btn-border-color: var(--grey-40);
    --dropdown-toggle-arrow-color: var(--grey-80);
    --dropdown-selected-value-color: var(--grey-100);
    --dropdown-button-font-size: var(--default-font-size);

    // Menu
    --dropdown-menu-color: var(--grey-100);
    --dropdown-menu-bg-color: var(--white);
    --dropdown-menu-border-color: var(--grey-40);
    --dropdown-menu-scrollbar-thumb-color: var(--grey-20);
    --dropdown-menu-scrollbar-color: var(--white);
    --dropdown-menu-box-shadow-color: rgba(0, 0, 0, 0.41);
    --dropdown-menu-hover-color: var(--grey-80);
    --dropdown-menu-hover-bg-color: var(--grey-20);
    --dropdown-menu-disabled-option-color: var(--medium-grey);
    --dropdown-menu-disabled-option-bg-color: var(--grey-60);

    --dropdown-menu-selected-option-color: var(--grey-40);
    --dropdown-menu-active-option-color: var(--grey-40);
    --dropdown-menu-active-option-bg-color: var(--navy-blue-80);

    --dropdown-menu-divider-bg-color: var(--grey-60);

    // Search #deprecated
    --dropdown-option-append-color: var(--grey-100);

    // List box
    --list-box-scrollbar-thumb-color: var(--grey-20);
    --list-box-scrollbar-color: var(--white);
    --list-box-border-color: var(--grey-40);

    --list-box-item-color: var(--grey-80);
    --list-box-item-bg-color: var(--white);

    --list-box-item-active-color: var(--grey-40);
    --list-box-item-active-bg-color: var(--navy-blue-80);

    --list-box-item-hover-color: var(--grey-80);
    --list-box-item-hover-bg-color: var(--grey-20);

    --list-box-item-focus-color: var(--turquoise);

    // Input
    --input-font-size: var(--default-font-size);
    --checkbox-border-color: var(--navy-blue-80);
    --checkbox-checked-color: var(--digital-blue-60);

    // Filter box
    --filter-box-icon-color: var(--grey-80);

    // Color dot
    --color-dot-size: 12px;

    // Facet
    --facet-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    --facet-border: 1px solid rgba($heather, 0.3);
    --facet-border-radius: #{$big-border-radius};
    --facet-exclude-button-hover-color: var(--navy-blue-80);
    --facet-header-background-color: var(--grey-20);
    --facet-header-eraser-hover-color: var(--navy-blue-80);
    --facet-header-font-size: #{$title-font-size};
    --facet-header-font-weight: var(--main-font-regular);
    --facet-header-line-height: 20px;
    --facet-value-count-text-color: var(--grey-60);
    --facet-value-hover-background-color: var(--grey-20);

    // Shadows
    --shadow-color: rgba(229, 232, 232, 0.75);
    --light-shadow: 0px 2px 8px var(--shadow-color);
    --medium-shadow: 0px 4px 16px var(--shadow-color);
    --large-shadow: 0px 8px 24px var(--shadow-color);
}
