:root {
    // Navigation
    --navigation-background-color: #{$navigation-background-color};
    --navigation-text-color: var(--white);
    --navigation-title-icon-color: var(--black);
    --navigation-hover-color: var(--blue-purple-2);
    --navigation-selected-background-color: var(--blue-purple-2);
    --navigation-strip-color: var(--orange);
    --navigation-locked-color: #{$navigation-locked-color};
    --navigation-menu-section-icon-color: var(--white);
    --navigation-menu-toggle-color: var(--white);
    --navigation-scroll-track-color: var(--purple-blue);

    // Header
    --header-background-color: var(--purple-blue);
    --header-text-color: var(--white);
    --header-hamburger-color: var(--white);

    // Button //
    // Primary
    --button-primary-color: var(--orange);
    --button-primary-text-color: var(--white);
    --button-primary-icon-color: var(--pure-white);

    --button-primary-hover-color: #{lighten($orange, 5%)};
    --button-primary-hover-focus: #{lighten($orange, 5%)};

    --button-primary-active-color: #{lighten($orange, 5%)};

    --button-primary-disabled-color: #{lighten($orange, 20%)};
    --button-primary-disabled-text-color: var(--button-primary-text-color);
    --button-primary-disabled-icon-color: var(--white);

    // Secondary
    --button-secondary-color: var(--pure-white);
    --button-secondary-text-color: var(--medium-blue);
    --button-secondary-border-color: var(--medium-grey);
    --button-secondary-icon-color: var(--medium-blue);

    --button-secondary-hover-border-color: var(--medium-grey);
    --button-secondary-hover-text-color: var(--medium-blue);
    --button-secondary-hover-focus-color: var(--medium-grey);

    --button-secondary-focus-border-color: var(--medium-blue);
    --button-secondary-focus-color: var(--light-grey);

    --button-secondary-active-text-color: var(--medium-grey);

    --button-secondary-disabled-color: var(--pure-white);
    --button-secondary-disabled-text-color: var(--medium-grey);
    --button-secondary-disabled-icon-color: var(--medium-grey);

    // Danger
    --button-danger-default-text-color: var(--pure-white);
    --button-danger-default-icon-color: var(--white);

    --button-danger-color: var(--red);
    --button-danger-hover-color: #{lighten($red, 5%)};
    --button-danger-active-color: #{lighten($red, 5%)};
    --button-danger-focus-color: #{lighten($red, 5%)};

    --button-danger-disabled-color: #{lighten($red, 20%)};
    --button-danger-disabled-text-color: var(--pure-white);
    --button-danger-disabled-icon-color: var(--pure-white);

    // Others
    --button-confirm-icon-success-color: var(--pure-white);
    --button-confirm-sucess-color: var(--green);
    --button-confirm-error-color: var(--red);
    --button-link-color: #{$links-color};
    --button-link-hover-color: #{$links-color};
    --links-color: #{$links-color};

    // Status
    --status-green: var(--green);
    --status-red: var(--red);
    --status-orange: var(--orange);
    --status-yellow: var(--yellow);
    --status-blue: var(--blue);
    --status-light-grey: var(--light-grey);
    --status-medium-grey: var(--medium-grey);

    // Icon
    --documentation-link-icon-color: var(--orange);

    // Gradient
    --gradient-bg-color-1: var(--mirage);
    --gradient-bg-color-2: var(--blue-purple-3);

    // Panel header
    --basic-header-title-font-weight: var(--main-font-bold);
    --basic-header-description-font-size: var(--small-font-size);
    --heading-text-color: var(--medium-blue);
    --breadcrumb-arrow-color: var(--medium-grey);
    --breadcrumb-link-color: var(--links-color);

    // Tab
    --tab-font-weight: var(--main-font-bold);
    --tab-text-color: var(--medium-blue);
    --tab-border-color: var(--orange);

    // Table
    --table-actions-background-color: var(--white);
    --table-action-label-color: var(--medium-blue);
    --table-action-label-font-weight: var(--main-font-bold);
    --table-border-color: var(--medium-grey);
    --table-header-text-color: var(--medium-blue);
    --table-header-sort-icon-color: var(--medium-blue);
    --table-selected-border-color: var(--orange);
    --table-row-hover-color: var(--light-grey);
    --table-row-selected-color: var(--white);
    --table-cell-loading-color: var(--grey-3);
    --big-table-first-row-text-color: var(--black);
    --big-table-second-row-text-color: var(--dark-grey);
    --blankslate-background-color: var(--white);
    --blankslate-border-color: var(--medium-blue);
    --blankslate-text-color: var(--medium-blue);

    // Flat select
    --flat-select-background-color: var(--medium-blue);
    --flat-select-text-color: var(--medium-blue);
    --flat-select-prepend-color: var(--medium-grey);

    // Border
    --default-border-color: var(--medium-grey);

    // ****************
    // Dropdown

    // Default

    --dropdown-default-color: var(--medium-grey);
    --dropdown-toggle-placeholder-color: var(--medium-grey);
    --dropdown-toggle-append-color: var(--medium-blue);

    --dropdown-option-line-color: var(--dark-grey);
    --dropdown-btn-border-color: var(--medium-grey);
    --dropdown-toggle-arrow-color: var(--medium-blue);
    --dropdown-selected-value-color: var(--medium-blue);

    // Menu
    --dropdown-menu-color: var(--dark-grey);
    --dropdown-menu-bg-color: var(--pure-white);
    --dropdown-menu-border-color: var(--medium-grey);
    --dropdown-menu-scrollbar-thumb-color: var(--medium-grey);
    --dropdown-menu-scrollbar-color: var(--light-grey);
    --dropdown-menu-box-shadow-color: rgba(0, 0, 0, 0.41);
    --dropdown-menu-hover-color: var(--dark-blue);
    --dropdown-menu-hover-bg-color: var(--light-grey);
    --dropdown-menu-disabled-option-color: var(--medium-grey);
    --dropdown-menu-disabled-option-bg-color: var(--grey-60);

    --dropdown-menu-selected-option-color: var(--dark-blue);
    --dropdown-menu-active-option-color: var(--dark-blue);
    --dropdown-menu-active-option-bg-color: var(--light-grey);

    --dropdown-menu-divider-bg-color: var(--medium-grey);

    // Append/Prepend
    --button-append-icon-color: var(--medium-blue);

    // Search #deprecated
    --dropdown-option-append-color: var(--medium-blue);

    // list box
    --list-box-scrollbar-thumb-color: var(--medium-grey);
    --list-box-scrollbar-color: var(--light-grey);
    --list-box-border-color: var(--medium-grey);

    --list-box-item-color: var(--dark-grey);
    --list-box-item-bg-color: var(--pure-white);

    --list-box-item-active-color: var(--dark-blue);
    --list-box-item-active-bg-color: var(--light-grey);

    --list-box-item-hover-color: var(--dark-blue);
    --list-box-item-hover-bg-color: var(--light-grey);

    --list-box-item-focus-color: var(--medium-blue);
}
