/// @deprecated the prefix coveo is no longer used.
.coveo-filter-container,
.filter-container {
    --container-width: 320px;
    --border-color: var(--grey-40);

    position: relative;
    align-items: center;
    justify-content: center;
    width: var(--container-width);
    height: 40px;
    padding: 16px 10px;
    border: 1px solid var(--border-color);
    border-radius: 8px;

    &:hover {
        --border-color: var(--grey-50);
    }

    &:focus-within {
        --border-color: var(--digital-blue-60);
        box-shadow: 0px 0px 0px 4px var(--digital-blue-20);
    }

    &.mod-small {
        --container-width: $filter-box-width-mod-small;

        input.filter-box {
            width: $filter-box-width-mod-small;
        }
    }

    > .filter-box-icon {
        position: relative;
        padding: 0 8px;

        &.hidden {
            display: none;
        }

        & svg {
            width: 24px;
            height: 24px;
            fill: var(--grey-80);
        }
    }

    input.filter-box {
        position: relative;
        width: 100%;
        padding: 0;
        border: none;

        &:focus {
            outline: none;
        }
    }
}
