input,
textarea {
    @include placeholder;
}

input[type='text'],
textarea {
    &.admin-invisible-textbox {
        margin-bottom: 0;
        padding: 4px 6px;
        background: transparent;
        border-width: 0;
        resize: none;
    }

    &:input-placeholder {
        color: var(--deprecated-medium-grey);
        font-size: inherit;
        font-family: var(--main-font);
        text-transform: none;
        transition: color 0.2s ease;
    }

    &.disabled-input {
        background-color: transparent;

        &::placeholder {
            color: var(--critical-70);
            font-size: 12px;
        }
    }

    &:disabled {
        color: var(--grey-60);
    }
}

.js-numeric-input.disabled {
    color: var(--grey-60);
}

.input-group {
    input {
        height: 30px;
    }

    .add-on {
        display: inline-block;
        height: 30px;
        margin-left: -5px;
        padding: 0;
        vertical-align: top;
        background-color: var(--deprecated-medium-grey);
        border: 1px solid var(--deprecated-dark-medium-grey);
        border-radius: 0 2px 2px 0;
    }
}

.textarea.textarea-autosize {
    width: 100%;
    resize: none;
}
