.item {
    border: 1px solid var(--mantine-color-gray-3);
    border-radius: var(--mantine-radius-default);
    padding: var(--mantine-spacing-md);
    position: relative;
    background: var(--mantine-color-body);
}

.item[data-isdragging='true'] {
    z-index: 1;
}

.itemContent {
    width: 100%;
}

.dragHandle {
    composes: draghandle from '../shared/LayoutCommon.module.css';
    flex-shrink: 0;
}

.removeButton {
    composes: removebutton from '../shared/LayoutCommon.module.css';
    flex-shrink: 0;
}

.fieldGroup {
    flex: 1;
    min-width: 0;
}

.field {
    display: flex;
    flex-direction: column;
    gap: var(--mantine-spacing-xxs);
}

.fieldLabel {
    font-weight: var(--coveo-fw-bold);
    font-size: var(--mantine-font-size-sm);
}

.fieldContent {
    width: 100%;
}
