// Slide Toggle
//
// Another style for a checkbox with stylish animations.
//
// :checked         - Checkbox is checked
// :disabled        - Checkbox is not clickable/modifiable
//
// Markup:
// <label class="coveo-slide-toggle-label">
//   <input type="checkbox" class="coveo-slide-toggle {$modifiers}">
//   <button></button>
//   <span class="toggle-label">Simple text</span>
// </label>
//
// Styleguide 5.4

// Slide Toggle Boxed
//
// Same as the slide toggle, but with a box.
//
// Markup:
// <label class="coveo-slide-toggle-label boxed">
//   <span class="toggle-label">Simple text</span>
//   <input type="checkbox" class="coveo-slide-toggle">
//   <button></button>
// </label>
// <label class="coveo-slide-toggle-label boxed">
//   <span class="toggle-label">Simple text</span>
//   <input type="checkbox" class="coveo-slide-toggle">
//   <button></button>
// </label>
//
// Styleguide 5.4

@import (reference) "../common/colors";

label.coveo-slide-toggle-label {
    cursor: pointer;
    display: inline-block;
    user-select: none;

    &.disabled, &[for].disabled {
        cursor: default;
        opacity: 0.4;

        button {
            cursor: default;
        }
    }

    &.boxed {
        border: solid 1px @table-header-background-color-dark;
        padding: 8px 10px;

        .toggle-label {
            margin-right: 20px;
            vertical-align: -2px;
        }

        button {
            float: right;
        }
    }

    input[type=checkbox].coveo-slide-toggle {
        display: none;

        &:checked {
            + button:before {
                background-color: @checkbox-slide-active-background-color;
            }

            + button:after {
                margin-left: 12px;
            }
        }
    }

    button {
        border: none;
        cursor: pointer;
        height: 19px;
        width: 32px;
        position: relative;

        &:before, &:after {
            position: absolute;
            display: block;
            top: 0;
            bottom: 0;
            left: 0;
            content: ' ';
            width: 32px;
            background-color: @checkbox-slide-background-color;
            transition: all 0.35s ease;
        }

        &:after {
            width: 18px;
            top: 2px;
            bottom: 2px;
            margin-left: 2px;
            background-color: @block-background-color;
        }
    }

    span.toggle-label {
        vertical-align: 3px;
    }
}