.btn {
    &.mod-append,
    &.mod-prepend {
        line-height: $button-height - $button-border-width;

        .btn-append,
        .btn-prepend {
            display: inline-flex;
            height: $button-height - $button-border-width;
            padding: 0 $button-padding-x;
            vertical-align: top; // Fix for Edge, otherwise, button text will be misaligned

            &.mod-icon {
                padding: 8px;
            }
        }

        &.dropdown-toggle {
            .dropdown-toggle-arrow {
                position: static;
                display: inline-block;
                margin-left: $dropdown-icon-text-spacing;
            }
        }

        &.mod-large {
            line-height: $button-large-height - $button-border-width;

            .btn-append,
            .btn-prepend {
                height: $button-large-height - $button-border-width;
            }
        }

        &.mod-on-hover:not(:hover) {
            padding: 0 $button-padding-x 0 $button-padding-x;

            .btn-append,
            .btn-prepend {
                display: none;
            }
        }
    }

    &.mod-append {
        padding: 0 0 0 $button-padding-x;

        .btn-append {
            margin-left: $button-padding-x;
            border-left: $button-border-width solid $medium-grey;
        }
    }

    &.mod-prepend {
        padding: 0 $button-padding-x 0 0;

        .btn-prepend {
            margin-right: $button-padding-x;
            border-right: $button-border-width solid $medium-grey;
        }
    }
}
