@mixin button-variant($color, $background) {
  color: $color;

  background-color: $background;
  border: $button-border-width solid $background;

  &:hover, &:focus {
    background-color: lighten($background, 5%);
    border: $button-border-width solid lighten($background, 5%);
  }

  &:disabled, &.state-disabled {
    background-color: lighten($background, 20%);
    border: $button-border-width solid lighten($background, 20%);

    cursor: default;
  }

  .icon {
    fill: $color;
  }
}

.btn {
  display: inline-block;
  height: $button-height;
  padding: $button-padding-y $button-padding-x;

  color: $medium-blue;
  font-family: $base-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  line-height: $button-line-height;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;

  background-color: $pure-white;
  border: $button-border-width solid $medium-grey;
  border-radius: $border-radius;

  cursor: pointer;

  .icon {
    fill: $medium-blue;
  }

  &:hover, &:focus {
    text-decoration: none;
  }

  &:focus {
    background-color: $light-grey;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  &:disabled, &.state-disabled {
    color: $medium-grey;

    &:hover, &:focus {
      background-color: inherit;
    }
  }

  &.mod-large {
    height: $button-large-height;
  }

  &.mod-primary {
    @include button-variant($pure-white, $orange);
  }

  &.mod-danger {
    @include button-variant($pure-white, $red);
  }

  &.mod-link {
    background-color: transparent;
    border: none;
  }

  & + .btn {
    margin-left: $button-margin-width;
  }
}
