@mixin button-focus($offset) {
    background-color: var(--light-grey);

    @include focus-border($offset);
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    height: $button-height;
    padding: $button-padding-y $button-padding-x;
    color: var(--medium-blue);
    font-weight: $button-font-weight;
    font-size: $button-font-size;
    font-family: $base-font-family;
    line-height: $button-line-height;
    white-space: nowrap;
    text-transform: uppercase;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    background-color: var(--pure-white);
    border: $button-border-width solid var(--medium-grey);
    border-radius: $border-radius;

    cursor: pointer;

    .icon:not([class*='fill-']) {
        fill: var(--medium-blue);
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }

    &:focus {
        @include button-focus(-2px);
    }

    &:disabled,
    &.state-disabled {
        color: var(--medium-grey);
        cursor: default;
        pointer-events: none;

        .icon {
            fill: var(--medium-grey);
        }
    }

    &.mod-small {
        height: $button-small-height;
        padding: $button-small-padding-y $button-small-padding-x;
        font-size: $button-small-font-size;
        line-height: $button-small-line-height;
    }

    &.mod-large {
        height: $button-large-height;
    }

    &.mod-primary {
        color: var(--pure-white);
        background-color: var(--orange);
        border: $button-border-width solid var(--orange);

        &:hover,
        &:focus {
            background-color: var(--orange-5-lighten);
            border: $button-border-width solid var(--orange-5-lighten);
        }

        &:disabled,
        &.state-disabled {
            background-color: var(--orange-20-lighten);
            border: $button-border-width solid var(--orange-20-lighten);
        }

        .icon {
            fill: var(--pure-white);
        }
    }

    &.mod-danger {
        color: var(--pure-white);
        background-color: var(--red);
        border: $button-border-width solid var(--red);

        &:hover,
        &:focus {
            background-color: var(--red-5-lighten);
            border: $button-border-width solid var(--red-5-lighten);
        }

        &:disabled,
        &.state-disabled {
            background-color: var(--red-20-lighten);
            border: $button-border-width solid var(--red-20-lighten);
        }

        .icon {
            fill: var(--pure-white);
        }
    }

    &.mod-link {
        background-color: transparent;
        border: none;
    }

    & + .btn,
    + .btn-container {
        margin-left: $button-margin-width;
    }

    .confirm-icon-error,
    .confirm-icon-success {
        display: none;
    }

    &.mod-confirm-success,
    &.mod-confirm-error {
        position: relative;
        color: transparent;
        outline: 0;
        transition: background-color 0.2s ease;
        user-select: none;

        &:before {
            position: absolute;
            top: $button-height + 6px;
            font-size: 11px;
            text-transform: initial;
            opacity: 0;
            animation: vp-fadeIn ease-in 1;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }

        &.mod-confirm-right:before {
            right: 0;
        }

        &.mod-confirm-left:before {
            left: 0;
        }

        .confirm-icon-error,
        .confirm-icon-success {
            position: absolute;
            top: calc(50% - #{$button-confirm-icon-width} / 2);
            right: calc(50% - #{$button-confirm-icon-width} / 2);
            display: inline-block;
            font-size: $button-confirm-icon-width;
            fill: var(--pure-white);
        }
    }

    &.mod-confirm {
        margin-bottom: $button-confirm-margin-bottom;
    }

    &.mod-confirm-success {
        background-color: var(--green);
        border: $button-border-width solid var(--green);

        &:focus,
        &:hover {
            background-color: var(--green);
        }

        &:before {
            color: var(--green);
            content: attr(data-confirm-success);
        }

        .confirm-icon-error {
            display: none;
        }
    }

    &.mod-confirm-error {
        background-color: var(--red);
        border: $button-border-width solid var(--red);

        &:focus,
        &:hover {
            background-color: var(--red);
        }

        &:before {
            color: var(--red);
            content: attr(data-confirm-error);
        }

        .confirm-icon-success {
            display: none;
        }
    }

    &.collapsible-header {
        border-radius: 0;
    }
}

.btn-container {
    display: inline-block;
    margin: 0;
    vertical-align: middle;

    .btn[disabled] {
        pointer-events: none;
    }

    & + .btn,
    + .btn-container {
        margin-left: $button-margin-width;
    }
}

.btn-hover:hover {
    .icon {
        fill: $links-color;
    }

    .btn-hover-text {
        color: $links-color;
    }
}
