@mixin button-focus($offset) {
    background-color: var(--light-grey);

    @include focus-border($offset);
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    height: $button-height;
    padding: $button-padding-y $button-padding-x;
    color: var(--button-secondary-text-color);
    font-weight: var(--main-font-bold);
    font-size: var(--button-font-size);
    font-family: var(--main-font);
    line-height: var(--button-line-height);
    white-space: nowrap;
    text-transform: var(--button-text-transform);
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    background-color: var(--button-secondary-color);
    border: $button-border-width solid var(--button-secondary-border-color);
    border-radius: $border-radius;

    cursor: pointer;

    .icon:not([class*='fill-']) {
        fill: var(--button-secondary-icon-color);
    }

    &:active {
        color: var(--button-secondary-active-text-color);
        border-color: var(--button-secondary-active-border-color);

        .icon {
            fill: var(--button-secondary-active-text-color);
        }
    }
    &:focus {
        @include button-focus(0px);
        color: var(--button-secondary-text-color);
        text-decoration: none;
        background-color: var(--button-secondary-focus-color);
        outline-color: var(--button-secondary-focus-border-color);
    }

    &:hover {
        color: var(--button-secondary-hover-text-color);
        border-color: var(--button-secondary-hover-border-color);
        outline-color: var(--button-secondary-hover-border-color);

        .icon {
            fill: var(--button-secondary-hover-text-color);
        }
    }

    &:disabled,
    &.state-disabled {
        color: var(--button-secondary-disabled-text-color);
        background-color: var(--button-secondary-disabled-color);
        border-color: var(--button-secondary-disabled-border-color);
        cursor: default;
        pointer-events: none;

        .icon {
            fill: var(--button-secondary-disabled-icon-color);
        }
    }

    &.mod-small {
        height: $button-small-height;
        padding: $button-small-padding-y $button-small-padding-x;
        font-size: $button-small-font-size;
        line-height: var(--button-small-line-height);
    }

    &.mod-large {
        height: $button-large-height;
    }

    &.mod-primary {
        color: var(--button-primary-text-color);
        background-color: var(--button-primary-color);
        border: $button-border-width solid var(--button-primary-color);

        &:active {
            background-color: var(--button-primary-active-color);
            border: $button-border-width solid var(--button-primary-active-color);
        }

        &:focus {
            background-color: var(--button-primary-hover-focus);
            border: $button-border-width solid var(--button-primary-hover-focus);
        }

        &:hover {
            background-color: var(--button-primary-hover-color);
            border: $button-border-width solid var(--button-primary-hover-color);
            outline-color: var(--button-primary-hover-color);
        }

        &:disabled,
        &.state-disabled {
            color: var(--button-primary-disabled-text-color);
            background-color: var(--button-primary-disabled-color);
            border: $button-border-width solid var(--button-primary-disabled-color);

            .icon {
                fill: var(--button-primary-disabled-icon-color);
            }
        }

        .icon {
            fill: var(--button-primary-icon-color);
        }
    }

    &.mod-danger {
        color: var(--button-danger-default-text-color);
        background-color: var(--button-danger-color);
        border: $button-border-width solid var(--button-danger-color);

        &:active {
            background-color: var(--button-danger-active-color);
            border: $button-border-width solid var(--button-danger-active-color);
        }

        &:focus {
            background-color: var(--button-danger-focus-color);
            border: $button-border-width solid var(--button-danger-focus-color);
        }

        &:hover {
            background-color: var(--button-danger-hover-color);
            border: $button-border-width solid var(--button-danger-hover-color);
            outline-color: var(--button-danger-hover-color);
        }

        &:disabled,
        &.state-disabled {
            color: var(--button-danger-disabled-text-color);
            background-color: var(--button-danger-disabled-color);
            border: $button-border-width solid var(--button-danger-disabled-color);

            .icon {
                fill: var(--button-danger-disabled-icon-color);
            }
        }

        .icon {
            fill: var(--button-danger-default-icon-color);
        }
    }

    &.mod-no-button-tag {
        padding: var(--button-no-tag-button-padding-y) var(--button-padding-x);
    }

    &.mod-link {
        background-color: transparent;
        border: none;
    }

    & + .btn,
    + .btn-container {
        margin-left: $button-margin-width;
    }

    .confirm-icon-error,
    .confirm-icon-success {
        display: none;
    }

    &.mod-confirm-success,
    &.mod-confirm-error {
        position: relative;
        color: transparent;
        outline: 0;
        transition: background-color 0.2s ease;
        user-select: none;

        &:before {
            position: absolute;
            top: $button-height + 6px;
            font-size: 11px;
            text-transform: initial;
            opacity: 0;
            animation: vp-fadeIn ease-in 1;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
        }

        &.mod-confirm-right:before {
            right: 0;
        }

        &.mod-confirm-left:before {
            left: 0;
        }

        .confirm-icon-error,
        .confirm-icon-success {
            position: absolute;
            top: calc(50% - #{$button-confirm-icon-width} / 2);
            right: calc(50% - #{$button-confirm-icon-width} / 2);
            display: inline-block;
            font-size: $button-confirm-icon-width;
            fill: var(--button-confirm-icon-success-color);
        }
    }

    &.mod-confirm {
        margin-bottom: $button-confirm-margin-bottom;
    }

    &.mod-confirm-success {
        background-color: var(--button-confirm-sucess-color);
        border: $button-border-width solid var(--button-confirm-sucess-color);

        &:focus,
        &:hover {
            background-color: var(--button-confirm-sucess-color);
            outline-color: var(--button-confirm-sucess-color);
        }

        &:before {
            color: var(--button-confirm-sucess-color);
            content: attr(data-confirm-success);
        }

        .confirm-icon-error {
            display: none;
        }
    }

    &.mod-confirm-error {
        background-color: var(--button-confirm-error-color);
        border: $button-border-width solid var(--button-confirm-error-color);

        &:focus,
        &:hover {
            background-color: var(--button-confirm-error-color);
            outline-color: var(--button-confirm-error-color);
        }

        &:before {
            color: var(--button-confirm-error-color);
            content: attr(data-confirm-error);
        }

        .confirm-icon-success {
            display: none;
        }
    }

    &.collapsible-header {
        border-radius: 0;
    }
}

.btn-container {
    display: inline-block;
    margin: 0;
    vertical-align: middle;

    .btn[disabled] {
        pointer-events: none;
    }

    & + .btn,
    + .btn-container {
        margin-left: $button-margin-width;
    }
}

.btn-hover:hover {
    .icon {
        fill: var(--button-link-color);
    }

    .btn-hover-text {
        color: var(--button-link-hover-color);
    }
}
