$btn-alternate-height: 54px;
$btn-alternate-padding: 20px;
$btn-alternate-border: 1px solid $medium-grey;

.btn-alternate {
  position: relative;

  display: block;
  width: 240px;
  height: $btn-alternate-height;
  padding-right: $btn-alternate-padding;
  padding-left: $btn-alternate-padding;
  margin: 0 auto 13px;

  color: $dark-grey;
  font-size: 14px;
  font-weight: 400;
  line-height: $btn-alternate-height;

  background-color: $white;
  border: $btn-alternate-border;

  &.mod-prepend {
    padding-left: $btn-alternate-height + $btn-alternate-padding;
  }

  .btn-prepend {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: $btn-alternate-height;
    height: ($btn-alternate-height - 1);
    padding: 8px;

    line-height: $btn-alternate-height;

    border-right: $btn-alternate-border;
  }

  &:hover, &:focus {
    color: $dark-grey;

    background-color: $light-grey;
  }
}
