.color-dot {
    display: inline-block;
    width: $color-dot-size;
    min-width: $color-dot-size;
    height: $color-dot-size;
    min-height: $color-dot-size;
    background-color: var(--status-green);
    border-radius: 100%;

    &.state-critical {
        background-color: var(--status-red);
    }

    &.state-major {
        background-color: var(--orange);
    }

    &.state-minor {
        background-color: var(--yellow);
    }

    &.state-info {
        background-color: var(--blue);
    }

    &.state-disabled {
        background-color: var(--light-grey);
    }

    &.state-executing {
        animation: scaleoutCentered 1s infinite ease-in-out;
    }

    &.state-waiting {
        background-color: var(--medium-grey);
    }
}
