.color-dot {
    display: inline-block;
    width: $color-dot-size;
    height: $color-dot-size;
    min-width: $color-dot-size;
    min-height: $color-dot-size;

    background-color: $green;
    border-radius: 100%;

    &.state-critical {
        background-color: $red;
    }

    &.state-major {
        background-color: $orange;
    }

    &.state-minor {
        background-color: $yellow;
    }

    &.state-info {
        background-color: $blue;
    }

    &.state-disabled {
        background-color: $light-grey;
    }

    &.state-executing {
        animation: scaleoutCentered 1s infinite ease-in-out;
    }

    &.state-waiting {
        background-color: $medium-grey;
    }
}
