.color-dot {
    --background-color: var(--success-60);

    display: inline-block;
    width: $color-dot-size;
    min-width: $color-dot-size;
    height: $color-dot-size;
    min-height: $color-dot-size;
    background-color: var(--background-color);
    border-radius: 100%;

    &.state-critical {
        --background-color: var(--critical-70);
    }

    &.state-major {
        --background-color: var(--sienna-orange-60);
    }

    &.state-minor {
        --background-color: var(--warning-70);
    }

    &.state-info {
        --background-color: var(--info-60);
    }

    &.state-disabled {
        --background-color: var(--grey-20);
        border: 1px solid var(--grey-60);
    }

    &.state-waiting {
        --background-color: var(--grey-60);
    }

    &.state-executing {
        animation: scaleoutCentered 1s infinite ease-in-out;
    }
}
