[class^='icon-'] {
  display: inline-block;
}

.icon-small {
  width: 17px;
  height: 17px;
}

.icon-medium {
  width: 24px;
  height: 24px;
}

.icon-big {
  width: 36px;
  height: 36px;
}

.icon-fit {
  width: 100%;
  height: 100%;
}
