a,
.link {
    color: $links-color;
    text-decoration: none;
    cursor: pointer;

    &.disabled {
        cursor: default;
        pointer-events: none;
    }

    &:focus {
        @include focus-border(-2px);
    }
}
