.application-container {
  flex-basis: 0;
  flex-grow: 1;
  order: 2;

  max-width: 100vw;
  overflow: auto;

  border-top-left-radius: 2px;

  .application-main-header, .application-main-content {
    @extend %application-container-toggle-without-navigation;
  }
}

.application-container-with-navigation {
  .application-main-header, .application-main-content {
    @extend %application-container-toggle-with-navigation;
  }
}

.application-wrapper {
  align-content: flex-start;
  flex-basis: 0;
  flex-flow: row nowrap;
  flex-grow: 1;
}
