.application-container {
  flex-basis: 0;
  flex-grow: 1;
  order: 2;

  max-width: 100vw;
  overflow: auto;

  border-top-left-radius: 2px;

  transition: transform $navigation-side-nav-toggle-anim-duration ease-in-out;
}

.application-container-with-navigation {
  max-width: calc(100vw - #{$navigation-width});

  transform: translateX($navigation-width);

  transition: transform $navigation-side-nav-toggle-anim-duration ease-in-out;
}

.application-wrapper {
  align-content: flex-start;
  flex-basis: 0;
  flex-flow: row nowrap;
  flex-grow: 1;
}
