.badge {
    display: inline-block;
    box-sizing: border-box;
    height: var(--badge-height);
    margin-right: var(--badge-margin);
    padding: var(--badge-padding);
    color: var(--badge-text-color);
    font-weight: var(--badge-font-weight);
    line-height: var(--badge-line-height);
    white-space: nowrap;
    text-align: center;
    background-color: var(--badge-background-color);
    border: var(--badge-border);

    &:last-child {
        margin-right: 0;
    }

    &.mod-small {
        font-size: var(--badge-mod-small-font-size);
    }
}
