.badge {
    display: inline-block;
    box-sizing: border-box;
    height: $badge-height;
    margin-right: $badge-margin;
    padding: $badge-padding;
    color: $pure-white;
    font-size: $badge-font-size;
    line-height: $badge-height;
    background-color: $orange;

    &:last-child {
        margin-right: 0;
    }
}
