.banner {
    width: 100%;
    height: $banner-height;
    padding: 0 40px;
}

.banner-description {
    flex-grow: 1;
    color: $white;
    font-size: 18px;
    text-align: center;
    button {
        margin-left: 20px;
        border: none;
    }
}
