.blankslate {
    --color: var(--title-text-color);

    padding: $blankslate-padding;
    color: var(--color);
    font-weight: var(--main-font-regular);
    text-align: center;
    background-color: var(--blankslate-background-color);
    border: 1px solid var(--blankslate-border-color);
    border-radius: $border-radius;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: $blankslate-margin auto $blankslate-title-margin-bottom auto;
    }

    p {
        max-width: $blankslate-description-width;
        margin: 0 auto $blankslate-paragraph-margin-bottom auto;
        color: var(--color);
    }

    &.mod-small {
        padding: $blankslate-padding-small;
        h1 {
            margin-top: $blankslate-small-h1-margin-top;
            margin-bottom: $blankslate-margin;
            font-size: $blankslate-small-h1-font-size;
        }

        p {
            margin-bottom: $blankslate-small-p-margin-bottom;
            font-size: $blankslate-small-p-font-size;
        }
    }

    // deprecated use .mod-error instead
    &.mod-danger {
        background-color: var(--blankslate-mod-danger-color);
        border-color: var(--red);
        h1,
        p {
            color: var(--red);
        }
    }
    &.mod-error {
        background-color: var(--blankslate-mod-error-color);
    }
}
