.blankslate {
    padding: $blankslate-padding;

    color: $medium-blue;
    text-align: center;

    background-color: $white;
    border: 1px solid $medium-blue;
    border-radius: $border-radius;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: $blankslate-margin 0 $blankslate-title-margin-bottom 0;
    }

    p {
        margin-bottom: $blankslate-paragraph-margin-bottom;

        color: $medium-blue;
    }

    &.mod-small {
        padding: $blankslate-padding-small;
        h1 {
            margin-top: $blankslate-small-h1-margin-top;
            margin-bottom: $blankslate-margin;

            font-size: $blankslate-small-h1-font-size;
        }

        p {
            margin-bottom: $blankslate-small-p-margin-bottom;

            font-size: $blankslate-small-p-font-size;
        }
    }

    &.mod-danger {
        background-color: rgba($red, 0.1);
        border-color: $red;
        h1,
        p {
            color: $red;
        }
    }
}
