.blankslate {
  padding: $blankslate-padding;

  color: $medium-blue;
  text-align: center;

  background-color: $white;
  border: 1px solid $medium-blue;
  border-radius: $border-radius;

  h1, h2, h3, h4, h5, h6 {
    margin: $blankslate-margin 0 $blankslate-title-margin-bottom 0;
  }

  p {
    margin-bottom: $blankslate-paragraph-margin-bottom;

    color: $medium-blue;
  }
}
