.breadcrumb-title {
    @extend .h1;
    @extend .inline-flex;
    @extend .bold;
    @extend .flex-center;
}

.breadcrumb-arrow {
    @extend .icon;
    @extend .mod-normal;
    fill: $medium-grey;
}
