.content-placeholder {
    background-color: $light-grey;
    border-radius: $content-placeholder-border-radius;
}

.content-placeholder-animated {
    animation: content-placeholder-animated 1.5s infinite;
}

// inspired by https://github.com/buildo/react-placeholder/blob/master/src/reactPlaceholder.scss
@keyframes content-placeholder-animated {
    0% {
        opacity: $content-placeholder-opacity-see-through;
    }
    50% {
        opacity: $content-placeholder-opacity-full;
    }
    100% {
        opacity: $content-placeholder-opacity-see-through;
    }
}
