.facet-column {
    display: block;
    width: $facet-column-width;
    max-width: $facet-column-max-width;
    margin-right: 0;
    padding: $facet-column-padding-y $facet-column-padding-right $facet-column-padding-y $facet-column-padding-left;
    border-right: $default-border;
}

.facet {
    position: relative;
    margin: $facet-margin-y 0;

    padding-bottom: $facet-spacing;
    background: $pure-white;
    border: $default-border;
    border-radius: $border-radius;
}

.facet-header {
    position: relative;
    clear: both;

    padding: $button-padding-x;
    background: $white;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.facet-header-eraser {
    position: absolute;
    top: 0;
    right: $facet-header-eraser-right-position;
    height: 100%;
    cursor: pointer;

    .icon {
        position: relative;
        top: 50%;
        display: block;
        width: $facet-more-button-icon-size;
        height: $facet-more-button-icon-size;
        transform: translateY(-50%);

        &:hover {
            fill: $dark-grey;
        }
    }
}

.remove-selected-tooltip {
    display: block;
    height: 100%;
}

.facet-header-title {
    font-size: $default-font-size;
    font-family: $base-font-family;
}

.facet-values {
    margin: 0;
    padding-top: $facet-value-spacing;
    list-style: none;
}

.facet-value {
    position: relative;
    margin: 0;

    padding: 0 $facet-spacing;

    &:hover {
        background-color: $light-grey;
        .exclude-button {
            display: flex;
        }
    }
}

.facet-value-label {
    display: flex;
    justify-content: space-between;
    padding: $facet-value-spacing 0;
    font-size: $default-font-size;
    line-height: $facet-value-line-height;
    cursor: pointer;

    .label {
        display: block;
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;

        text-overflow: ellipsis;
    }

    .coveo-checkbox-button {
        flex-shrink: 0;
    }
}

.facet-value-count {
    padding-left: $facet-value-spacing;
    color: $medium-grey;
}

.facet-more {
    &:hover .facet-more-button {
        border-style: solid;
    }

    .label {
        color: $blue;
    }
}

.facet-exclude {
    padding-right: $facet-exclude-padding-right;
}

.text-exclude {
    text-decoration: line-through;
}

.exclude-icon {
    position: relative;
    display: none;
    width: $facet-exclude-checkbox-icon-size;
    height: $facet-exclude-checkbox-icon-size;

    svg {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.exclude-button {
    display: none;
    width: $facet-exclude-button-size;
    height: $facet-exclude-button-size;
    svg {
        width: inherit;
        height: inherit;
    }
    &:hover svg {
        fill: $dark-blue;
    }
}

.facet-exclude-button {
    position: absolute;
    top: 0;
    right: 0;
    width: $facet-exclude-padding-right;
    height: 100%;
    cursor: pointer;

    + .coveo-checkbox-label > .exclude-box,
    &:hover + .coveo-checkbox-label > button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $pure-white;
        border: $checkbox-default-border;

        &:before {
            content: none;
        }

        .exclude-icon {
            display: block;
        }
    }
}

.coveo-checkbox:checked + .exclude-button {
    display: none;
}

.facet-more-button {
    float: left;
    border: $facet-more-button-border;

    @extend .coveo-checkbox-button;

    & + .label {
        margin-left: $checkbox-label-margin;
    }

    &:before,
    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        background-color: $medium-grey;
        transform: translate(-50%, -50%);
        content: '';
    }

    &:before {
        width: $facet-checkbox-line-width;
        height: $facet-checkbox-mark-size;
    }

    &:after {
        width: $facet-checkbox-mark-size;
        height: $facet-checkbox-line-width;
    }
}

.facet-search {
    margin: $facet-margin-y $facet-spacing;

    // @deprecated the prefix coveo is no longer used.
    .coveo-filter-container,
    .filter-container {
        width: 100%;

        input.filter-box {
            width: 100%;
        }
    }
}

.facet-search-results {
    position: absolute;
    top: $facet-search-results-top-position;
    left: $button-padding-x;
    z-index: $facet-search-results-z-index;
    width: calc(100% - #{$button-padding-x} * 2);
    max-height: $facet-more-height;
    margin: $facet-search-results-margin-y 0;
    padding: $dropdown-choices-top-bottom-margin 0;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;

    background-color: $pure-white;
    border: $default-border;
    border-radius: $border-radius;

    @include slim-scroll($light-grey, $medium-grey);
}

.facet-opened:last-child .facet-search-results {
    top: auto;
    bottom: $facet-search-results-bottom-position;
}
