.facet-column {
  display: block;
  width: 30%;
  max-width: $facet-column-max-width;
  padding: $facet-column-padding-y $facet-column-padding-right $facet-column-padding-y $facet-column-padding-left;
  margin-right: 0;

  border-right: 1px solid $medium-grey;
}

.facet {
  position: relative;

  padding-bottom: 15px;
  margin: 10px 0;

  background: $white;
  border: 1px solid $medium-grey;
  border-radius: $border-radius;
}

.facet-header {
  position: relative;

  padding: $button-padding-x;
  overflow: hidden;
  clear: both;

  background: $pure-white;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.facet-header-eraser {
  position: absolute;
  top: 0;
  right: 25px;

  height: 100%;

  cursor: pointer;

  .icon {
    position: relative;
    top: 50%;

    display: block;
    width: 10px;
    height: 10px;

    transform: translateY(-50%);

    &:hover {
      fill: $dark-grey;
    }
  }
}

.facet-header-title {
  float: left;

  font-family: $base-font-family;
  font-size: $title-font-size;
}

.facet-values {
  padding-top: 5px;
  margin: 0;

  list-style: none;
}

.facet-value {
  position: relative;

  padding: 0 $button-padding-x;
  margin: 0;

  line-height: 22px;

  &.facet-more {
    color: $medium-grey;
  }

  &:hover {
    background-color: $light-grey;
  }
}

.facet-value > * {
  vertical-align: middle;
}

.facet-value-label {
  display: block;
  padding: 5px 0;
  overflow: hidden;

  font-family: Helvetica neue, Helvetica, Arial, sans-serif;
  font-size: $default-font-size;
  white-space: nowrap;

  cursor: pointer;
}

.facet-value-label-wrapper {
  overflow: hidden;
}

.facet-checkbox-input {
  display: none;
}

.facet-value-checkbox {
  position: relative;
  top: 2px;

  display: inline-block;
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 15px;

  text-align: center;
  vertical-align: middle;

  background: $pure-white;
  border: 1px solid $medium-grey;
  border-radius: $border-radius;
}

.facet-more .facet-value-checkbox {
  position: relative;

  border-style: dashed;

  &:before, &:after {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    content: '';

    background-color: $medium-grey;
    transform: translate(-50%, -50%);
  }

  &:before {
    width: $facet-checkbox-line-width;
    height: $facet-checkbox-mark-size;
  }

  &:after {
    width: $facet-checkbox-mark-size;
    height: $facet-checkbox-line-width;
  }
}

.facet-value.facet-more:hover .facet-value-checkbox {
  border-style: solid;
}

.facet-value-checkbox > span {
  box-sizing: border-box;
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  svg {
    width: $facet-checkbox-mark-size;
    height: $facet-checkbox-mark-size;
    margin: 2px;
  }
}

.facet-value:hover .facet-value-checkbox > span {
  display: block;
}

.facet-checkbox-input:checked {
  + .facet-value-checkbox > span {
    display: block;
  }

  + .facet-value-checkbox + .facet-value-count, + .facet-value-checkbox + .facet-value-count + .facet-value-caption {
    font-weight: bold;
  }
}

.facet-value-count {
  display: inline-block;
  float: right;
  margin: 0 5px;

  vertical-align: middle;

  transition: opacity 1s;
}

.facet-value-caption {
  display: block;
  overflow: hidden;

  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.facet-more {
  margin-top: 10px;
}

.facet-search {
  margin: 10px $button-padding-x;

  .coveo-filter-container {
    width: 100%;

    input.filter-box {
      width: 100%;
    }
  }
}

.facet-search-results {
  position: absolute;
  top: calc(100% - 25px);
  left: $button-padding-x;
  z-index: 999;

  width: calc(100% - #{$button-padding-x} * 2);
  max-height: $facet-more-height;
  padding: $dropdown-choices-top-bottom-margin 0;
  margin: 3px 0;
  overflow-x: hidden;
  overflow-y: auto;

  list-style: none;

  background-color: $pure-white;
  border: 1px solid $medium-grey;
  border-radius: $border-radius;

  @include slim-scroll($light-grey, $medium-grey);
}

.facet:last-child {
  &.facet-opened {
    .facet-search-results {
      top: auto;
      bottom: 60px;
    }
  }
}
