.facet-column {
  display: block;
  width: 30%;
  max-width: $facet-column-max-width;
  padding: $facet-column-padding-y $facet-column-padding-right $facet-column-padding-y $facet-column-padding-left;
  margin-right: 0;

  border-right: 1px solid $medium-grey;
}

.facet {
  position: relative;

  padding-bottom: 15px;
  margin: 10px 0;

  background: $pure-white;
  border: 1px solid $medium-grey;
  border-radius: $border-radius;
}

.facet-header {
  position: relative;

  padding: $button-padding-x;
  clear: both;

  background: $white;
  border-top-right-radius: $border-radius;
  border-top-left-radius: $border-radius;
}

.facet-header-eraser {
  position: absolute;
  top: 0;
  right: 25px;

  height: 100%;

  cursor: pointer;

  .icon {
    position: relative;
    top: 50%;

    display: block;
    width: 10px;
    height: 10px;

    transform: translateY(-50%);

    &:hover {
      fill: $dark-grey;
    }
  }
}

.remove-selected-tooltip {
  display: block;
  height: 100%;
}

.facet-header-title {
  font-family: $base-font-family;
  font-size: $default-font-size;
}

.facet-values {
  padding-top: 5px;
  margin: 0;

  list-style: none;
}

.facet-value {
  position: relative;

  padding: 0 $button-padding-x;
  margin: 0;

  &:hover {
    background-color: $light-grey;
  }
}

.facet-value-label {
  display: block;
  padding: 5px 0;
  overflow: hidden;

  font-size: $default-font-size;
  white-space: nowrap;

  cursor: pointer;
}

.facet-value .label {
  position: relative;
  top: -1px;
}

.facet-more .facet-more-button {
  display: inline-block;

  border: 2px dashed $medium-grey;

  @extend .coveo-checkbox-button;

  & + .label {
    top: -3px;

    margin-left: $checkbox-label-margin;
  }

  &:before, &:after {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    content: '';

    background-color: $medium-grey;
    transform: translate(-50%, -50%);
  }

  &:before {
    width: $facet-checkbox-line-width;
    height: $facet-checkbox-mark-size;
  }

  &:after {
    width: $facet-checkbox-mark-size;
    height: $facet-checkbox-line-width;
  }
}

.facet-more .label {
  color: $blue;
}

.facet-value.facet-more:hover .facet-more-button {
  border-style: solid;
}

.facet-search {
  margin: 10px $button-padding-x;

  /// @deprecated the prefix coveo is no longer used.
  .coveo-filter-container, .filter-container {
    width: 100%;

    input.filter-box {
      width: 100%;
    }
  }
}

.facet-search-results {
  position: absolute;
  top: calc(100% - 25px);
  left: $button-padding-x;
  z-index: 999;

  width: calc(100% - #{$button-padding-x} * 2);
  max-height: $facet-more-height;
  padding: $dropdown-choices-top-bottom-margin 0;
  margin: 3px 0;
  overflow-x: hidden;
  overflow-y: auto;

  list-style: none;

  background-color: $pure-white;
  border: 1px solid $medium-grey;
  border-radius: $border-radius;

  @include slim-scroll($light-grey, $medium-grey);
}

.facet:last-child {
  &.facet-opened {
    .facet-search-results {
      top: auto;
      bottom: 60px;
    }
  }
}
