.header {
  display: flex;
  width: 100%;
  height: $header-height;

  color: $white;

  background-color: $light-blue;

  .header-section {
    border-left: solid 1px rgba(0, 0, 0, 0.1);

    &.mod-padded {
      padding: 0 30px;
    }

    &:first-child {
      border-left: none;
    }
  }
}
