$header-height: 65px;
$header-application-offset-y: 6px;

.header {
  height: $header-height;
  display: flex;

  color: $white;

  background-color: $light-blue;

  padding-bottom: $header-application-offset-y;

  .header-section {
    border-left: solid 1px rgba(0, 0, 0, 0.1);

    &.mod-padded {
      padding: 0 30px;
    }

    &:first-child {
      border-left: none;
    }
  }
}
