$header-height: 65px;
$header-application-offset-y: 6px;

.header {
  display: flex;
  height: $header-height;
  padding-bottom: $header-application-offset-y;

  color: $white;

  background-color: $light-blue;

  .header-section {
    border-left: solid 1px rgba(0, 0, 0, 0.1);

    &.mod-padded {
      padding: 0 30px;
    }

    &:first-child {
      border-left: none;
    }
  }
}

.panel-header {
  height: 110px;
  padding: 0 40px;

  background-color: $white;
  border-bottom: solid 1px $medium-grey;
}
