.home-cards {
    flex-wrap: wrap;
    justify-content: space-between;

    display: flex;
}

.home-cards-padding {
    position: fixed;

    width: 100%;
    height: 100vh;
}

.home-card {
    flex-flow: column;

    display: flex;
    padding: 2 * $spacing;
    margin-bottom: $home-card-margin;

    background: $pure-white;
    box-shadow: $material-card-shadow;
    border: 1px solid rgba($grey-5, $transparency-4);
    border-radius: $home-card-radius;
}

.home-card-padded {
    padding: 1em;
}

.home-card-header {
    padding: $home-card-y-padding $home-card-x-padding;

    color: $medium-blue;
    line-height: $header-line-height;

    h2 {
        font-size: $default-font-size;
    }
}

.home-card-body {
    flex-grow: 1;
}

.home-card-footer {
    padding: $home-card-y-padding $home-card-x-padding;

    line-height: $header-line-height;
    text-align: right;

    border-top: $default-border;
}

.home-card-footer-action {
    padding: 0;

    color: $blue;
    font-size: $small-font-size;

    background: none;
    border: none;
    outline: none;

    cursor: pointer;
}

.home-card-footer-link {
    &:after {
        content: ' >';
    }
}

.home-card-full-width {
    width: 100%;
    margin-right: 0;
    margin-left: 0;

    .home-card-header {
        text-align: center;
    }
}

.home-card-half-size {
    width: calc(50% - 0.5em);
}

.home-card-one-third {
    width: calc(33.33% - 0.5em);
}

.home-card-two-third {
    width: calc(66.66% - 0.5em);
}

.home-card-one-quarter {
    width: calc(25% - 0.5em);
}

.home-card-three-quarter {
    width: calc(75% - 0.5em);
}

.home-card-one-sixth {
    width: calc(16.66% - 0.5em);
}

.home-card-five-sixth {
    width: calc(83.33% - 0.5em);
}
