.home-card {
  margin-bottom: $home-card-margin;

  background: $pure-white;
  border: $default-border;
  border-radius: $border-radius;
}

.home-card-header {
  padding: $home-card-padding;

  color: $medium-blue;
  text-align: center;

  border-bottom: $default-border;

  h2 {
    font-size: 17px;
  }
}
