.home-cards {
  flex-wrap: wrap;
  justify-content: space-between;

  display: flex;
}

.home-card {
  position: relative;

  padding-bottom: $header-line-height;
  margin-bottom: $home-card-margin;

  background: $pure-white;
  box-shadow: $material-card-shadow;
  border: $default-border;
  border-radius: $border-radius;
}

.home-card-padded {
  padding: 1em;
  padding-bottom: calc(1em + $header-line-height);
}

.home-card-header {
  padding: 0 1em;

  color: $medium-blue;
  line-height: $header-line-height;

  border-bottom: $default-border;

  h2 {
    font-size: $default-font-size;
  }
}

.home-card-footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 0 1em;

  line-height: $header-line-height;
  text-align: right;

  border-top: $default-border;
}

.home-card-footer-action {
  padding: 0;

  color: $blue;
  font-size: $small-font-size;

  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.home-card-footer-link {
  &:after {
    content: ' >';
  }
}

.home-card-full-width {
  width: 100%;
  margin-right: 0;
  margin-left: 0;

  .home-card-header {
    text-align: center;
  }
}

.home-card-half-size {
  width: calc(50% - 0.5em);
}

.home-card-one-third {
  width: calc(33.33% - 0.5em);
}

.home-card-two-third {
  width: calc(66.66% - 0.5em);
}
