.info-token {
    // Default Style
    display: inline-block;

    // Variables
    --width: 28px;
    --height: 28px;

    // Style Override
    width: var(--width);
    height: var(--height);

    &.mod-big {
        --width: 28px;
        --height: 28px;
    }

    &.mod-normal {
        --width: 20px;
        --height: 20px;
    }

    &.mod-small {
        --width: 14px;
        --height: 14px;
    }
}
