.box {
    --color: var(--default-text-color);

    &.padded {
        padding: 5px $collapsible-box-padding;
    }

    .label,
    .value {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .label {
        --color: var(--title-text-color);

        padding: 5px 0px 5px 5px;
        color: var(--color);
        font-size: var(--small-font-size);
    }

    .value {
        padding: 5px;
        color: var(--color);
        font-size: var(--default-font-size);
        line-height: $default-line-height;
    }
}

.label {
    color: var(--title-text-color);
}

.mod-align-header {
    .box.padded {
        padding-left: 0;
    }

    .box .label,
    .box .value {
        padding-right: 0;
        padding-left: 0;
    }
}

.columns {
    display: flex;
    flex-flow: row wrap;

    .box {
        flex-basis: 33%;

        &.padded {
            flex-basis: calc(33% - #{$collapsible-box-padding});
            word-break: break-all;
        }
    }
}
