.box {
    &.padded {
        padding: 5px $collapsible-box-padding;
    }

    .label,
    .value {
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .label {
        color: $light-blue;
        font-size: $small-font-size;
    }

    .value {
        font-size: $default-font-size;
        line-height: $default-line-height;
    }
}

.mod-align-header {
    .box.padded {
        padding-left: 0;
    }

    .box .label,
    .box .value {
        padding-right: 0;
        padding-left: 0;
    }
}

.columns {
    display: flex;
    flex-flow: row wrap;

    .box {
        flex-basis: 33%;

        &.padded {
            flex-basis: calc(33% - #{$collapsible-box-padding});
            word-break: break-all;
        }
    }
}
