.box {
  &.padded {
    padding: 5px $collapsible-box-padding;
  }

  .label, .value {
    padding: 5px;
    overflow: hidden;

    font-size: $collapsible-content-font-size;
    text-overflow: ellipsis;
  }

  .label {
    color: $light-blue;
  }
}

.mod-align-header {
  .box.padded {
    padding-left: 0;
  }

  .box .label, .box .value {
    padding-right: 0;
    padding-left: 0;
  }
}

.columns {
  flex-flow: row wrap;

  display: flex;

  .box {
    flex-basis: 33%;

    &.padded {
      flex-basis: calc(33% - #{$collapsible-box-padding});
    }
  }
}
