.lightbox-search-input {
    width: 100%;
    padding: 10px 20px;
    color: var(--grey-60);
    font-weight: var(--font-weight-book);
    font-size: 2rem;
    border: none;
    border-radius: 8px;
    outline: none;
}

.lightbox-search .popover-container .lightbox-search-popover {
    width: 100%;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    background: var(--white);
    border: none;
    border-radius: $border-radius;

    ul li {
        height: auto;
        padding: 0;
        color: var(--deprecated-dark-grey);
        line-height: inherit;
        cursor: pointer;

        &:hover,
        &.admin-active {
            color: var(--deprecated-medium-blue);
            background-color: var(--white);
        }

        .autocomplete-value {
            display: block;
            padding: 10px 20px;
            font-size: 1.8rem;
            border-top: 1px solid var(--deprecated-light-grey);
        }
    }
}
