.lightbox-search-input {
    width: 100%;
    padding: 10px 20px;
    color: $dark-grey;
    font-size: 2rem;
    border: none;
    outline: none;
}

.lightbox-search .popover-container .lightbox-search-popover {
    width: 100%;
    margin-top: 5px;
    padding: 0;
    overflow: hidden;
    background: $pure-white;
    border: none;
    border-radius: $border-radius;

    ul li {
        height: auto;
        padding: 0;
        color: $dark-grey;
        line-height: inherit;
        cursor: pointer;

        &:hover,
        &.admin-active {
            color: $medium-blue;
            background-color: $white;
        }

        .autocomplete-value {
            display: block;
            padding: 10px 20px;
            font-size: 1.8rem;
            border-top: 1px solid $light-grey;
        }
    }
}
