.list-box {
    z-index: 1000;
    min-width: 100%;

    max-height: $list-box-max-height;
    margin: 0;
    padding: $list-box-vertical-spacing 0;
    overflow-y: auto;
    background-color: var(--white);
    border: $default-border;
    border-color: var(--default-border-color);
    border-radius: $list-box-border-radius;

    box-shadow: $list-box-box-shadow;

    @include slim-scroll(var(--white), var(--grey-20));
}

.item-box {
    padding: $item-box-vertical-spacing $item-box-horizontal-spacing;
    overflow: hidden;
    color: var(--default-text-color);
    font-size: var(--small-font-size);
    line-height: $default-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;
    background-color: var(--white);

    cursor: pointer;

    &:hover {
        color: var(--grey-80);
        background: var(--grey-20);
    }

    &.selected {
        color: var(--deprecated-dark-blue);
        font-weight: var(--main-font-bold);
    }

    &:focus,
    &.active {
        color: var(--grey-40);
        background: var(--navy-blue-80);
    }

    &:focus {
        border-color: var(--deprecated-turquoise);
    }

    &.disabled {
        color: var(--deprecated-medium-grey);
        background: var(--white);

        cursor: default;
    }

    &.multi-line {
        white-space: normal;
        word-break: break-word;
    }

    &.divider {
        height: $item-box-divider-height;
        margin: $item-box-vertical-spacing 0;
        padding: 0;
        background-color: var(--deprecated-medium-grey);

        cursor: default;
    }

    .prepend,
    .append {
        color: var(--deprecated-medium-grey);

        &-red {
            color: var(--critical-70);
        }
    }
}

.item-box-loading {
    height: 1em;
    background-color: var(--grey-40);
}

.select-footer {
    padding: $item-box-vertical-spacing $item-box-horizontal-spacing;
    overflow: hidden;
    color: var(--deprecated-dark-grey);
    font-size: var(--small-font-size);
    line-height: $default-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;
    border-top: $default-border;
}
