.list-box {
    z-index: 1000;
    min-width: 100%;

    max-height: $list-box-max-height;
    margin: 0;
    padding: $list-box-vertical-spacing 0;
    overflow-y: auto;
    border: $default-border;
    border-color: var(--list-box-border-color);
    border-radius: $list-box-border-radius;

    box-shadow: $list-box-box-shadow;

    @include slim-scroll(var(--list-box-scrollbar-color), var(--list-box-scrollbar-thumb-color));
}

.item-box {
    padding: $item-box-vertical-spacing $item-box-horizontal-spacing;
    overflow: hidden;
    color: var(--list-box-item-color);
    font-size: var(--small-font-size);
    line-height: $default-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;
    background-color: var(--list-box-item-bg-color);

    cursor: pointer;

    &:hover {
        color: var(--list-box-item-hover-color);
        background: var(--list-box-item-hover-bg-color);
    }

    &.selected {
        color: var(--dark-blue);
        font-weight: var(--main-font-bold);
    }

    &:focus,
    &.active {
        color: var(--list-box-item-active-color);
        background: var(--list-box-item-active-bg-color);
    }

    &:focus {
        border-color: var(--list-box-item-focus-color);
    }

    &.disabled {
        color: var(--medium-grey);
        background: var(--pure-white);

        cursor: default;
    }

    &.multi-line {
        white-space: normal;
        word-break: break-word;
    }

    &.divider {
        height: $item-box-divider-height;
        margin: $item-box-vertical-spacing 0;
        padding: 0;
        background-color: var(--medium-grey);

        cursor: default;
    }

    .prepend,
    .append {
        color: var(--medium-grey);

        &-red {
            color: var(--red);
        }
    }
}

.select-footer {
    padding: $item-box-vertical-spacing $item-box-horizontal-spacing;
    overflow: hidden;
    color: var(--dark-grey);
    font-size: var(--small-font-size);
    line-height: $default-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;
    border-top: $default-border;
}
