.list-box {
    z-index: 1000;
    min-width: 100%;

    max-height: $list-box-max-height;
    margin: 0;
    padding: $list-box-vertical-spacing 0;
    overflow-y: auto;
    border: $default-border;
    border-radius: $list-box-border-radius;

    box-shadow: $list-box-box-shadow;

    @include slim-scroll(var(--light-grey), var(--medium-grey));
}

.item-box {
    padding: $item-box-vertical-spacing $item-box-horizontal-spacing;
    overflow: hidden;
    color: var(--dark-grey);
    font-size: $small-font-size;
    line-height: $default-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;

    cursor: pointer;

    &:hover,
    &:focus,
    &.active {
        color: var(--dark-blue);
        background: var(--light-grey);
    }

    &.selected {
        color: var(--dark-blue);
        font-weight: bold;
    }

    &.disabled {
        color: var(--medium-grey);
        background: var(--pure-white);

        cursor: default;
    }

    &.multi-line {
        white-space: normal;
        word-break: break-word;
    }

    &.divider {
        height: $item-box-divider-height;
        margin: $item-box-vertical-spacing 0;
        padding: 0;
        background-color: var(--medium-grey);

        cursor: default;
    }
}

.select-footer {
    padding: $item-box-vertical-spacing $item-box-horizontal-spacing;
    overflow: hidden;
    color: var(--dark-grey);
    font-size: $small-font-size;
    line-height: $default-line-height;
    white-space: nowrap;
    text-overflow: ellipsis;
    list-style: none;
    border-top: $default-border;
}
