.logo-card {
    --margin: 0.25rem;
    --padding: 1rem;

    display: flex;
    margin: var(--margin);
    padding: var(--padding);
    // TODO: fix this
    // border: $logo-card-border;
    cursor: pointer;

    &.disabled {
        cursor: default;

        *:not(.corner-ribbon) {
            /* Disable the filter on Edge since it breaks the flippable animation */
            @supports (-ms-ime-align: auto) {
                filter: none;
            }
        }

        &.ribbon-container .corner-ribbon {
            background-color: var(--medium-grey);
        }
    }
}

.logo-card-logo {
    margin-right: 1.5rem;
}

.logo-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.logo-card-title {
    // TODO: fix this
    // color: $logo-card-title-color;
}

.logo-card-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-card-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
