.logo-card {
    display: flex;
    margin: $logo-card-margin;
    padding: $logo-card-padding;
    border: $logo-card-border;
    cursor: pointer;

    &.disabled {
        cursor: default;
    }
}

.logo-card-logo {
    margin-right: 1.5rem;
}

.logo-card-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.logo-card-title {
    color: $logo-card-title-color;
}

.logo-card-badge {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
