.markdown-documentation {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $medium-blue;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    hr,
    dl,
    dd,
    ol,
    ul,
    figure {
        margin-bottom: $default-line-height;
    }

    .split-layout {
        .column + .column {
            border: none;
        }
    }

    .media-section {
        img {
            width: 100%;
        }
    }

    .feedback-section {
        font-size: $help-text-font-size;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        hr,
        dl,
        dd,
        ol,
        ul,
        figure {
            margin-bottom: 0;
        }
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    p,
    li {
        max-width: $text-max-width;
    }
}
