.member {
  align-items: center;

  display: flex;

  .member-avatar {
    width: 41px;
    height: 41px;

    border: solid 2px $white;
    border-radius: 100%;
  }

  .member-info {
    margin-left: 14px;

    .member-info-name {
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
    }

    .member-info-provider {
      vertical-align: text-bottom;
    }

    .member-info-email {
      margin-top: 2px;

      font-size: 12px;
      font-weight: 300;
      line-height: 15px;
    }
  }
}
