.dropdown.mod-menu {
  .dropdown-toggle {
    height: auto;

    text-transform: none;

    background-color: transparent;
    border: none;

    cursor: pointer;
  }

  .dropdown-menu {
    li {
      > a, > span {
        padding: 8px 38px;
      }

      &.divider {
        margin: 8px 0;
      }
    }
  }
}
