$base-backdrop-z-index: 1049;
$base-modal-z-index: 1050;
$icon-size: (4em / 3);

// This generate classes layer-1, layer-2, ..., layer-10.
@mixin generate-layers($nbr-layers, $base) {
  @for $i from 1 through $nbr-layers {
    &.layer-#{$i} {
      z-index: $base + ($i - 1) * 20;
    }
  }
}


.modal-backdrop, .modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-backdrop {
  z-index: $base-backdrop-z-index;

  background: $medium-blue;

  transition: all 0.3s;

  opacity: 0.9;

  @include generate-layers(10, $base-backdrop-z-index);

  &.prompt-backdrop {
    position: absolute;

    opacity: 0.5;
  }

  &.clear, &.closed {
    opacity: 0;
  }

  &.closed {
    visibility: hidden;
  }
}

.modal-container {
  align-items: center;
  justify-content: center;
  z-index: $base-modal-z-index;

  display: flex;

  visibility: hidden;
  pointer-events: none; // Required to allow clicking through the modal-container on the modal-backdrop. Known issue: wont work on IE 10.

  @include generate-layers(10, $base-modal-z-index);

  &.opening, &.opened {
    visibility: visible;

    > .modal-content {
      opacity: 1;
    }
  }

  .modal-content {
    position: relative;
    flex-direction: column;

    display: flex;
    width: 45%;
    height: 50%;

    opacity: 0;
    pointer-events: auto; // Required to reverse "pointer-events: none" effects on modal-content. Known issue: wont work on IE 10.

    .modal-header {
      align-items: center;

      display: flex;
      height: $modal-header-height;
      padding: 0 $header-padding;

      color: $pure-white;

      background-color: $pure-white;
      border-bottom: $default-border;
      border-radius: $border-radius $border-radius 0 0;

      &.mod-confirmation {
        background-color: $yellow;
      }

      &.mod-warning {
        background-color: $red;
      }

      &.mod-info {
        background-color: $medium-blue;
      }

      h1 {
        flex-grow: 1;

        overflow: hidden;

        color: $medium-blue;
        line-height: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .small-close {
        position: absolute;
        top: -($icon-size + pxtoem(10));
        right: 0;

        cursor: pointer;

        // Make both the icon and his containing span the same size.
        &, & .icon {
          width: $icon-size;
          height: $icon-size;
        }
      }
    }

    .modal-body {
      flex-basis: 0;
      flex-grow: 1;

      overflow: auto;

      background-color: $pure-white;
    }

    .modal-footer {
      align-items: center;
      justify-content: flex-end;

      display: flex;
      padding: $modal-footer-padding;
      overflow: hidden;

      background-color: $white;
      border-top: $default-border;
      border-radius: 0 0 $border-radius $border-radius;
    }
  }

  &.mod-medium > .modal-content {
    width: 65%;
    height: 70%;
  }

  &.mod-big > .modal-content {
    width: 85%;
    height: 90%;
  }

  // need to be after other mod to combine with other below
  &.mod-width-small > .modal-content {
    width: $modal-form-width-small + 2 * $header-padding;
  }

  &.mod-stick-bottom {
    align-items: flex-end;

    > .modal-content {
      height: 55%;

      > .modal-footer {
        border-radius: 0;
      }
    }

    &.mod-medium > .modal-content {
      height: 75%;
    }

    &.mod-big > .modal-content {
      height: 95%;
    }
  }

  &.mod-fade-in-scale > .modal-content {
    transform: scale(0.7);

    transition: all 0.3s;
  }

  &.opened.mod-fade-in-scale > .modal-content {
    transform: scale(1);
  }

  &.mod-slide-in-bottom > .modal-content {
    transform: translate3d(0, 20%, 0);

    transition: all 0.3s;
  }

  &.opened.mod-slide-in-bottom > .modal-content {
    transform: translate3d(0, 0, 0);
  }
}
