.multi-step-bar-container {
  position: relative;
  &.mod-small {
    .multi-step-bar {
      min-height: $multi-step-small-height;
    }
    .multi-step-bar-text {
      padding: $multi-step-bar-mod-small-text-padding;
    }
  }
  &.mod-multi-step-bar-in-progress-sliding-animation {
    .multi-step-bar-doing {
      background-image: repeating-linear-gradient(90deg, transparent, transparent 11px, $multi-step-animation-color 10px, $multi-step-animation-color 25px);
      background-size: $multi-step-sliding-animation-background-width $multi-step-sliding-animation-background-height;
      background-repeat: repeat-x;
      animation: slide-background .4s linear infinite;
      z-index: 1;
    }
  }
  &.mod-multi-step-bar-in-progress-shine-animation {
    .multi-step-bar-doing {
      animation: shine-background 5s linear reverse infinite;
    }
  }
  &.mod-multi-step-bar-flare-animation {
    &:after {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      background-image: linear-gradient(90deg, transparent, transparent 25%, $multi-step-animation-color 49%, $multi-step-animation-color 51%, transparent 75%);
      background-size: 25% 100%;
      background-repeat: no-repeat;
      animation: slide-shine 3s linear infinite;
    }
  }
  &.mod-multi-step-bar-separated {
    .multi-step-bar:not(:last-child) {
      margin-right: $multi-step-bar-separation;
    }
  }
}

.multi-step-bar {
  opacity: 1;
  flex: 1;
  display: flex;
  align-content: center;
  align-items: center;
  min-height: $multi-step-min-height;
}

.multi-step-bar-text {
  flex: 1;
  text-align: center;
  cursor: default;
  padding: $multi-step-bar-text-padding;
}

.multi-step-bar-content-container,
.multi-step-bar-backdrop-container {
  display: flex;
  flex-wrap: wrap;
}

.multi-step-bar-content-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.multi-step-bar-backdrop-container {
  color: transparent;
  pointer-events: none;
  overflow: hidden;
  .multi-step-bar {
    transform: skewX(-20deg);
    &:first-child {
      padding-left: $default-margin;
      margin-left: -$default-margin;
    }
    &:last-child {
      padding-right: $default-margin;
      margin-right: -$default-margin;
    }
  }
  .multi-step-bar-to-do {
    background-color: $multi-step-to-do-color;
  }
  .multi-step-bar-doing {
    background-color: $multi-step-doing-color;
  }
  .multi-step-bar-done {
    background-color: $multi-step-done-color;
  }
  .multi-step-bar-error {
    background-color: $multi-step-error-color;
  }
  .multi-step-bar-warning {
    background-color: $multi-step-warning-color;
  }
}

@keyframes slide-shine {
  0% {
    background-position: -25% 0;
  }
  100% {
    background-position: 125% 0;
  }
}

@keyframes slide-background {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: $multi-step-sliding-animation-background-width 0;
  }
}

@keyframes shine-background {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
