.navigation {
  width: $navigation-width;
  overflow-x: auto;
  overflow-y: overlay;

  background-color: $navigation-background-color;

  user-select: none;

  @include slim-scroll($purple-blue, rgba(255,255,255,0.5));
  &::-webkit-scrollbar, ::-webkit-scrollbar {
    width: $slim-scroll-bar-width + $navigation-border-for-scroll-bar * 2;
    height: $slim-scroll-bar-width + $navigation-border-for-scroll-bar * 2;
  }

  &::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    border: $navigation-border-for-scroll-bar solid $purple-blue;
  }

  *, *:before, *:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  .tooltip {
    &.right {
      .tooltip-arrow {
        border-right-color: $orange;
      }
    }

    .tooltip-inner {
      background-color: $orange;
    }
  }

  .navigation-menu {
    position: relative;

    height: 100%;
    overflow-x: visible;

    color: $white;

    background-color: $navigation-background-color;

    .navigation-menu-sections {
      .navigation-menu-section {
        .navigation-menu-section-header {
          position: relative;
          align-items: center;

          display: flex;
          height: 50px;

          font-size: $default-font-size;
          font-weight: $navigation-menu-header-font-weight;
          text-transform: uppercase;

          border-top: 1px solid $dark-grey;

          cursor: pointer;

          .navigation-menu-section-header-icon {
            width: $navigation-section-icon-size;
            height: $navigation-section-icon-size;
            margin: 0 $navigation-section-icon-margin-right 0 $navigation-section-icon-margin-left;
          }
        }

        .navigation-menu-section-items {
          overflow-x: auto;

          border-top: 1px solid $dark-grey;

          .navigation-menu-section-item {
            font-weight: $navigation-menu-item-font-weight;

            border-left: $navigation-active-border-width solid transparent;

            cursor: pointer;

            .navigation-menu-section-item-link {
              align-items: center;
              justify-content: space-between;

              display: flex;
              height: $navigation-menu-section-height;
              padding-left: $navigation-horizontal-space;
              margin-right: $navigation-right-margin;

              color: $white;
              font-size: $default-font-size;

              &.state-locked {
                color: $navigation-locked-color;
              }
            }

            &.state-locked {
              .icon-folder-locked {
                display: inline-block;

                visibility: visible;
              }
            }

            &.state-closed {
              .icon-folder-closed {
                display: inline-block;

                visibility: visible;
              }
            }

            &.state-opened {
              .icon-folder-opened {
                display: inline-block;

                visibility: visible;
              }
            }

            &.state-active {
              background-color: $navigation-active-background-color;
              border-left-color: $white;
            }

            &:hover {
              background-color: $navigation-active-background-color;
            }
          }
        }
      }
    }
  }
}

.navigation-menu-section-item-link-icon, .navigation-tag {
  float: right;
  margin-left: $default-margin;
}

.navigation-tag {
  display: inline-block;
  padding: $navigation-tag-padding;

  font-size: $navigation-tag-font-size;
  text-transform: uppercase;
  word-break: keep-all;

  border: $default-border;
  border-color: $orange;
  border-radius: $border-radius;
}

.collapsible-arrow {
  position: absolute;
  top: 50%;
  right: $navigation-section-arrow-margin;

  display: block;

  transform: translateY(-50%);
  transform-origin: center center;

  &.open {
    transform: translateY(-50%) rotate(180deg);
  }
}

.navigation {
  margin-left: -$navigation-width;

  transition: transform $navigation-side-nav-toggle-anim-duration ease-in-out;
}

.navigation-opened {
  transform: translateX($navigation-width);

  transition: transform $navigation-side-nav-toggle-anim-duration ease-in-out;
}
