.navigation {
  width: $navigation-width;
  overflow: auto;

  background-color: $navigation-background-color;

  user-select: none;

  @include slim-scroll($purple-blue, $light-grey);

  *, *:before, *:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  .tooltip {
    &.right {
      .tooltip-arrow {
        border-right-color: $orange;
      }
    }

    .tooltip-inner {
      background-color: $orange;
    }
  }

  .navigation-menu {
    position: relative;

    height: 100%;
    overflow: auto;

    color: $white;

    background-color: $navigation-background-color;

    .navigation-menu-sections {
      .navigation-menu-section {
        .navigation-menu-section-header {
          position: relative;
          align-items: center;

          display: flex;
          height: 50px;

          font-size: 13px;
          font-weight: $navigation-menu-header-font-weight;
          text-transform: uppercase;

          border-top: 1px solid $dark-grey;

          cursor: pointer;

          .navigation-menu-section-header-icon {
            margin: 0 $navigation-section-icon-margin;
          }
        }

        .navigation-menu-section-items {
          border-top: 1px solid $dark-grey;

          .navigation-menu-section-item {
            font-weight: $navigation-menu-item-font-weight;

            border-left: $navigation-active-border-width solid transparent;

            cursor: pointer;

            .navigation-menu-section-item-link {
              align-items: center;
              justify-content: space-between;

              display: flex;
              height: $navigation-menu-section-height;
              padding-left: $navigation-horizontal-space;
              margin-right: $navigation-horizontal-space;

              color: $white;

              &.state-locked {
                color: $navigation-locked-color;
              }
            }

            &.state-locked {
              .icon-folder-locked {
                display: inline-block;

                visibility: visible;
              }
            }

            &.state-closed {
              .icon-folder-closed {
                display: inline-block;

                visibility: visible;
              }
            }

            &.state-opened {
              .icon-folder-opened {
                display: inline-block;

                visibility: visible;
              }
            }

            &.state-active {
              background-color: $navigation-active-background-color;
              border-left-color: $white;
            }

            &:hover {
              background-color: $navigation-active-background-color;
            }
          }
        }
      }
    }
  }
}

.navigation-tag {
  display: inline-block;
  padding: $navigation-tag-padding;

  font-size: $navigation-tag-font-size;
  text-transform: uppercase;

  border: $default-border;
  border-color: $orange;
  border-radius: $border-radius;
}

.collapsible-arrow {
  position: absolute;
  top: 50%;
  right: $navigation-section-icon-margin;

  display: block;

  transform: translateY(-50%);
  transform-origin: center center;

  &.open {
    transform: translateY(-50%) rotate(180deg);
  }
}
