.navigation {
  width: $navigation-width;
  overflow: auto;

  background-color: $navigation-background-color;

  user-select: none;

  @include slim-scroll($dark-grey, $medium-grey);

  *, *:before, *:after {
    -webkit-font-smoothing: subpixel-antialiased;
  }

  .navigation-menu {
    position: relative;

    height: 100%;
    overflow: auto;

    color: $white;

    background-color: $navigation-background-color;

    .navigation-menu-sections {
      .navigation-menu-section {
        .navigation-menu-section-header {
          align-items: center;

          display: flex;
          height: 50px;

          font-size: 13px;
          font-weight: 700;
          text-transform: uppercase;

          background-color: $medium-blue;

          .navigation-menu-section-header-icon {
            margin: 0 $navigation-section-icon-margin;
          }
        }

        .navigation-menu-section-items {
          .navigation-menu-section-item {
            font-weight: 400;

            border-left: $navigation-active-border-width solid transparent;

            cursor: pointer;

            .navigation-menu-section-item-link {
              align-items: center;

              display: flex;
              height: 30px;
              padding-left: 2 * $navigation-section-icon-margin + $navigation-section-icon-size - $navigation-active-border-width;

              color: $white;

              .navigation-menu-section-item-link-icon {
                margin-right: 10px;
              }
            }

            &.state-locked {
              .navigation-menu-section-item-link {
                color: $navigation-locked-color;
              }

              .icon-folder-locked {
                display: inline-block;

                visibility: visible;
              }
            }

            &.state-closed {
              .icon-folder-closed {
                display: inline-block;

                visibility: visible;
              }
            }

            &.state-opened {
              .icon-folder-opened {
                display: inline-block;

                visibility: visible;
              }
            }

            &.state-active {
              background-color: $navigation-active-background-color;
              border-left-color: $white;
            }

            &:hover {
              background-color: $navigation-active-background-color;
            }
          }
        }
      }
    }
  }
}
