.panel-header {
  min-height: $panel-header-height;
  padding: $header-padding-y $header-padding;

  &:not(.mod-no-border-bottom) {
    border-bottom: $default-border;
  }

  .action-bar {
    flex-flow: row nowrap;

    display: flex;
  }

  .admin-description {
    margin-top: $description-margin-top;
  }

  .action {
    display: inline-block;
    height: $button-height;
    padding: 4px 5px;
    margin-left: 5px;

    vertical-align: bottom;

    background-color: $pure-white;
    border: 1px solid $medium-grey;
    border-radius: 2px;

    cursor: pointer;

    svg {
      fill: $medium-blue;
    }

    &.open, &:focus, &:active {
      background-color: $light-grey;
    }

    span {
      display: inline-block;

      vertical-align: middle;

      &.state-disabled {
        color: $medium-grey;

        cursor: default;
      }
    }

    .action-label {
      display: none;
    }

    &.dropdown .dropdown-toggle {
      padding: 0;
    }
  }
}
