.panel-header {
  min-height: 90px;
  padding: $header-padding-y $header-padding;

  border-bottom: solid 1px $medium-grey;

  .action-bar {
    flex-flow: row nowrap;

    display: flex;
  }

  .admin-description {
    margin-top: $description-margin-top;
  }

  .action {
    display: inline-block;
    height: $button-height;
    padding: 4px 5px;
    margin-left: 5px;

    vertical-align: bottom;

    background-color: $pure-white;
    border: 1px solid $medium-grey;
    border-radius: 2px;

    cursor: pointer;

    svg {
      fill: $medium-blue;
    }

    &.open, &:focus, &:active {
      background-color: $light-grey;
    }

    span {
      display: inline-block;

      vertical-align: middle;
    }

    .action-label {
      display: none;
    }

    &.dropdown .dropdown-toggle {
      padding: 0;
    }
  }
}
