.panel-header,
.modal-header {
    min-height: $panel-header-height;
    padding: $header-padding-y $header-padding;

    &:not(.mod-no-border-bottom) {
        border-bottom: $default-border;
    }

    .action-bar {
        flex-flow: row nowrap;

        display: flex;
    }

    .admin-description {
        margin-top: $description-margin-top;
    }

    .action {
        display: inline-block;
        height: $button-height;
        padding: 0;

        vertical-align: bottom;

        background-color: $pure-white;
        border: 1px solid $medium-grey;
        border-radius: 2px;

        cursor: pointer;

        &.open,
        &:focus,
        &:active {
            background-color: $light-grey;
        }

        span {
            vertical-align: middle;

            &.state-disabled {
                color: $medium-grey;

                cursor: default;
            }
        }

        .action-label {
            display: none;
        }

        &.mod-link,
        .trigger,
        &.dropdown .dropdown-toggle {
            padding: $panel-header-action-padding-vertical $panel-header-action-padding-horizontal;
        }
    }
}
