$prompt-message-line-height: 20px;

.modal-container {
    &.mod-prompt {
        .modal-content {
            min-width: $modal-prompt-min-width;
            max-width: $modal-prompt-max-width;
            height: auto; // Required or modal-content height is always equal to $modal-prompt-max-height.
            min-height: $modal-prompt-min-height;
            max-height: $modal-prompt-max-height;

            .modal-header {
                height: $modal-prompt-header-height;
                padding: $header-height-padding $modal-prompt-horizontal-padding;

                .small-close {
                    width: $modal-prompt-close-icon-size;
                    height: $modal-prompt-close-icon-size;
                }

                h1 {
                    color: $pure-white;
                    white-space: inherit;
                }
            }

            .modal-body {
                // Reset flex-basis and flex-grow values so autosize based on content can work.
                flex-basis: inherit;
                flex-grow: initial;

                min-height: $modal-prompt-body-min-height-ie;
                min-height: $modal-prompt-body-min-height;

                &.mod-header-padding {
                    padding-right: $modal-prompt-horizontal-padding;
                    padding-left: $modal-prompt-horizontal-padding;
                }

                .prompt-message {
                    padding-top: $modal-prompt-text-padding-y;
                    line-height: $prompt-message-line-height;
                }

                .pompt-message {
                    // Deprecated use .prompt-message instead
                    @extend .prompt-message;
                }
            }

            .modal-footer {
                height: $modal-prompt-footer-height;
                padding: $header-height-padding $modal-prompt-horizontal-padding;
                background-color: $pure-white;
                border-top: 0;
            }
        }
    }

    &.mod-medium {
        .modal-content {
            max-height: initial;

            .modal-body {
                min-height: initial;
                max-height: initial;
            }
        }
    }
}
