.modal-container {
  &.mod-prompt {
    .modal-content {
      max-width: $modal-prompt-max-width;
      max-height: $modal-prompt-max-height;
      min-width: $modal-prompt-min-width;
      min-height: $modal-prompt-min-height;

      .modal-header {
        height: $modal-prompt-header-height;
        padding: $header-height-padding $modal-prompt-horizontal-padding;

        .small-close {
          width: $modal-prompt-close-icon-size;
          height: $modal-prompt-close-icon-size;
        }
      }

      .modal-body {
        max-height: $modal-prompt-body-max-height;
        min-height: $modal-prompt-body-min-height;

        &.mod-header-padding {
          padding-right: $modal-prompt-horizontal-padding;
          padding-left: $modal-prompt-horizontal-padding;
        }

        .pompt-message {
          padding-top: $modal-prompt-text-padding-y;

          line-height: 20px;
        }
      }

      .modal-footer {
        // calculate the button height + 2 border top and bottom and the space below the button for the max height
        height: calc(2 * 24px +  #{$button-height} + 2 * #{$button-border-width});
        padding: $header-height-padding $modal-prompt-horizontal-padding;

        background-color: $pure-white;
        border-top: 0;
      }
    }
  }

  &.mod-medium {
    .modal-content {
      max-height: initial;

      .modal-body {
        max-height: initial;
        min-height: initial;
      }
    }
  }
}
