.selected-option {
  flex: 0 1 auto;

  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 100%;
  min-height: $dropdown-multiselect-option-height;
  max-width: 100%;

  margin: $drowdown-multiselect-margin;
  color: $medium-blue;
  font-size: $button-small-font-size;
  line-height: $dropdown-multiselect-option-height;

  border: $default-border;
  border-radius: $border-radius;

  background-color: $light-grey;

  cursor: default;
}

.selected-option-item {
  flex: 0 1 auto;
  align-self: center;
}

.selected-option-value {
  @extend .selected-option-item;
  margin-left: $drowdown-multiselect-items-margin;
  text-overflow: ellipsis;
  overflow: hidden;
}

.remove-option{
  @extend .selected-option-item;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: $dropdown-multiselect-option-height;
  margin-left: $drowdown-multiselect-items-margin;
  border-left: $default-border;
  transition: $button-color-transition;
}

.remove-option:hover {
  background-color: darken($light-grey, 5%);
  cursor: pointer;
}

.remove-option:active {
  background-color: darken($light-grey, 10%);
}
