.selected-option {
  position: relative;
  align-items: center;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  display: inline-flex;
  height: 100%;
  max-width: 100%;
  min-height: $dropdown-multiselect-option-height;
  margin: $drowdown-multiselect-margin;

  color: $medium-blue;
  font-size: $button-small-font-size;
  line-height: $dropdown-multiselect-option-height;

  background-color: $pure-white;
  border: $default-border;
  border-radius: $border-radius;

  cursor: default;
}

.selected-option-item {
  align-self: center;
  flex: 0 1 auto;
}

.selected-option-value {
  margin-left: $drowdown-multiselect-items-margin;
  overflow: hidden;

  text-overflow: ellipsis;

  @extend .selected-option-item;
}

.remove-option {
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  display: flex;
  height: 100%;
  min-width: $dropdown-multiselect-option-height;
  margin-left: $drowdown-multiselect-items-margin;

  border-left: $default-border;

  transition: $button-color-transition;

  @extend .selected-option-item;
}

.remove-option:hover {
  background-color: darken($light-grey, 5%);

  cursor: pointer;
}

.remove-option:active {
  background-color: darken($light-grey, 10%);
}
