.sub-navigation {
    min-width: $sub-navigation-min-width;
    overflow: auto;
    background-color: $white;
    border-right: $sub-navigation-min-width;

    @include slim-scroll($medium-grey, $dark-grey);

    .sub-navigation-items {
        padding-top: $sub-navigation-padding-top;

        .sub-navigation-item {
            position: relative;

            .sub-navigation-item-link {
                display: block;
                padding: $sub-navigation-item-padding;
                color: $medium-blue;
                line-height: $sub-navigation-line-height;
            }

            &.mod-selected {
                background-color: $light-grey;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: block;
                    width: $sub-navigation-selected-border-width;
                    height: 100%;
                    background-color: $orange;
                    content: '';
                }
            }
        }
    }
}
