.sync-feedback {
    display: flex;
    align-items: center;

    &.mod-error {
        color: var(--red);

        .sync-feedback-icon svg {
            fill: var(--red);
        }
    }

    &.mod-success .sync-feedback-icon svg {
        fill: var(--status-green);
    }

    .sync-feedback-icon {
        margin-right: 3px;
        line-height: 0;
        vertical-align: middle;
    }

    .status-dot {
        display: inline-block;
        width: 13px;
        height: 13px;
        vertical-align: -2px;
        border-radius: 50%;

        &.syncing {
            background-color: var(--deprecated-dark-grey);
            animation: scaleout 1s infinite ease-in-out;
        }
    }
}
