.sync-feedback {
    align-items: center;

    display: flex;

    &.mod-error {
        color: $red;

        .sync-feedback-icon svg {
            fill: $red;
        }
    }

    &.mod-success .sync-feedback-icon svg {
        fill: $green;
    }

    .sync-feedback-icon {
        margin-right: 3px;

        line-height: 0;
        vertical-align: middle;
    }

    .status-dot {
        display: inline-block;
        width: 13px;
        height: 13px;

        vertical-align: -2px;

        border-radius: 50%;

        &.syncing {
            background-color: $dark-grey;

            animation: scaleout 1s infinite ease-in-out;
        }
    }
}
