.tab-navigation {
    --color: var(--title-text-color);

    min-height: $tab-navigation-min-height;
    padding: 0 $header-padding;
    border-bottom: $default-border;

    .tab {
        position: relative;
        bottom: -1px;
        display: inline-block;
        margin-right: $tab-margin-right;
        padding: $tab-padding;
        color: var(--color);
        font-weight: var(--main-font-bolder);
        font-size: $tab-font-size;
        line-height: 16px;
        letter-spacing: 0.3px;
        text-transform: none;
        border-bottom: $tab-bottom-border-height solid transparent;

        cursor: pointer;
        transition: all 0.2s ease;

        &.active {
            border-bottom: $tab-bottom-border-height solid var(--digital-blue-60);
        }

        &.disabled {
            --color: var(--medium-grey);

            cursor: not-allowed;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &.sub-tabs {
        .tab {
            font-weight: var(--main-font-regular);
            font-size: $sub-tab-font-size;
            border-bottom-width: 2px;
        }
    }
}

.tab-pane {
    display: none;
    visibility: hidden;

    &.active {
        display: block;
        visibility: visible;

        @extend .slideInLeft;
    }

    .loading,
    & > .spinner {
        margin-top: $tab-pane-loading-margin-top;
    }
}
