.tab-navigation {
    --color: var(--title-text-color);
    --activeTabColor: var(--digital-blue-60);

    min-height: $tab-navigation-min-height;
    padding: 0 $header-padding;
    border-bottom: $default-border;

    .tab {
        position: relative;
        bottom: 0px;
        display: inline-block;
        height: 44px;
        // padding: $tab-padding;
        color: var(--color);
        font-weight: var(--main-font-bold);
        font-size: $tab-font-size;
        line-height: 16px;
        letter-spacing: 0.3px;
        text-transform: none;
        cursor: pointer;
        transition: all 0.2s ease;

        &.active {
            z-index: 1;
            font-weight: var(--main-font-bolder);
        }

        &:disabled {
            --color: var(--deprecated-medium-grey);
            pointer-events: none;
        }

        &:focus-visible {
            @include focus-outline();
        }
    }

    .tab-bottom {
        border: solid transparent;
        border-radius: $tab-bottom-border-height;

        &.active {
            border: solid var(--activeTabColor);
        }
    }

    & > * {
        margin-right: $tab-margin-right;

        &:last-child {
            margin-right: 0;
        }
    }

    &.sub-tabs {
        .tab {
            font-weight: var(--main-font-regular);
            font-size: $sub-tab-font-size;
            border-bottom-width: 2px;
        }
    }
}

.tab-pane {
    display: none;
    visibility: hidden;

    &.active {
        display: block;
        visibility: visible;

        @extend .slideInLeft;
    }

    .loading,
    & > .spinner {
        margin-top: $tab-pane-loading-margin-top;
    }
}
