.table-predicate-filters + .table-predicate-filters {
    padding-left: 0;
    border-left: none;
}

.table-row-number {
    :global(.coveo-styleguide .table.table-numbered) {
        tr:global(.selected) td {
            &:first-child::before {
                display: none;
            }

            &:nth-child(2)::before {
                @extend %selection-indicator;
            }
        }
    }

    :global(.coveo-styleguide .table) .table-numbered-row:first-child {
        width: 60px;
        padding: 0;
    }

    :global(.coveo-styleguide .table) .table-numbered-row-container {
        width: 60px;
        padding: $default-margin;
        color: var(--medium-blue);
        text-align: center;
        border-left: none;
    }
}
