$toast-z-index: 9999;
$toast-margin: 20px;
$toast-margin-top: $header-height;
$toast-padding: 20px;
$toast-text-color: var(--white);
$toast-text-font-size: 14px;
$toast-title-font-weight: 500;
$toast-description-margin-top: 15px;
$toast-close-size: 16px;

.toast-container {
    position: fixed;
    top: $toast-margin-top;
    right: 0;
    left: 0;
    z-index: $toast-z-index;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;

    box-sizing: border-box;
    pointer-events: none;

    &.mod-bottom {
        top: inherit;
        bottom: $toast-margin;
        flex-flow: column;

        .toast.mod-animated {
            animation-name: toastFadeInBottom;
        }
    }

    &.mod-left {
        right: inherit;
        left: $toast-margin;
        align-items: flex-start;
    }

    &.mod-right {
        right: $toast-margin;
        left: inherit;
        align-items: flex-end;
    }

    .toast {
        // Default Style
        display: block;
        min-width: var(--min-width);
        padding: $toast-padding;

        // override
        background-color: var(--background-color);
        border-radius: 8px;
        box-shadow: 0px 14px 26px rgba(142, 142, 142, 0.16);
        pointer-events: all;

        // variables
        --background-color: var(--success-60);
        --min-width: 280px;

        &.mod-success {
            --background-color: var(--success-60);
        }

        &.mod-warning {
            --background-color: var(--warning-70);
        }

        &.mod-error {
            --background-color: var(--critical-70);
        }

        &.mod-info {
            --background-color: #525296; //get var pls arie
        }

        &.mod-small {
            --min-width: none;
            // margin-top: $toast-margin;
            margin: 10px 0px;
        }

        &.mod-hidden {
            display: none;
        }

        &.mod-animated {
            opacity: 0;
            animation-name: toastFadeInTop;
            animation-duration: 0.3s;
            animation-timing-function: ease-in;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    .toast-title {
        color: $toast-text-color;
        font-weight: $toast-title-font-weight;
        font-size: $toast-text-font-size;
        line-height: 20px;
        text-align: center;
    }

    .toast-description {
        margin-top: $toast-description-margin-top;
        color: $toast-text-color;
        font-size: $toast-text-font-size;
    }

    &:not(.mod-small) {
        .toast-close {
            float: right;
            padding-left: $toast-close-padding-left;
            cursor: pointer;
            fill: $toast-text-color;

            svg {
                width: $toast-close-size;
                height: $toast-close-size;
            }
        }
    }

    .toast.toast-download {
        min-width: 300px;
        padding: 0;
        background: $blue-purple-3;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba($black, $transparency-4);

        .toast-title,
        .toast-close {
            padding: $toast-padding;
        }

        .toast-description {
            margin-top: 0;
            padding: $toast-padding;
            color: var(--title-text-color);
            font-size: var(--default-font-size);
            background: var(--grey-1);
            border-bottom-right-radius: inherit;
            border-bottom-left-radius: inherit;
            box-shadow: inset 0px 5px 6px -5px var(--grey-100);

            .spinner-container {
                width: 16px;

                .search-bar-spinner {
                    left: 7px; // for pixel perfect alignment
                }
            }
        }
    }
}

@keyframes toastFadeInTop {
    from {
        transform: translate(0, -100%);

        opacity: 0;
    }
    to {
        transform: translate(0, 0);

        opacity: 1;
    }
}

@keyframes toastFadeInBottom {
    from {
        transform: translate(0, 100%);

        opacity: 0;
    }
    to {
        transform: translate(0, 0);

        opacity: 1;
    }
}
