.tooltip {
    position: absolute;
    z-index: $tooltip-z-index;
    display: block;
    font-size: 13px;
    line-height: 1.4;
    text-transform: none;
    visibility: visible;

    opacity: 0;

    &.in {
        opacity: 1;
    }

    &.top {
        margin-top: -3px;
        padding: 5px 0;

        .tooltip-arrow {
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            border-width: 5px 5px 0;

            border-top-color: var(--digital-blue-100);
        }
    }

    &.right {
        margin-left: 3px;
        padding: 0 5px;

        .tooltip-arrow {
            top: 50%;
            left: 0;
            margin-top: -5px;
            border-width: 5px 5px 5px 0;

            border-right-color: var(--digital-blue-100);
        }
    }

    &.bottom {
        margin-top: 3px;
        padding: 5px 0;

        .tooltip-arrow {
            top: 0;
            left: 50%;
            margin-left: -5px;
            border-width: 0 5px 5px;

            border-bottom-color: var(--digital-blue-100);
        }
    }

    &.left {
        margin-left: -3px;
        padding: 0 5px;

        .tooltip-arrow {
            top: 50%;
            right: 0;
            margin-top: -5px;
            border-width: 5px 0 5px 5px;

            border-left-color: var(--digital-blue-100);
        }
    }

    &.state-error {
        .tooltip-inner {
            background-color: var(--critical-70);
        }

        &.left .tooltip-arrow {
            border-left-color: var(--critical-70);
        }

        &.bottom .tooltip-arrow {
            border-bottom-color: var(--critical-70);
        }

        &.top .tooltip-arrow {
            border-top-color: var(--critical-70);
        }

        &.right .tooltip-arrow {
            border-right-color: var(--critical-70);
        }
    }

    .tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    .tooltip-inner {
        max-width: 300px;
        padding: 5px 10px;
        color: var(--white);
        white-space: normal;
        text-decoration: none;
        word-wrap: break-word;
        background-color: var(--digital-blue-100);
        border-radius: 2px;
    }
}

.tooltip-footer {
    margin-top: $tooltip-spacing;
}

// ChartTooltipContent

$chart-tooltip-content-size: 3px;

.chart-tooltip-content {
    font-size: $small-font-size;
    background-color: var(--white);
    border: $default-border;
    box-shadow: 0 0 $chart-tooltip-content-size 0 rgba(var(--black-rgb), $transparency-4);
}

.chart-tooltip-color {
    width: $chart-tooltip-content-size;
    height: 18px;
}

.chart-tooltip-label {
    padding-top: $chart-tooltip-content-size;
    padding-bottom: $chart-tooltip-content-size;
}
