.wizard-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: $wizard-card-width;
    background-color: $white;
    border: 1px solid $medium-grey;
    border-radius: $border-radius;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);

    .wizard-card-body {
        margin-bottom: auto;

        .coveo-form {
            padding-top: $wizard-card-form-padding;
            padding-right: $wizard-card-form-padding;
            padding-left: $wizard-card-form-padding;
        }
    }

    .wizard-card-footer {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        justify-content: flex-end;
        width: 100%;
        margin-top: auto;
        padding: $wizard-card-footer-padding;

        .btn {
            width: auto;
            margin: 0;
        }
    }

    &.mod-small {
        width: $wizard-card-small-width;
    }

    &.mod-large {
        width: $wizard-card-large-width;
    }
}
