// DEPRECATED, you should use flex utility classes
.coveo-flex-form {
    display: flex;
    flex-flow: row wrap;
    margin-top: -1 * $form-elements-margin;
    margin-left: -1 * $form-elements-margin;

    .coveo-slide-toggle-label.boxed {
        flex: auto;

        width: 0;
        margin-top: $form-elements-margin;
        margin-left: $form-elements-margin;

        &:empty {
            height: 0;
            margin-top: 0;
            padding: 0;
            border: 0;
        }
    }
}
