@import '~coveo-styleguide/scss/common/palette.scss';
@import '~coveo-styleguide/scss/variables.scss';

.diffViewer {
    :global(.d2h-file-wrapper) {
        border: none;
    }

    :global(.d2h-file-diff) {
        overflow: initial;
    }

    :global(.d2h-file-header) {
        display: none;
    }

    :global(.d2h-code-wrapper) {
        position: relative;
    }

    :global(.d2h-diff-table) {
        font-size: $code-font-size;
        font-family: $code-font-family;
        border-bottom: $default-border;
    }

    :global(.d2h-code-linenumber) {
        top: -#{$diff-line-ajustment};
        width: auto;
        height: calc(#{$diff-line-height} + #{$diff-line-ajustment});
        margin-top: $diff-line-ajustment;
        color: $dark-grey;
        background: $white;
        border: none;
        border-left: $default-border;
        cursor: initial;

        &:global(.d2h-change) {
            background: $white;
        }
    }

    :global(.line-num1),
    :global(.line-num2) {
        width: $diff-line-number-width;
    }

    :global(tr:last-child) :global(.d2h-code-linenumber) {
        height: calc(#{$diff-line-height} - #{$diff-line-ajustment});
    }

    :global(tr) {
        position: relative;
        display: block;
    }

    :global(td) {
        border-right: $default-border;
    }

    :global(td:last-child) {
        display: block;
    }

    :global(td.d2h-info) {
        height: auto;
        line-height: normal;
        background: none;
        border: $default-border;
        border-right: none;
        border-left: none;

        &:global(.d2h-code-linenumber) {
            top: 0;
            width: calc(#{$diff-line-number-width} * 2 + #{$diff-line-number-width});
            height: $diff-line-ajustment * 2;
            margin-top: 0;
            background: $pure-white;
            border-right: none;
            border-bottom: none;
            border-left: none;
        }
    }

    :global(tr:first-child) :global(td.d2h-info) {
        border-top: none;
    }

    :global(.d2h-code-line) {
        margin-left: $diff-line-number-width * 2;

        &:global(.d2h-info) {
            position: relative;
            width: 100%;
            margin-bottom: $diff-separator-margin;
            margin-left: 0;
            color: $pure-white;
            font-size: 0;
            background: $pure-white;
            border-bottom: 2px solid $medium-grey;

            &:before {
                position: absolute;
                top: 50%;
                left: 0;
                padding-bottom: $diff-separator-padding;
                color: $dark-medium-grey;
                font-size: $diff-separator-font-size;
                line-height: $diff-separator-line-height;
                background: white;
                border: $default-border-size solid $white;
                border-radius: $border-radius;
                transform: translateY(-50%);
                content: '...';
                content: '...';
            }
        }
    }

    :global(.d2h-ins):not(:global(.d2h-code-linenumber)) {
        background: $soft-green;
    }

    :global(.d2h-code-line),
    :global(.d2h-code-side-line) {
        :global(ins) {
            background: $soft-green;
        }
    }

    :global(.d2h-del):not(:global(.d2h-code-linenumber)) {
        background: $soft-red;
    }
}
