name: CD

on: workflow_dispatch

concurrency:
    group: ${{ github.ref_name }}
    cancel-in-progress: true

jobs:
    cd:
        name: Continuous Delivery
        if: github.ref_name == 'master' || github.ref_name == 'next' || github.ref_name == 'v53'
        runs-on: ubuntu-latest
        environment: production
        permissions:
            pull-requests: write
            id-token: write
            actions: read
            contents: write
            security-events: write
            statuses: write
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
              with:
                  egress-policy: audit

            - name: Checkout
              uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4
              with:
                  fetch-depth: 0
            - name: Setup
              uses: ./.github/actions/setup
            - name: Lint
              uses: ./.github/actions/lint
              with:
                  WORKFLOW: 'cd'
            - name: Build
              uses: ./.github/actions/build
            - name: Test
              uses: ./.github/actions/test
            - name: Publish
              uses: ./.github/actions/publish
              env:
                  DEBUG: '*'
                  DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
            - name: Deploy
              uses: ./.github/actions/deploy
              with:
                  AWS_ROLE: ${{ secrets.AWS_ROLE }}
                  AWS_REGION: ${{ secrets.AWS_REGION }}
                  AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
