name: CD

on: workflow_dispatch

concurrency:
    group: ${{ github.ref_name }}
    cancel-in-progress: true

env:
    TURBO_TOKEN: '${{ secrets.TURBO_TOKEN }}'

jobs:
    cd:
        name: Continuous Delivery
        if: github.ref_name == 'master' || github.ref_name == 'next'
        runs-on: ubuntu-latest
        environment: production
        permissions:
            pull-requests: write
            id-token: write
            actions: read
            contents: write
            security-events: write
            statuses: write
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@c6295a65d1254861815972266d5933fd6e532bdf # v2.11.1
              with:
                  egress-policy: audit

            - name: Checkout
              uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
              with:
                  fetch-depth: 0
            - name: Setup
              uses: ./.github/actions/setup
            - name: Lint
              uses: ./.github/actions/lint
              with:
                  WORKFLOW: 'cd'
            - name: Build
              uses: ./.github/actions/build
            - name: Test
              uses: ./.github/actions/test
            - name: Publish
              uses: ./.github/actions/publish
              env:
                  DEBUG: '*'
                  DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
            - name: Deploy
              uses: ./.github/actions/deploy
              # Demo for next branch is deployed by the CI workflow
              if: github.ref != 'refs/heads/next'
              with:
                  AWS_ROLE: ${{ secrets.AWS_ROLE }}
                  AWS_REGION: ${{ secrets.AWS_REGION }}
                  AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
