name: CD

on: workflow_dispatch

concurrency:
    group: ${{ github.ref_name }}
    cancel-in-progress: true

env:
    TURBO_TOKEN: '${{ secrets.TURBO_TOKEN }}'

permissions:
    pull-requests: write
    id-token: write
    actions: read
    contents: write
    security-events: write
    statuses: write

jobs:
    cd:
        name: Continuous Delivery
        if: github.ref_name == 'master' || github.ref_name == 'next'
        runs-on: ubuntu-latest
        environment: production
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                  egress-policy: audit

            - name: Checkout
              uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
              with:
                  fetch-depth: 0
            - name: Setup
              uses: ./.github/actions/setup
            - name: Lint
              uses: ./.github/actions/lint
              with:
                  WORKFLOW: 'cd'
            - name: Build
              uses: ./.github/actions/build
            - name: Test
              uses: ./.github/actions/test
            - name: Publish
              uses: ./.github/actions/publish
              env:
                  DEBUG: '*'
                  DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
            - name: Deploy
              uses: ./.github/actions/deploy
              # Demo for next branch is deployed by the CI workflow
              if: github.ref != 'refs/heads/next'
              with:
                  AWS_ROLE: ${{ secrets.AWS_ROLE }}
                  AWS_REGION: ${{ secrets.AWS_REGION }}
                  AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
            - name: Build Storybook
              uses: ./.github/actions/storybook
              # Only build Storybook for master branch
              if: github.ref == 'refs/heads/master'
            - name: Deploy Storybook
              # Only deploy Storybook for master branch
              if: github.ref == 'refs/heads/master'
              run: bash ./.github/actions/storybook/deploy-storybook.sh ${{ github.ref_name }} ${{ secrets.AWS_BUCKET }}
