name: CI

on:
    pull_request:
        types: [opened, reopened, synchronize]

env:
    TURBO_TOKEN: '${{ secrets.TURBO_TOKEN }}'

jobs:
    lint:
        name: Lint Changed Files
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
              with:
                  egress-policy: audit

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
              with:
                  fetch-depth: 0
            - uses: ./.github/actions/setup
            - uses: ./.github/actions/lint
              with:
                  WORKFLOW: 'ci'
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
              with:
                  egress-policy: audit

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - uses: ./.github/actions/setup
            - uses: ./.github/actions/test
    demo:
        name: Build & Deploy Demo
        runs-on: ubuntu-latest
        permissions:
            pull-requests: write
            id-token: write
            contents: read
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
              with:
                  egress-policy: audit

            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - uses: ./.github/actions/setup
            - uses: ./.github/actions/build
            - uses: ./.github/actions/deploy
              id: deploy-demo
              with:
                  AWS_ROLE: ${{ secrets.AWS_ROLE }}
                  AWS_REGION: ${{ secrets.AWS_REGION }}
                  AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
            - name: Add demo link as a comment on the PR
              uses: ./.github/actions/comment-on-pr
              with:
                  message: ':heavy_check_mark: [Live demo of your latest successful build available here](https://plasma.coveo.com/feature/${{ steps.deploy-demo.outputs.demo-output-path }}/).'
                  avoidRepostsWith: Live demo of your latest successful build available here
            - uses: ./.github/actions/storybook
            - name: Push storybook code to s3 demo folder
              id: deploy-storybook
              run: bash ./.github/actions/storybook/deploy-storybook.sh ${{ github.head_ref || github.ref_name }} ${{ secrets.AWS_BUCKET }}
            - name: Add Storybook demo link as a comment on the PR
              uses: ./.github/actions/comment-on-pr
              with:
                  message: ':heavy_check_mark: [Live Storybook demo of your latest successful build available here](https://plasma.coveo.com/feature/${{ steps.deploy-demo.outputs.demo-output-path }}/storybook/index.html).'
                  avoidRepostsWith: Live Storybook demo of your latest successful build available here
