name: Clean Demo
on:
    pull_request:
        types: [closed]
jobs:
    clean-demo:
        name: Clean PR demo
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3
            - uses: ./.github/actions/cleanup-demo
              with:
                  AWS_ROLE: ${{ secrets.AWS_ROLE }}
                  AWS_REGION: ${{ secrets.AWS_REGION }}
                  AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
