name: Clean Demo
on:
    pull_request:
        types: [closed]
permissions:
    contents: read

jobs:
    clean-demo:
        name: Clean PR demo
        runs-on: ubuntu-latest
        permissions:
            id-token: write
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                  egress-policy: audit

            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - uses: ./.github/actions/cleanup-demo
              with:
                  AWS_ROLE: ${{ secrets.AWS_ROLE }}
                  AWS_REGION: ${{ secrets.AWS_REGION }}
                  AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
