name: Clean Demo
on:
    pull_request:
        types: [closed]
permissions:
  contents: read

jobs:
    clean-demo:
        name: Clean PR demo
        runs-on: ubuntu-latest
        permissions:
            id-token: write
        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
              with:
                  egress-policy: audit

            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
            - uses: ./.github/actions/cleanup-demo
              with:
                  AWS_ROLE: ${{ secrets.AWS_ROLE }}
                  AWS_REGION: ${{ secrets.AWS_REGION }}
                  AWS_BUCKET: ${{ secrets.AWS_BUCKET }}
