on:
    push:
        paths:
            - src/components/**/*.figma.tsx
        branches:
            - master

jobs:
    code-connect-publish:
        name: Code Connect Publish
        runs-on: ubuntu-latest
        steps:
            - run: npx figma connect publish
              env:
                  FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_TOKEN }}
