name: Publish Figma Components
on:
    push:
        paths:
            - '**/*.figma.tsx'
        branches:
            - master

permissions:
  contents: read

jobs:
    code-connect-publish:
        name: Code Connect Publish
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
            - uses: ./.github/actions/setup
            - name: Harden Runner
              uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
              with:
                  egress-policy: audit
            - name: Publish changes to Figma
              run: pnpm figma:publish
              working-directory: packages/figma
              env:
                  FIGMA_ACCESS_TOKEN: ${{ secrets.FIGMA_TOKEN }}
