// Checkboxes
//
// Custom checkboxes. Compatible IE9+.
//
// :checked         - Checkbox is checked
// :indeterminate   - Checkbox state is indeterminate
// :disabled        - Checkbox is not clickable/modifiable
//
// Markup:
// <label class="coveo-checkbox-label">
//   <input type="checkbox" class="coveo-checkbox {$modifiers}">
//   <button></button>
// </label>
//
// Styleguide 5.3
@import (reference) "../common/colors";
@import (reference) "../common/font";
@import (reference) "../common/vendor-prefixes";
@import (reference) "../sprites";
@import (reference) "../lib/_mixins";

input[type=checkbox].coveo-checkbox {
    display: none;

    & + button {
        outline: none;
    }

    & + span, & + button {
        background: @body-background-color none 0 0;
        border: 1px solid rgba(176, 179, 174, 0.3);
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        height: 16px;
        width: 16px;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: text-bottom;

        &:hover {
            background-color: #ffffff;
            box-shadow: 0 0 1px rgb(244,127,37);
        }
    }

    & + span:after, & + button:after {
        content: "\00a0";
        padding-left: 10px;
    }

    &:checked + span:after, &:checked + button:after {
        .coveo-sprites-misc-check;
    }

    &:indeterminate + span:after, &:indeterminate + button:after {
        .coveo-sprites-misc-partialcheck;
        padding-left: 0;
    }

    &:disabled + span, &:disabled + button {
        background-color: @input-disabled-background;
        cursor: not-allowed;

        &:after {
            opacity: 0.3;
        }
    }
}

label.coveo-checkbox-label {
    margin: 0;
    display: inline-block;

    &.admin-text-inline {
        input[type=checkbox].coveo-checkbox {
            & + span, & + button {
                margin-top: 0;
            }
        }
    }

    span {
        vertical-align: middle;
    }

    &.disabled {
        opacity: 0.4;
    }
}