// Table form
//
// Aligned form using display table.
//
// Markup:
//<form>
//    <div class="coveo-table-form">
//        <div class="form-group">
//            <label for="field1">
//                Field 1
//            </label>
//            <div class="value">
//                <input type="text" name="field1" placeholder="Field 1" value="Field 1">
//            </div>
//        </div>
//        <div class="form-group">
//            <label for="field2">
//                Field 2
//            </label>
//            <div class="value validated-input">
//                <input type="text" name="field2" placeholder="Field 2">
//                <div class="input-validation-error-details">
//                    <i class="coveo-sprites-misc-alert"></i>
//                    <span class="input-validation-error-message">Error message goes here!</span>
//                </div>
//            </div>
//        </div>
//        <div class="form-group input-validation-error">
//            <label for="field3">
//                Field 3
//            </label>
//            <div class="value validated-input">
//                <input type="text" name="field3" placeholder="Field 3">
//                <div class="input-validation-error-details">
//                    <i class="coveo-sprites-misc-alert"></i>
//                    <span class="input-validation-error-message">Error message goes here!</span>
//                </div>
//            </div>
//        </div>
//    </div>
//</form>
//
// Styleguide 6.1

@import (reference) "../common/colors";
@import (reference) "../common/font";
@import (reference) "../lib/_elements";
@import (reference) "../lib/_mixins";

form {
    .coveo-table-form {
        display: table;
        table-layout: fixed;
        width: 100%;
        text-align: left;

        tr, .form-group {
            display: table-row;
            color: @block-text-color;
            height: 36px;

            & > label:first-child, .value, th, td {
                display: table-cell;
                border-bottom: solid 1px @table-header-background-color-dark;
            }

            & > label:first-child, th {
                width: 25%;
                background-color: @body-background-color;
                padding: 0 10px;
                vertical-align: middle;

                font-family: @base-font-family;
                font-size: 16px;
                color: @table-header-text-color;
            }

            .context-help {
                float: right;
            }

            .coveo-checkbox + span, .coveo-checkbox + button {
                margin-left: 10px;
            }

            .input-validation-error-details {
                display: none;
            }

            td > div:first-child {
                border-top: 2px solid white;
            }

            .value, td {
                background-color: @table-editable-cell-color;
                border-top: 2px solid white;
                vertical-align: middle;

                input, textarea, .admin-select {
                    padding: 6px 10px;
                    .box-sizing(border-box);
                }

                input {
                    height: 39px;
                    width: 100%;
                    text-align: left;
                    margin-bottom: 0;
                    background-color: transparent;
                    border-width: 0;
                    box-shadow: none;
                    resize: none;
                }

                input:disabled {
                    background-color: @disabled-input-backgroud-color;
                }

                &.admin-editable:hover {
                    background-color: @table-editable-cell-hover;
                }

                &.admin-non-editable {
                    background-color: @body-background-color;
                    padding-left: 9px;

                    i {
                        margin-right: 5px;
                        vertical-align: text-bottom;
                    }
                }

                .admin-multiline {
                    border: none;
                    margin-bottom: 0;
                }

                .admin-select {
                    width: 100%;

                    .dropdown-toggle {
                        cursor: pointer;
                        width: 100%;
                        text-align: left;
                        border: none;
                        background-color: transparent;
                        padding-right: 0;
                        padding-left: 0;
                        opacity: 1;
                        .box-shadow(none);
                        .box-sizing(border-box);

                        .coveo-sprites-misc-dropdown_arrow {
                            position: absolute;
                            right: 0;
                        }
                    }

                    .dropdown-menu {
                        width: 100%;
                        text-align: left;
                        max-height: 250px;
                        overflow-y: auto;
                        .slim-scroll();
                        .box-sizing(border-box);

                        li a i {
                            margin-top: 0;
                            margin-bottom: 0;
                            vertical-align: text-top;
                        }
                    }
                }

                textarea {
                    width: 100%;
                    margin-bottom: 0;
                    background-color: transparent;
                    border: none;
                    box-shadow: none;
                    resize: vertical;
                    .slim-scroll();
                }
            }

            &.input-validation-error, &.multiline-input-validation-error {

                .input-validation-error-details {
                    background-color: @invalid-message-background-color;
                    color: white;
                    display: block;
                    padding: 0 10px;

                    font-size: 11px;
                    line-height: 15px;

                    i {
                        vertical-align: -2px;
                    }
                }

                th, label {
                    color: @error-color;
                }

                td, th, label, .value {
                    border-bottom: solid 1px @invalid-message-background-color;
                }
            }

            &.input-validation-error {

                td, .value {
                    background-color: @invalid-background-color;
                }
            }

            &.multiline-input-validation-error .erroneous-input {
                background-color: @invalid-background-color;
            }
        }

        & + .coveo-table-form, & + .coveo-block-form {
            margin-top: 10px;
        }
    }
}
